.Period {
    --period-background-color: var(--navds-global-color-gray-100);
    --period-hover-color: var(--navds-global-color-gray-200);
    --period-border-color: var(--navds-global-color-gray-600);
    --period-icon-color: var(--navds-global-color-gray-900);
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 24px;
    border-radius: 24px;
    border: 1px solid var(--period-border-color);
    background: var(--period-background-color);
    outline: none;
    cursor: pointer;
    z-index: 10;
}

.Period.active,
.Period:active,
.Period:focus-visible {
    box-shadow: 0 0 0 2px var(--navds-semantic-color-focus);
    border-color: var(--navds-semantic-color-focus);
    z-index: 20;
}

.Period:hover,
.Period:active {
    background: var(--period-hover-color);
}

.Period > svg {
    flex-shrink: 0;
    margin-left: 8px;
}

.Period > svg.uvurderteVarslerIcon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14px;
}

.Period > svg > circle {
    fill: var(--period-icon-color);
    stroke: var(--period-icon-color);
}

.Period.success {
    --period-background-color: var(--navds-global-color-green-100);
    --period-hover-color: var(--navds-global-color-green-200);
    --period-border-color: var(--navds-global-color-green-700);
    --period-icon-color: var(--navds-global-color-green-700);
}

.Period.error {
    --period-background-color: var(--navds-global-color-red-50);
    --period-hover-color: var(--navds-global-color-red-100);
    --period-border-color: var(--navds-global-color-red-500);
    --period-icon-color: var(--navds-global-color-red-500);
}

.Period.attention {
    --period-background-color: var(--navds-global-color-orange-50);
    --period-hover-color: var(--navds-global-color-orange-100);
    --period-border-color: var(--navds-global-color-orange-600);
    --period-icon-color: var(--navds-global-color-orange-600);
}

.Period.old {
    --period-background-color: var(--navds-global-color-limegreen-100);
    --period-hover-color: var(--navds-global-color-limegreen-200);
    --period-border-color: var(--navds-global-color-limegreen-700);
    --period-icon-color: var(--navds-global-color-gray-900);
}

.Period.legacy {
    --period-background-color: var(--nav-infotrygd-bakgrunn-stiplet);
    --period-hover-color: var(--nav-infotrygd-bakgrunn-stiplet-hover);
    --period-border-color: var(--navds-global-color-gray-900);
    --period-icon-color: var(--navds-global-color-gray-900);
}

.Period.blank {
    --period-background-color: #ffffff;
    --period-hover-color: var(--navds-global-color-gray-100);
    --period-border-color: var(--navds-global-color-gray-600);
    --period-icon-color: var(--navds-global-color-gray-600);
}

.Period.waiting {
    --period-background-color: var(--navds-global-color-lightblue-50);
    --period-hover-color: var(--navds-global-color-lightblue-100);
    --period-border-color: var(--navds-global-color-lightblue-700);
    --period-icon-color: var(--navds-global-color-gray-900);
}

.Period.inactiveAUU {
    cursor: not-allowed;
    --period-hover-color: var(--navds-global-color-limegreen-100);
}

.Period.inactiveAUU:active {
    box-shadow: none;
    border-color: var(--navds-global-color-limegreen-700);
}
