.Periods {
    position: relative;
    height: 24px;
    min-height: 24px;
}

.Period {
    --period-background-color: #e7e9e9;
    --period-hover-color: var(--a-gray-200);
    --period-border-color: #78706a;
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.119 5-0.1248 0.00122c-1.8748 0.03287-3.6395 0.79071-4.9683 2.1341-1.3386 1.3532-2.0574 3.1246-2.0252 4.9884 0.06696 3.8574 3.0892 6.8791 6.8803 6.8791l0.1236-0.0013c3.9237-0.0675 7.0616-3.2633 6.994-7.1219-0.0669-3.8574-3.0892-6.8796-6.8796-6.8796z' fill='%233E3832'/%3E%3Cpath d='m12.06 16.139h-0.0187c-0.5677 0-1.0323-0.4542-1.0416-1.0229-0.0104-0.575 0.4479-1.0499 1.0228-1.0593 0.0063 0 0.0125-0.0011 0.0188-0.0011 0.5677 0 1.0312 0.4552 1.0416 1.0239 0.0104 0.575-0.4489 1.0489-1.0229 1.0594z' clip-rule='evenodd' fill='%23fff' fill-rule='evenodd'/%3E%3Cpath d='m12.042 7.6666c0.3835 0 0.6944 0.24873 0.6944 0.55555v3.8889c0 0.3068-0.3109 0.5555-0.6944 0.5555s-0.6944-0.2487-0.6944-0.5555v-3.8889c0-0.30682 0.3109-0.55555 0.6944-0.55555z' fill='%23fff'/%3E%3C/svg%3E%0A");
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 24px;
    border-radius: 24px;
    border: 1px solid var(--period-border-color);
    background: var(--period-background-color);
    outline: none;
    cursor: pointer;
    z-index: 10;
}

.Period.active,
.Period:active,
.Period:focus-visible {
    box-shadow: 0 0 0 2px var(--a-border-focus);
    border-color: var(--a-border-focus);
    z-index: 20;
}

.Period:hover,
.Period:active {
    background: var(--period-hover-color);
}

.Period:before {
    content: '';
    position: absolute;
    width: calc(100% - 1rem);
    height: 100%;
    margin-left: 0.25rem;
    background-size: 24px !important;
    background: var(--period-icon-data) no-repeat left center;
}

.InfoPin {
    position: absolute;
    width: 2px;
    height: 6px;
    background: var(--a-surface-action);
    left: 50%;
    top: -6px;
    transform: translateX(-50%);
    pointer-events: none;
}

.InfoPin:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--a-surface-action);
    transform: translateX(-50%);
}

.NotatPin {
    position: absolute;
    width: 2px;
    height: 6px;
    background: var(--a-surface-action);
    left: 50%;
    top: -7px;
    transform: translateX(-50%);
    pointer-events: none;
}

.NotatPin:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 2px solid var(--a-surface-action);
    transform: translateX(-50%);
}

.NotatPin:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--a-surface-action);
    transform: translateX(-50%);
}

/*Farger*/

.Period.attention {
    --period-background-color: var(--a-orange-100);
    --period-hover-color: var(--a-orange-200);
    --period-border-color: var(--a-border-warning);
}

.Period.success {
    --period-background-color: var(--a-green-100);
    --period-hover-color: var(--a-green-200);
    --period-border-color: var(--a-border-success);
}

.Period.old {
    --period-background-color: var(--a-limegreen-100);
    --period-hover-color: var(--a-limegreen-200);
    --period-border-color: var(--a-limegreen-700);
}

.Period.error {
    --period-background-color: var(--a-red-100);
    --period-hover-color: var(--a-red-200);
    --period-border-color: var(--a-border-danger);
}

.Period.legacy {
    --period-background-color: var(--nav-infotrygd-bakgrunn-stiplet);
    --period-hover-color: var(--nav-infotrygd-bakgrunn-stiplet-hover);
    --period-border-color: #78706a;
}

.Period.blank {
    --period-background-color: var(--nav-ghostpolse-bakgrunn);
}

/*Ikoner*/

.Period.infotrygdFerie,
.Period.kunFerie {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.03 5 0.327 1.1466c3.5126-0.8453 6.6893-0.04737 7.2394 1.8848l0.4038 1.418-2.8155 0.81303-0.7245-0.40447-0.4017 0.72967-2.2524 0.6501 1.2326 4.8507c2.4712 0.0893 4.4878 1.3178 4.8889 2.9115h-10.355c0.36648-1.4563 2.0819-2.6077 4.2605-2.8635l-1.1534-4.5735-2.2523 0.6508-0.72456-0.4045-0.40163 0.7297-2.8155 0.813-0.40376-1.418c-0.55018-1.9323 1.7242-4.3044 5.1482-5.4621l-0.32662-1.1467 1.1262-0.32521z' clip-rule='evenodd' fill='%23262626' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.Period.utbetaltAutomatisk {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m10.465 11.572-0.46888 1.631h3.4047l-0.4689-1.631c-0.2175-0.7068-0.4281-1.4339-0.632-2.1814-0.1903-0.74754-0.3806-1.4883-0.5709-2.2222h-0.0815c-0.1903 0.74753-0.3806 1.4951-0.5708 2.2426-0.1903 0.73395-0.3942 1.4542-0.6117 2.161zm-4.4648 7.0948 4.3425-13.333h2.7727l4.3425 13.333h-2.4873l-1.0397-3.6086h-4.4852l-1.0398 3.6086h-2.4057z' fill='%233E3832'/%3E%3C/svg%3E%0A");
}

.Period.tilUtbetalingAutomatisk {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4.1388 5.853h3.4709v-1.7101c0-0.05778 0.03387-0.11012 0.08552-0.13214 0.05165-0.02203 0.11135-0.00973 0.15133 0.0306l2.7792 2.853c0.0261 0.02689 0.0409 0.0635 0.0409 0.10125 0 0.03776-0.0148 0.07437-0.0406 0.10125l-2.7792 2.8613c-0.02666 0.02746-0.0622 0.04176-0.0983 0.04176-0.01777 0-0.03582-0.00372-0.05303-0.01087-0.05193-0.02174-0.0858-0.07408-0.0858-0.13185v-1.7161h-3.4709c-0.07664 0-0.13884-0.06407-0.13884-0.14301v-2.0021c0-0.07894 0.0622-0.14301 0.13884-0.14301z' clip-rule='evenodd' fill='%23262626' fill-rule='evenodd'/%3E%3Cpath d='m13.49 11.927-0.4365 1.5494h3.1696l-0.4365-1.5494c-0.2025-0.6714-0.3986-1.3622-0.5884-2.0724-0.1772-0.71016-0.3543-1.4139-0.5315-2.1111h-0.0759c-0.1771 0.71016-0.3543 1.4203-0.5314 2.1305-0.1772 0.6972-0.367 1.3816-0.5694 2.053zm-4.1566 6.7401 4.0427-12.667h2.5813l4.0427 12.667h-2.3156l-0.9679-3.4282h-4.1756l-0.968 3.4282h-2.2396z' fill='%233E3832'/%3E%3C/svg%3E%0A");
}

.Period.tilUtbetaling {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17.837 9.7213c0 0.9276-0.7546 1.6821-1.6821 1.6821-0.9276 0-1.6822-0.7545-1.6822-1.6821 0-0.92806 0.7546-1.6821 1.6822-1.6821 0.9275 0 1.6821 0.75408 1.6821 1.6821zm-1.6821-0.72087c-0.1327 0-0.2403 0.10766-0.2403 0.24031v0.96126c0 0.1326 0.1076 0.2403 0.2403 0.2403 0.1321 0 0.2403-0.1077 0.2403-0.2403v-0.96126c0-0.13265-0.1082-0.24031-0.2403-0.24031z' clip-rule='evenodd' fill='%23262626' fill-rule='evenodd'/%3E%3Cpath d='m8.2249 14.287h1.9225c0.1322 0 0.2403 0.1077 0.2403 0.2404v3.6046c0 0.1326-0.1081 0.2403-0.2403 0.2403h-1.9225c-0.13265 0-0.2403-0.1077-0.2403-0.2403v-3.6046c0-0.1327 0.10765-0.2404 0.2403-0.2404z' fill='%23262626'/%3E%3Cpath d='m17.761 15.741c0.6368-0.1821 1.1236-0.025 1.6879 0.5388 0.0543 0.0548 0.0793 0.1326 0.0677 0.209-0.0125 0.0769-0.0605 0.1423-0.1297 0.1769-1.328 0.6637-2.2205 1.1737-2.8722 1.5461-0.9847 0.5628-1.4562 0.8214-2.0075 0.8214-0.4623 0-0.9809-0.1821-1.9075-0.519-0.471-0.1716-1.0574-0.3845-1.8076-0.6349-0.0981-0.0327-0.1644-0.1245-0.1644-0.2278v-2.6434c0-0.1327 0.1077-0.2403 0.2403-0.2403h0.7209c1.1016 0 1.772 0.6704 1.9926 0.891 0.0452 0.0447 0.1063 0.0702 0.1702 0.0702h1.4418c0.5215 0 0.6609 0.4527 0.6609 0.7209 0 0.1927-0.062 0.3773-0.1702 0.5071-0.1182 0.1417-0.283 0.2138-0.4907 0.2138h-2.403c-0.1327 0-0.2403 0.1077-0.2403 0.2403 0 0.1327 0.1076 0.2404 0.2403 0.2404h2.403c0.3518 0 0.6498-0.1341 0.8603-0.3869 0.1812-0.2178 0.2812-0.5071 0.2812-0.8147 0-0.0769-0.0072-0.1533-0.0197-0.2288l1.4457-0.4801z' fill='%23262626'/%3E%3Cpath d='m13.992 14.767c0.9276 0 1.6821-0.7545 1.6821-1.6821 0-0.9281-0.7545-1.6822-1.6821-1.6822s-1.6822 0.7541-1.6822 1.6822c0 0.9276 0.7546 1.6821 1.6822 1.6821zm-0.2403-2.1627c0-0.1326 0.1076-0.2403 0.2403-0.2403 0.1322 0 0.2403 0.1077 0.2403 0.2403v0.9612c0 0.1327-0.1081 0.2403-0.2403 0.2403-0.1327 0-0.2403-0.1076-0.2403-0.2403v-0.9612z' clip-rule='evenodd' fill='%23262626' fill-rule='evenodd'/%3E%3Cpath d='m4.1545 7.3351h3.8621v-1.8473c0-0.06241 0.0377-0.11895 0.09516-0.14274 0.05747-0.02379 0.1239-0.01051 0.16839 0.03306l3.0924 3.0819c0.0291 0.02904 0.0455 0.06859 0.0455 0.10937 0 0.04079-0.0164 0.08033-0.0452 0.10938l-3.0924 3.0909c-0.02966 0.0296-0.06921 0.0451-0.10938 0.0451-0.01977 0-0.03985-4e-3 -0.05901-0.0117-0.05777-0.0235-0.09547-0.0801-0.09547-0.1425v-1.8538h-3.8621c-0.08527 0-0.15448-0.06921-0.15448-0.15448v-2.1628c0-0.08528 0.06921-0.15448 0.15448-0.15448z' clip-rule='evenodd' fill='%23262626' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.Period.infotrygdUtbetalt,
.Period.utbetalt {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.48 7.5557c0 1.0808-0.8792 1.96-1.96 1.96s-1.96-0.8792-1.96-1.96c0-1.0814 0.8792-1.96 1.96-1.96s1.96 0.87864 1.96 1.96zm-1.96-0.83996c-0.1546 0-0.28 0.12544-0.28 0.28v1.12c0 0.15456 0.1254 0.28 0.28 0.28 0.154 0 0.28-0.12544 0.28-0.28v-1.12c0-0.15456-0.126-0.28-0.28-0.28zm-9.24 6.1598h2.24c0.154 0 0.28 0.1254 0.28 0.28v4.2c0 0.1546-0.126 0.28-0.28 0.28h-2.24c-0.15456 0-0.28-0.1254-0.28-0.28v-4.2c0-0.1546 0.12544-0.28 0.28-0.28zm11.112 1.6944c0.742-0.2122 1.3093-0.0291 1.9667 0.6278 0.0633 0.0638 0.0924 0.1546 0.079 0.2436-0.0146 0.0896-0.0706 0.1658-0.1512 0.2061-1.5473 0.7733-2.5872 1.3675-3.3466 1.8015-1.1474 0.6558-1.6968 0.957-2.3391 0.957-0.5387 0-1.1429-0.2122-2.2226-0.6048-0.54882-0.1999-1.232-0.448-2.1062-0.7397-0.11424-0.0381-0.19152-0.1451-0.19152-0.2655v-3.08c0-0.1545 0.12544-0.28 0.28-0.28h0.84c1.2835 0 2.0647 0.7812 2.3218 1.0383 0.0526 0.0521 0.1237 0.0817 0.1982 0.0817h1.68c0.6076 0 0.77 0.5276 0.77 0.84 0 0.2246-0.0722 0.4396-0.1982 0.5908-0.1378 0.1652-0.3299 0.2492-0.5718 0.2492h-2.8c-0.1546 0-0.28 0.1255-0.28 0.28 0 0.1546 0.1254 0.28 0.28 0.28h2.8c0.4099 0 0.7571-0.1562 1.0024-0.4508 0.2111-0.2536 0.3276-0.5908 0.3276-0.9492 0-0.0896-0.0084-0.1786-0.023-0.2665l1.6845-0.5595zm-4.3915-1.1345c1.0808 0 1.96-0.8792 1.96-1.96 0-1.0814-0.8792-1.96-1.96-1.96s-1.96 0.87859-1.96 1.96c0 1.0808 0.8792 1.96 1.96 1.96zm-0.28-2.52c0-0.1545 0.1254-0.28 0.28-0.28 0.154 0 0.28 0.1255 0.28 0.28v1.12c0 0.1546-0.126 0.28-0.28 0.28-0.1546 0-0.28-0.1254-0.28-0.28v-1.12z' clip-rule='evenodd' fill='%233E3832' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.Period.tilGodkjenning {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m18.472 8.8279-0.2065 0.2065-3.2999-3.2993 0.2065-0.20591c0.2753-0.27592 0.6416-0.42759 1.0313-0.42759s0.756 0.15109 1.0313 0.42759l1.2373 1.2367c0.5687 0.56875 0.5687 1.4939 0 2.0621zm-1.0329 1.0329 0.4127-0.41236-3.2989-3.3012-0.4126 0.41236 3.2988 3.3012zm-12.252 8.9525c-0.07117-0.0717-0.10092-0.175-0.07759-0.273l0.8855-3.7712c0.00584-0.0251 0.01517-0.049 0.02742-0.0718l3.2812 3.2818c-0.02275 0.0117-0.04608 0.0216-0.07117 0.0275l-3.7724 0.8843c-0.10267 0.0239-0.20359-0.0082-0.273-0.0776zm11.841-8.5412-7.3037 7.3037-3.2998-3.2998 7.3037-7.3037 3.2998 3.2998z' clip-rule='evenodd' fill='%233E3832' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.Period.venterPåKiling,
.Period.venter,
.Period.tilAnnullering {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.015 4h-6e-4c-0.3674 0-0.666 0.3078-0.6667 0.68805l-0.0053 2.7605c0 0.38164 0.2973 0.6915 0.6653 0.69219h0.0013c0.368 0 0.6667-0.30779 0.6667-0.68874l0.0053-2.7605c7e-4 -0.38232-0.2973-0.69081-0.666-0.6915zm4.9854 7.9454 1.3333 0.0028c0.3687 6e-4 0.666 0.3112 0.666 0.6908-0.0013 0.3816-0.2993 0.6894-0.6667 0.6894h-0.0013l-1.3333-0.0028c-0.3687-7e-4 -0.6667-0.3098-0.6654-0.6922 0-0.3809 0.2874-0.6797 0.6674-0.688zm-5.6674 5.7342c0-0.3809 0.298-0.6901 0.6667-0.6901 0.3673 0 0.6667 0.3092 0.6667 0.6901v1.3803c0 0.3816-0.2994 0.6901-0.6667 0.6901-0.3687 0-0.6667-0.3085-0.6667-0.6901v-1.3803zm-1.9993-0.5673c0.14267-0.3526 0.532-0.5196 0.8727-0.3712 0.34 0.1456 0.5 0.5507 0.358 0.902l-0.5127 1.2739c-0.10733 0.2664-0.354 0.4251-0.616 0.4251-0.086 0-0.172-0.0165-0.25666-0.0531-0.33934-0.1463-0.5-0.5507-0.35867-0.9027l0.51333-1.274zm5.316 0.0111c-0.1393-0.3534-0.53-0.5217-0.87-0.3768-0.3407 0.1449-0.5033 0.5479-0.3633 0.9013l0.506 1.276c0.106 0.2664 0.3546 0.4286 0.6166 0.4286 0.084 0 0.17-0.0166 0.2527-0.0518 0.3407-0.1456 0.5027-0.5486 0.3633-0.902l-0.5053-1.2753zm-7.65-3.8171h-0.00133l-1.3333-0.0034c-0.36867 0-0.66667-0.3106-0.66534-0.6908 0-0.3817 0.29867-0.6895 0.66667-0.6895h0.00133l1.3333 0.0035c0.368 0 0.66533 0.3098 0.66533 0.6915-0.00133 0.3809-0.29933 0.6887-0.66667 0.6887zm9.006-2.3899c0.106 0.2678 0.3547 0.4286 0.6167 0.4286 0.0846 0 0.17-0.0173 0.2533-0.0525l1.2333-0.5265c0.34-0.1456 0.5027-0.5487 0.362-0.90064-0.14-0.35265-0.5286-0.52242-0.87-0.37543l-1.2333 0.52587c-0.34 0.1463-0.502 0.5493-0.362 0.9006zm-8.884 3.0421c0.34134-0.147 0.73 0.0228 0.87 0.3761 0.14067 0.352-0.02133 0.755-0.362 0.9006l-1.2333 0.5266c-0.08333 0.0352-0.16933 0.0517-0.254 0.0517-0.262 0-0.51067-0.1608-0.61667-0.4272-0.14-0.3519 0.022-0.7556 0.36267-0.9013l1.2333-0.5265zm8.878 1.8468c-0.2593-0.2685-0.6813-0.2699-0.9427-7e-4 -0.2606 0.2691-0.262 0.7046-0.0013 0.9751l0.94 0.9786c0.1307 0.1339 0.302 0.2029 0.4727 0.2029 0.1706 0 0.34-0.0683 0.4706-0.2015 0.2614-0.2699 0.2614-0.706 2e-3 -0.9759l-0.9413-0.9785zm-0.458-6.1422c-0.1713 0-0.3427-0.06763-0.4727-0.20289-0.2593-0.27053-0.2593-0.70669 2e-3 -0.97653l0.944-0.97445c0.262-0.26777 0.6834-0.26777 0.9434 0.00276 0.2606 0.27053 0.2593 0.70669-0.0014 0.97514l-0.9446 0.97446c-0.13 0.13457-0.3007 0.20151-0.4707 0.20151zm-1.8767-1.1774c0.084 0.03589 0.1707 0.05245 0.256 0.05245 0.2607 0 0.51-0.16011 0.6154-0.42511l0.5126-1.2747c0.142-0.35265-0.0193-0.75569-0.3593-0.90268-0.34-0.147-0.7307 0.02001-0.8713 0.37128l-0.5127 1.276c-0.1413 0.35127 0.0193 0.75569 0.3593 0.90268zm-4.3326-2.559c0.34-0.14837 0.72933 0.0214 0.87063 0.37474l0.508 1.2754c0.14 0.35196-0.0213 0.75638-0.3626 0.9013-0.0827 0.0352-0.1694 0.05176-0.2534 0.05176-0.26196 0-0.51063-0.1608-0.61596-0.4258l-0.50867-1.276c-0.14067-0.35266 0.02133-0.75638 0.362-0.90131zm-1.334 3.5196c0.13 0.13526 0.30133 0.2022 0.472 0.2022 0.17 0 0.34067-0.06625 0.47133-0.20082 0.26-0.26846 0.26134-0.706 6.7e-4 -0.97584l-0.94067-0.9779c-0.26-0.26984-0.682-0.27053-0.94333-0.00276-0.26067 0.26983-0.26133 0.70668-0.00133 0.97652l0.94133 0.9786zm-0.012 6.3443c0.26067-0.2699 0.682-0.2685 0.94267 2e-3 0.25933 0.2685 0.25866 0.7067-2e-3 0.9759l-0.94467 0.9737c-0.13 0.1332-0.30133 0.2009-0.47 0.2009-0.17133 0-0.34267-0.0684-0.47267-0.2029-0.26-0.2706-0.25933-0.7074 0.00134-0.9759l0.94533-0.9737zm10.115-1.2823-1.2313-0.53c-0.34-0.147-0.7307 0.02-0.8714 0.3706-0.142 0.3533 0.0187 0.7564 0.3587 0.9034l1.2307 0.5314c0.0833 0.0358 0.1706 0.0524 0.256 0.0524 0.2613 0 0.5086-0.1587 0.6153-0.4237 0.1427-0.3527-0.018-0.7564-0.358-0.9041zm-10.975-3.2353-1.232-0.5307c-0.33867-0.147-0.5-0.5507-0.35867-0.90267 0.14133-0.35335 0.532-0.51829 0.872-0.37267l1.2307 0.53139c0.34 0.14705 0.50066 0.55005 0.35866 0.90265-0.106 0.2657-0.35333 0.4252-0.61466 0.4252-0.08534 0-0.17267-0.0166-0.256-0.0532z' clip-rule='evenodd' fill='%233E3832' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.Period.revurderingFeilet {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 18.08v-13.08h4.42c0.9067 0 1.72 0.12 2.44 0.36 0.7334 0.24 1.3067 0.64666 1.72 1.22 0.4267 0.56 0.64 1.3267 0.64 2.3 0 1-0.24 1.8067-0.72 2.42-0.4666 0.6134-1.0933 1.0534-1.88 1.32l1.2015 2.1026c-0.6893 0.4885-1.1952 1.2197-1.3917 2.068l-2.1098-3.8306h-2v5.12h-2.32zm2.32-6.96h1.86c0.8934 0 1.5734-0.1866 2.04-0.56 0.48-0.3867 0.72-0.94665 0.72-1.68 0-0.74667-0.24-1.2667-0.72-1.56-0.4666-0.30667-1.1466-0.46-2.04-0.46h-1.86v4.26z' clip-rule='evenodd' fill='%23262626' fill-rule='evenodd'/%3E%3Cpath d='m17.34 14.48c-1.9262 0-3.496 1.5668-3.4996 3.493-0.0019 0.935 0.3603 1.8146 1.0201 2.4771 0.6598 0.6623 1.5382 1.0281 2.4731 1.0299h0.0067c1.926 0 3.4961-1.567 3.5-3.4936 0.0037-1.9295-1.5634-3.5027-3.5003-3.5064z' fill='%23262626'/%3E%3Cpath d='m17.29 17.506 1.1465-1.1464c0.1266-0.1267 0.3319-0.1267 0.4586 0 0.1266 0.1266 0.1266 0.3319 0 0.4586l-1.1465 1.1464 1.1465 1.1465c0.1266 0.1266 0.1266 0.3319 0 0.4585-0.1267 0.1267-0.332 0.1267-0.4586 0l-1.1465-1.1464-1.1464 1.1464c-0.1266 0.1267-0.3319 0.1267-0.4586 0-0.1266-0.1266-0.1266-0.3319 0-0.4585l1.1465-1.1465-1.1465-1.1464c-0.1266-0.1267-0.1266-0.332 0-0.4586 0.1267-0.1267 0.332-0.1267 0.4586 0l1.1464 1.1464z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.Period.avslag {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.999 5c-3.8524 0-6.9921 3.0733-6.9994 6.8517-0.00365 1.8339 0.7207 3.5592 2.0404 4.8589 1.3196 1.299 3.0763 2.0166 4.9462 2.0202h0.0134c3.8518 0 6.9921-3.0739 7-6.8529 0.0073-3.7849-3.1269-6.8707-7.0006-6.8779z' fill='%233E3832'/%3E%3Cpath d='m11.9 10.935 2.2929-2.2488c0.2533-0.2484 0.6639-0.2484 0.9172 0 0.2532 0.24839 0.2532 0.65112 0 0.89952l-2.2929 2.2488 2.2929 2.2488c0.2532 0.2484 0.2532 0.6511 0 0.8995-0.2533 0.2484-0.6639 0.2484-0.9172 0l-2.2929-2.2488-2.2929 2.2488c-0.25327 0.2484-0.66389 0.2484-0.91716 0s-0.25327-0.6511 0-0.8995l2.2928-2.2488-2.2928-2.2488c-0.25327-0.2484-0.25327-0.65113 0-0.89952 0.25327-0.2484 0.66389-0.2484 0.91716 0l2.2929 2.2488z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.Period.ingenUtbetaling {
    --period-icon-data: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 19C15.866 19 19 15.866 19 12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19Z' fill='%233E3832'/%3E%3Cpath d='M10.5317 13.5656L15.3718 9.19067C15.6656 8.92446 16.1277 8.93845 16.4031 9.22358C16.6787 9.50885 16.6629 9.95643 16.3685 10.2233L11.0117 15.0656C10.8754 15.1881 10.6975 15.2545 10.5149 15.2545C10.3232 15.2545 10.1388 15.1821 9.99873 15.0479L8.21355 13.3189C7.92882 13.0431 7.92882 12.5954 8.21355 12.3196C8.49829 12.0438 8.96054 12.0438 9.24528 12.3196L10.5317 13.5656Z' fill='white'/%3E%3C/svg%3E%0A");
}

.Period.annullert {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5.3333 12.788h2.6666c0.18333 0 0.33333 0.1493 0.33333 0.3333v4.9998c0 0.184-0.15 0.3334-0.33333 0.3334h-2.6666c-0.18399 0-0.33332-0.1494-0.33332-0.3334v-4.9998c0-0.184 0.14933-0.3333 0.33332-0.3333zm13.228 2.0171c0.8833-0.2527 1.5587-0.0347 2.3413 0.7473 0.0753 0.076 0.11 0.184 0.094 0.29-0.0173 0.1066-0.084 0.1973-0.18 0.2453-1.8419 0.9206-3.0799 1.628-3.9839 2.1446-1.3659 0.7807-2.0199 1.1393-2.7846 1.1393-0.6413 0-1.3606-0.2527-2.6459-0.72-0.6533-0.238-1.4666-0.5333-2.5072-0.8806-0.136-0.0453-0.22799-0.1727-0.22799-0.316v-3.6665c0-0.184 0.14933-0.3334 0.33332-0.3334h0.99997c1.5279 0 2.4579 0.93 2.7639 1.236 0.0627 0.062 0.1473 0.0973 0.236 0.0973h1.9999c0.7233 0 0.9167 0.628 0.9167 1 0 0.2673-0.086 0.5233-0.236 0.7033-0.164 0.1967-0.3927 0.2967-0.6807 0.2967h-3.3332c-0.184 0-0.3333 0.1493-0.3333 0.3333s0.1493 0.3333 0.3333 0.3333h3.3332c0.488 0 0.9013-0.186 1.1933-0.5366 0.2513-0.302 0.39-0.7034 0.39-1.13 0-0.1067-0.01-0.2127-0.0273-0.3173l2.0052-0.666z' clip-rule='evenodd' fill='%233E3832' fill-rule='evenodd'/%3E%3Cpath d='m11.857 10.855 5.8549-5.8549m0 5.8549-5.8549-5.8549' stroke='%233E3832' stroke-width='1.52'/%3E%3C/svg%3E%0A");
}

.Period.kunPermisjon {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7.333 4h6.2293c2.3565 0 4.2667 1.9102 4.2667 4.2667 0 2.3564-1.9102 4.2666-4.2667 4.2666h-4.9493v7.4667h-1.28v-16zm1.28 7.2533h4.9493c1.6495 0 2.9867-1.3371 2.9867-2.9866s-1.3372-2.9867-2.9867-2.9867h-4.9493v5.9733z' clip-rule='evenodd' fill='%233E3832' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.Period.revurdertIngenUtbetaling,
.Period.revurdert {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7.66 19v-13.08h4.42c0.68 0 1.3133 0.06667 1.9 0.2s1.0933 0.35333 1.52 0.66c0.4267 0.29333 0.76 0.68667 1 1.18 0.2533 0.49333 0.38 1.1067 0.38 1.84 0 1-0.24 1.8067-0.72 2.42-0.4667 0.6133-1.0933 1.0533-1.88 1.32l3.12 5.46h-2.6l-2.82-5.12h-2v5.12h-2.32zm2.32-6.96h1.86c0.8933 0 1.5733-0.1867 2.04-0.56 0.48-0.3733 0.72-0.9333 0.72-1.68 0-0.76-0.24-1.2867-0.72-1.58-0.4667-0.29333-1.1467-0.44-2.04-0.44h-1.86v4.26z' fill='%233E3832'/%3E%3C/svg%3E%0A");
}

.Period.revurderes {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m21.357 11.408 1.9196 1.9196c0.0714 0.0714 0.1121 0.1689 0.1121 0.271 0 0.1022-0.0407 0.1997-0.1121 0.2719l-1.2646 1.2638-2.4625-2.4624 1.2646-1.2639c0.1498-0.1497 0.3932-0.1497 0.5429 0zm-2.4878 1.9451-3.5435 3.5428 2.4624 2.4624 3.681-3.681-2.4624-2.4624-0.1375 0.1382zm-4.6799 6.6677c-0.0392 0.1343-0.0016 0.2787 0.0975 0.377 0.0722 0.0729 0.1704 0.1121 0.271 0.1121 0.0354 0 0.0707-0.0046 0.1052-0.0146l2.4709-0.7056-2.239-2.239-0.7056 2.4701z' clip-rule='evenodd' fill='%23262626' fill-rule='evenodd'/%3E%3Cpath d='m7.6602 5.92v13.08h2.32v-5.12h2l2.1139 3.8382 0.4061-1.2182 0.9363-0.9363-1.1563-2.0237c0.7866-0.2666 1.4133-0.7066 1.88-1.32 0.48-0.6133 0.72-1.42 0.72-2.42 0-0.97333-0.2134-1.74-0.64-2.3-0.4134-0.57333-0.9867-0.98-1.72-1.22-0.72-0.24-1.5334-0.36-2.44-0.36h-4.42zm4.18 6.12h-1.86v-4.26h1.86c0.8933 0 1.5733 0.15334 2.04 0.46 0.48 0.29334 0.72 0.81334 0.72 1.56 0 0.73336-0.24 1.2934-0.72 1.68-0.4667 0.3734-1.1467 0.56-2.04 0.56z' clip-rule='evenodd' fill='%233E3832' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.Period.utenSykefravær {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.3515 14.667 8.3148-8 1 1-9.3148 9-4.0185-4 1-1 3.0185 3z' clip-rule='evenodd' fill='%23262626' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.Period.utenSykefraværDeaktivert {
    --period-icon-data: url("data:image/svg+xml,%3Csvg viewBox='-5 -5 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99939 0C3.14695 0 0.00730283 3.0733 -1.51524e-06 6.85165C-0.00365369 8.68561 0.720694 10.4109 2.04035 11.7106C3.36 13.0096 5.11669 13.7272 6.98661 13.7308H7C10.8518 13.7308 13.9921 10.6569 14 6.87792C14.0073 3.09301 10.8731 0.00716388 6.99939 0Z' fill='%233E3832'/%3E%3Cpath d='M6.9 5.9351L9.19289 3.6863C9.44616 3.4379 9.85678 3.4379 10.1101 3.6863C10.3633 3.93469 10.3633 4.33742 10.1101 4.58582L7.81716 6.83462L10.1101 9.08341C10.3633 9.33181 10.3633 9.73454 10.1101 9.98293C9.85678 10.2313 9.44616 10.2313 9.19289 9.98293L6.9 7.73414L4.60711 9.98293C4.35384 10.2313 3.94322 10.2313 3.68995 9.98293C3.43668 9.73454 3.43668 9.33181 3.68995 9.08341L5.98284 6.83462L3.68995 4.58582C3.43668 4.33742 3.43668 3.93469 3.68995 3.6863C3.94322 3.4379 4.35384 3.4379 4.60711 3.6863L6.9 5.9351Z' fill='white'/%3E%3C/svg%3E%0A");
}

.Period.ukjent,
.Period.infotrygdUkjent {
    --period-icon-data: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.119 5-0.1248 0.00122c-1.8748 0.03287-3.6395 0.79071-4.9683 2.1341-1.3386 1.3532-2.0574 3.1246-2.0252 4.9884 0.06696 3.8574 3.0892 6.8791 6.8803 6.8791l0.1236-0.0013c3.9237-0.0675 7.0616-3.2633 6.994-7.1219-0.0669-3.8574-3.0892-6.8796-6.8796-6.8796z' fill='%233E3832'/%3E%3Cpath d='m12.06 16.139h-0.0187c-0.5677 0-1.0323-0.4542-1.0416-1.0229-0.0104-0.575 0.4479-1.0499 1.0228-1.0593 0.0063 0 0.0125-0.0011 0.0188-0.0011 0.5677 0 1.0312 0.4552 1.0416 1.0239 0.0104 0.575-0.4489 1.0489-1.0229 1.0594z' clip-rule='evenodd' fill='%23fff' fill-rule='evenodd'/%3E%3Cpath d='m12.042 7.6666c0.3835 0 0.6944 0.24873 0.6944 0.55555v3.8889c0 0.3068-0.3109 0.5555-0.6944 0.5555s-0.6944-0.2487-0.6944-0.5555v-3.8889c0-0.30682 0.3109-0.55555 0.6944-0.55555z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
