.Timeline {
    --row-name-width: 250px;
    --timeline-padding-top: 24px;
    --timeline-padding-horizontal: 32px;
    position: relative;
    grid-area: timeline;
    display: flex;
    flex-direction: column;
    padding: var(--timeline-padding-top) var(--timeline-padding-horizontal) 0;
    border-bottom: 1px solid var(--navds-semantic-color-border);
}

.Rows {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.WindowPicker {
    align-self: flex-end;
    margin: 16px 0;
}

.Error {
    background-color: var(--navds-semantic-color-feedback-danger-background);
    padding: var(--timeline-padding-top) var(--timeline-padding-horizontal);
}
