.Icon {
  width: 1.25rem;
  height: 1.25rem;
  background-position: center;
  margin-left: 0.25rem;

  &:focus {
    outline: none;
  }

  &.Icon-aaregisteret {
    background-image: url('img/Ikon_aaregisteret.svg');
  }

  &.Icon-inntekstmelding {
    background-image: url('img/Ikon_inntekstmelding.svg');
  }

  &.Icon-arbeidsgiver_grå {
    background-image: url('img/Ikon_arbeidsgiver_grå.svg');
  }

  &.Icon-sykmelder {
    background-image: url('img/Ikon_sykmelder.svg');
  }

  &.Icon-meny {
    background-image: url('img/Ikon_meny.svg');
  }
}