.Navn {
    min-width: 15rem;
}

.Verdi {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--ax-text-neutral);
    text-align: left;
    min-width: 100px;
}
