.SaksbildeMenu {
    grid-area: sakslinje;
    display: flex;
    justify-content: space-between;
    height: 48px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--a-border-divider);
    padding: 0 2rem 0 2rem;
}

.SaksbildeMenu.Error {
    background: var(--a-surface-danger-subtle);
    display: flex;
    align-items: center;
}

.SaksbildeMenu > div:first-of-type {
    display: flex;
}

.SaksbildeMenu > div:last-of-type {
    margin-left: 1rem;
}

.TabList {
    display: flex;
}

.SaksbildeMenu.Skeleton .TabList > span:not(:last-of-type) {
    margin: auto 13px;
}

.SaksbildeMenu.Skeleton .TabList > span:nth-of-type(1) {
    width: 72px;
    min-width: 72px;
}

.SaksbildeMenu.Skeleton .TabList > span:nth-of-type(2) {
    width: 98px;
    min-width: 98px;
}

.SaksbildeMenu.Skeleton .TabList > span:nth-of-type(3) {
    width: 133px;
    min-width: 133px;
}

.SaksbildeMenu.Skeleton .TabList > span:nth-of-type(4) {
    width: 80px;
    min-width: 80px;
}

.NavLink {
    height: 48px;
    text-decoration: none;
    color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0 13px;
    /*border-bottom: 1px solid var(--a-border-strong);*/
    transition: background-color 0.1s ease;
}

.NavLink:hover {
    background-color: var(--a-surface-action-subtle-hover);
}

.NavLink:active {
    background-color: var(--a-surface-action-selected);
}

.NavLink:focus-visible {
    box-shadow: inset 0 0 0 3px var(--a-border-focus);
}

.NavLink:after {
    content: attr(title);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--a-text-default);
    white-space: nowrap;
}

.NavLink:active:after {
    color: var(--a-text-on-inverted);
}

.ActiveLink.NavLink:after {
    font-weight: 600;
}

.ActiveLink:before {
    position: absolute;
    content: '';
    background: var(--a-surface-action);
    bottom: 0;
    left: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%;
    transition: height 0.1s ease;
    height: 4px;
}
