.SortButton {
    border: none;
    cursor: pointer;
    background: none;
    user-select: none;
    color: var(--ax-text-neutral);
    padding: 0 1.25rem 0 0;
    position: relative;
    font-weight: bold;
}

.SortButton:before,
.SortButton:after {
    pointer-events: none;
    content: '';
    border-left: 0.25rem solid var(--ax-bg-default);
    border-right: 0.25rem solid var(--ax-bg-default);
    position: absolute;
    right: 0.25rem;
    top: 50%;
}

.SortButton:before {
    border-bottom: 0.25rem solid #b7b1a9;
    transform: translateY(calc(-50% - 0.25rem));
}

.SortButton.descending:before {
    border-bottom-color: var(--ax-text-neutral);
}

.SortButton:after {
    border-top: 0.25rem solid #b7b1a9;
    transform: translateY(calc(-50% + 0.25rem));
}

.SortButton.ascending:after {
    border-top-color: var(--ax-text-neutral);
}
