.TableContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1rem;
}

.Table thead td:has(select) {
    padding: 0;
    border: none;
    width: 140px;
}

.Table th {
    white-space: nowrap;
    vertical-align: bottom;
}

.Table td {
    vertical-align: middle;
    padding: var(--a-spacing-3) var(--a-spacing-6) var(--a-spacing-3) var(--a-spacing-4);
    white-space: nowrap;
}

.TableContainer tbody {
    transition: opacity 0.1s;
}

.TableContainer.Loading tbody {
    opacity: 0.6;
    transition: opacity 0.1s;
}

.Content {
    padding: 0;
    color: var(--a-text-default);
    overflow: auto;
    scrollbar-width: none;
    box-sizing: border-box;
    flex: 1;
}

.Scrollable {
    margin: 0;
    padding: 0;
    height: calc(100% - 50px);
    width: 100%;
}

.flexCell {
    display: flex;
    align-items: center;
    gap: 12px;
}

.filterchipsskeleton {
    margin: -5px 16px -1px;
}

table tr.datoselectskeleton {
    height: 2rem;
}

table .datoselectskeleton td {
    border: 0;
    padding: 0;
}

.bodyrowskeleton td {
    padding-top: var(--a-spacing-2);
    padding-bottom: var(--a-spacing-2);
}

.sortheaderrowskeleton th {
    padding: 0 var(--a-spacing-4) var(--a-spacing-2);
}

.datoselectskeleton .selecttdskeleton {
    padding: 0 0 0 var(--a-spacing-4);
}
