.TableContainer {
    height: 100%;
    overflow: auto;
}

.Table thead td:has(select) {
    padding: 0;
    border: none;
    width: 140px;
}

.Table th {
    white-space: nowrap;
    vertical-align: bottom;
}

.Table td {
    vertical-align: middle;
    padding: var(--ax-space-12) var(--ax-space-24) var(--ax-space-12) var(--ax-space-16);
    white-space: nowrap;
}

.TableContainer tbody {
    transition: opacity 0.1s;
}

.TableContainer.Loading tbody {
    opacity: 0.6;
    transition: opacity 0.1s;
}

.Content {
    padding: 0;
    color: var(--ax-text-neutral);
    overflow: auto;
    scrollbar-width: none;
    box-sizing: border-box;
    flex: 1;
}

.Scrollable {
    margin: 0;
    padding: 0;
    height: calc(100% - 50px);
    width: 100%;
}

.flexCell {
    display: flex;
    align-items: center;
    gap: 12px;
}

.filterchipsskeleton {
    margin: -5px 16px -1px;
}

table tr.datoselectskeleton {
    height: 2rem;
}

table .datoselectskeleton td {
    border: 0;
    padding: 0;
}

.bodyrowskeleton td {
    padding-top: var(--ax-space-8);
    padding-bottom: var(--ax-space-8);
}

.sortheaderrowskeleton th {
    padding: 0 var(--ax-space-16) var(--ax-space-8);
}

.datoselectskeleton .selecttdskeleton {
    padding: 0 0 0 var(--ax-space-16);
}
