.utbetalingshistorikk {
  grid-column-start: venstremeny;
  grid-column-end: høyremeny;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.table {
  > thead > tr {
    height: 2rem;
    font-weight: 600;
    text-align: left;

    > th {
      padding: 0.5rem 0.75rem;
    }
  }

  > tbody > tr {
    height: 2rem;

    &:nth-of-type(2n-1) {
      background-color: var(--a-gray-100);
    }
  }
}

.cell {
  padding: 0.5rem 0.75rem;
}

.close {
  width: max-content;
  margin-bottom: 1.5rem;

  > svg {
    margin-right: 0.75rem;
  }
}

.saksbildemeny {
  grid-column-start: venstremeny;
  grid-column-end: høyremeny;
}