.EndringForm {
    background-color: #f7f7f7;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.EndringForm label {
    font-weight: normal;
    font-size: 1rem;
}

.Inputs {
    display: flex;
    gap: 12px;
    align-items: flex-end;
}

.Inputs > button {
    height: max-content;
}

.Gradvelger {
    width: 3rem;
    -moz-appearance: textfield;
    position: relative;
}

.Gradvelger input {
    height: 32px;
}

.Gradvelger input:disabled {
    opacity: 0.3;
}

.Gradvelger > div {
    position: absolute;
    bottom: -24px;
}

.Gradvelger > div > p {
    white-space: nowrap;
}

.Gradvelger input[type='number']::-webkit-inner-spin-button,
.Gradvelger input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.Dagtypevelger :global(.navds-select__input) {
    padding: 0.15rem 0.5rem;
}

.Dagtypevelger :global(.navds-select__container) {
    width: 190px;
}

.dagtypelabel {
    display: flex;
    align-items: center;
}

.dagtypelabel label {
    line-height: var(--a-font-line-height-large);
}
