.DynamicTextarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  textarea.skjemaelement {
    margin: 0;

    &.error {
      border-color: #BA3A26;
      background: #F3E3E3;
    }
  }

  .skjemaelement__feilmelding {
    margin-left: 0.5rem;
  }
}