.UberegnetPeriodeView {
    display: flex;
    justify-content: space-between;
    grid-column-start: venstremeny;
    grid-column-end: høyremeny;
}

.Message {
    border-radius: 0;
    height: max-content;
    width: 100%;
    grid-column-start: venstremeny;
    grid-column-end: høyremeny;
}
