.Toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4em;
    margin: 1em 0;
}

.p {
    font-weight: bold;
}

.section:not(:nth-last-of-type(1)) {
    margin-bottom: 2em;
}
