.avhuking {
    border: none;
    background: none;
    min-height: var(--ax-font-line-height-xlarge);
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 0.65rem var(--ax-space-8) 0.65rem var(--ax-space-16);
}

.avhuking[aria-disabled='true'] {
    cursor: not-allowed;
}

.avhuking.aktiv,
.avhuking.vurdert {
    cursor: pointer;
}

.avhuking.feil {
    color: var(--ax-danger-600);
    padding-left: 14px;
    background: radial-gradient(circle at 50% 50%, var(--ax-bg-default) 25%, 0, transparent);
}

.avhuking.aktiv > svg > circle {
    fill: var(--ax-bg-default);
    stroke: var(--ax-accent-600);
}

.avhuking.aktiv:hover > svg > circle {
    fill: var(--ax-accent-100);
}

.avhuking.aktiv > svg > path {
    fill: var(--ax-accent-600);
}

.avhuking.vurdert > svg > circle {
    fill: var(--ax-border-success);
    stroke: var(--ax-border-success);
}

.avhuking.vurdert:hover > svg > circle {
    fill: var(--ax-success-800);
}

.avhuking.vurdert > svg > path {
    fill: var(--ax-text-neutral-contrast);
}

.avhuking.ferdig-behandlet > svg > circle {
    fill: var(--ax-border-success);
    stroke: var(--ax-border-success);
}

.avhuking.ferdig-behandlet > svg > path {
    fill: var(--ax-bg-default);
}
