.avhuking {
    border: none;
    background: none;
    min-height: var(--a-font-line-height-xlarge);
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 0.65rem var(--a-spacing-2) 0.65rem var(--a-spacing-4);
}

.avhuking[aria-disabled='true'] {
    cursor: not-allowed;
}

.avhuking.aktiv,
.avhuking.vurdert {
    cursor: pointer;
}

.avhuking.feil {
    color: var(--a-red-500);
    padding-left: 14px;
    background: radial-gradient(circle at 50% 50%, var(--a-white) 25%, 0, transparent);
}

.avhuking.aktiv > svg > circle {
    fill: var(--a-white);
    stroke: var(--a-blue-500);
}

.avhuking.aktiv:hover > svg > circle {
    fill: var(--a-blue-50);
}

.avhuking.aktiv > svg > path {
    fill: var(--a-blue-500);
}

.avhuking.vurdert > svg > circle {
    fill: var(--a-border-success);
    stroke: var(--a-border-success);
}

.avhuking.vurdert:hover > svg > circle {
    fill: var(--a-green-700);
}

.avhuking.vurdert > svg > path {
    fill: var(--a-white);
}

.avhuking.ferdig-behandlet > svg > circle {
    fill: var(--a-border-success);
    stroke: var(--a-border-success);
}

.avhuking.ferdig-behandlet > svg > path {
    fill: var(--a-white);
}
