.varsel {
    border: none;
    margin: 3px 0;
    padding-right: 0;
    padding-left: 0;
}

.ekspanderbartVarsel > button {
    --background-color: var(--ax-bg-warning-soft);
    --border-color: var(--ax-border-warning);
    color: var(--ax-text-neutral);
    background-color: var(--background-color) !important;
    border-bottom: 1px solid var(--border-color) !important;
    padding: 0 var(--ax-space-16) 0 0 !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    box-shadow: none !important;
}

.ekspanderbartVarsel > button > svg {
    margin: 8px 0;
}

.ekspanderbartVarsel.aktiv > button {
    --background-color: var(--ax-bg-warning-soft);
    --border-color: var(--ax-border-warning);
}

.ekspanderbartVarsel.vurdert > button {
    --background-color: var(--ax-bg-success-soft);
    --border-color: var(--ax-border-success);
    padding: var(--ax-space-8) var(--ax-space-16) var(--ax-space-8) 0;
}

.ekspanderbartVarsel.ferdig-behandlet > button {
    --background-color: #f1f1f1;
    --border-color: var(--ax-border-success);
    padding: var(--ax-space-8) var(--ax-space-16) var(--ax-space-8) 0;
}

.ekspanderbartVarsel.feil > button {
    --background-color: var(--ax-bg-danger-soft);
    --border-color: var(--ax-border-danger);
}

.ekspanderbartVarsel > button:global(.navds-accordion__header:hover) {
    text-decoration-color: var(--ax-text-neutral);
}

.ekspanderbartVarsel > button:focus,
.ekspanderbartVarsel > button:active {
    box-shadow: none;
}

.ekspanderbartVarsel > button:focus-visible {
    box-shadow: inset var(--a-shadow-focus);
}

.ekspanderbartVarsel > button > svg > path {
    fill: var(--ax-text-neutral);
}

.content {
    --border-color: var(--ax-border-warning);
    --background-color: #fffaf3;
    padding: 0.5rem 3.25rem;
    border: none !important;
    border-bottom: 1px solid var(--border-color) !important;
    background-color: var(--background-color);
}

.content.aktiv {
    --background-color: var(--ax-bg-warning-soft);
    --border-color: var(--ax-border-warning);
}

.content.vurdert {
    --background-color: var(--ax-bg-success-soft);
    --border-color: var(--ax-border-success);
}

.content.ferdig-behandlet {
    --background-color: #f1f1f1;
    --border-color: var(--ax-border-success);
}

.content.feil {
    --background-color: var(--ax-bg-danger-soft);
    --border-color: var(--ax-border-danger);
}
