.header {
    padding: var(--ax-space-8);
    color: var(--ax-text-subtle);
}

.chevronButton {
    background-color: var(--ax-bg-accent-soft);
}

.chevronButton:hover {
    background-color: var(--ax-bg-accent-strong-hover);
    color: var(--ax-text-neutral-contrast);
}

.chevron {
    transition: transform 0.25s cubic-bezier(0.2, 0, 0, 1);
}

.header[data-open='true'] .chevron {
    transform: rotate(180deg);
}

.content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.25s cubic-bezier(0.2, 0, 0, 1);
}

.content[data-open='true'] {
    grid-template-rows: 1fr;
}

.contentInnhold {
    min-height: 0;
}
