.Varsel {
    padding-top: var(--a-spacing-2);
    padding-bottom: var(--a-spacing-2);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 0;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 0.75rem;
}

.varsler {
    padding: 0;
    border-bottom: 0;
}

.varslerheader {
    background-color: transparent !important;
    color: var(--a-text-action);
    padding: 0.5rem;
    border-bottom: 0;
    display: flex;
    width: unset;
    box-shadow: none !important;
}

.varslerheader > span {
    font-size: var(--a-font-size-large);
    font-weight: var(--a-font-weight-regular);
}

.varslerheader:focus {
    box-shadow: none;
}

.varslerheader.skjult {
    visibility: hidden;
}
