.Varsel {
    padding-top: var(--ax-space-8);
    padding-bottom: var(--ax-space-8);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 0;
}

.text {
    color: var(--ax-text-neutral);
}

.varsler {
    padding: 0;
    border-bottom: 0;
    margin: 0;
}

.varslerheader {
    background-color: transparent !important;
    color: var(--ax-text-accent-subtle);
    padding: 0.5rem;
    border-bottom: 0;
    display: flex;
    width: unset;
    box-shadow: none !important;
    border-radius: 0;
}

.saksbildevarsler[data-expanded='true']:last-child {
    border-bottom: 0;
}

.varslerheader::before,
.varslerheader::after {
    height: 0;
}

.varslerheader > span {
    font-size: var(--ax-font-size-large);
    font-weight: var(--ax-font-weight-regular);
}

.varslerheader:focus {
    box-shadow: none;
}

.varslerheader.skjult {
    visibility: hidden;
}
