.varsel {
    display: flex;
    gap: var(--ax-space-4);
    align-items: center;
}

.varsel.aktiv {
    background-color: var(--ax-bg-warning-soft);
    border-color: var(--ax-border-warning);
}

.varsel.vurdert {
    background-color: var(--ax-bg-success-soft);
    border-color: var(--ax-border-success);
}

.varsel.ferdig-behandlet {
    background-color: #f1f1f1;
    border-color: var(--ax-border-success);
}

.varsel.feil {
    background-color: var(--ax-bg-danger-soft);
    border-color: var(--ax-border-danger);
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.vurdering {
    color: var(--ax-text-neutral-subtle);
}

.error {
    color: var(--ax-text-danger-subtle);
}

.loader {
    display: flex;
    min-height: var(--ax-font-line-height-xlarge);
    align-self: flex-start;
    margin: 0.65rem var(--ax-space-8) 0.65rem var(--ax-space-16);
    align-items: center;
}
