.Anonymous {
    color: var(--anonymizable-color);
    background-color: var(--anonymizable-color);
    border-radius: var(--anonymizable-border-radius);
    user-select: var(--anonymizable-user-select);
    width: fit-content;
}

.Anonymous * {
    opacity: var(--anonymizable-opacity);
    user-select: var(--anonymizable-user-select);
}
