.Anonymous {
    color: var(--anonymizable-color);
    background-color: var(--anonymizable-color);
    border-radius: var(--anonymizable-border-radius);
}

.Anonymous::selection,
.Anonymous * {
    opacity: 1;
}
