version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    cooldown:
      default-days: 7 # Delay all updates by 7 days by default
    commit-message:
      prefix: "⬆ "
    schedule:
      interval: "daily"

  # Maintain dependencies for docker
  - package-ecosystem: "docker"
    directory: "/"
    commit-message:
      prefix: "⬆ "
    schedule:
      interval: "daily"

  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    directory: "/"
    cooldown:
      default-days: 7 # Delay all updates by 7 days by default
    commit-message:
      prefix: "⬆ "
    schedule:
      interval: "daily"
    registries: '*'
    ignore:
      - dependency-name: '@type/node'
      - dependency-name: 'eslint'
        version: ['9.x']