.header {
    display: flex;
    width: 100%;
    align-items: center;
}

.label {
    width: 174px;
}

.beløp {
    position: relative;
    padding-left: var(--ax-space-8);
    margin-left: var(--ax-space-12);
}

.beløp > span {
    margin-left: -0.75rem;
}

.kildeIkon {
    margin-left: var(--ax-space-8);
}

.redigeringsknapp {
    margin-left: auto;
    text-align: left;
}

.opprinneligSykepengegrunnlag {
    text-decoration: line-through;
    display: flex;
    align-items: center;
    padding-left: var(--ax-space-16);
}
