.header {
    display: flex;
    width: 100%;
    align-items: center;
}

.label {
    width: 174px;
}

.beløp {
    position: relative;
    padding-left: var(--a-spacing-2);
    margin-left: var(--a-spacing-3);
}

.beløp > span {
    margin-left: -0.75rem;
}

.kildeIkon {
    margin-left: var(--a-spacing-2);
}

.redigeringsknapp {
    margin-left: auto;
    width: 128px;
    text-align: left;
}

.opprinneligSykepengegrunnlag {
    text-decoration: line-through;
    display: flex;
    align-items: center;
    padding-left: var(--a-spacing-4);
}
