.formWrapper {
    background-color: var(--ax-bg-neutral-soft);
    padding: var(--ax-space-16) var(--ax-space-24) var(--ax-space-16) var(--ax-space-16);
    border-left: 3px solid transparent;
    margin: 0 1rem 0 -0.5rem;
    border-radius: var(--ax-radius-12);
}

.formWrapper.redigerer {
    background-color: var(--ax-bg-neutral-soft);
    border-left: 3px solid var(--ax-bg-strong);
    margin: 0 0 var(--ax-space-8) -2rem;
    border-radius: 0;
}
