.YearLabels {
    position: absolute;
    color: #3e3832;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0.25rem;
    margin-bottom: -0.25rem;
}

.YearLabels__label {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
}

.YearLabels__label p.typo-undertekst {
    font-size: 12px;
    color: #59514b;
}

.YearLabels__label-pin {
    width: 1px;
    height: 100%;
    background: #66cbec;
}
