.page-content {
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
}

.main-content {
    flex: 1;
}

.main-content .panel {
    padding: 1.5rem 2rem;
}

.main-content .panel.tekstbolker {
    width: 23rem;
}

.main-content .panel-tittel {
    padding-bottom: 1.5rem;
}

.main-content .panel .NavigationButtons {
    margin-top: 2.5rem;
}

.main-content .mvp-tittel {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.LeftMenu {
    border-right: 1px solid #c6c2bf;
}

.RowSeparator {
    border: none;
    border-top: 1px solid #c6c2bf;
    margin: 0;
}
