{
   "parser": "@typescript-eslint/parser",
   "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "ecmaFeatures": {
         "jsx": true
      }
   },
   "settings": {
      "react": {
         "version": "16.0"
      }
   },
   "env": {
      "browser": true,
      "es6": true
   },
   "overrides": [
      {
         "files": ["src/server/**/*.js"],
         "excludedFiles": "*.test.js",
         "env": {
            "node": true,
            "browser": false
         },
         "rules": {
            "no-console": "off"
         }
      },
      {
         "files": ["**/*.test.js", "__mocks__/**/*.js", "jest.config.js"],
         "env": {
            "mocha": true,
            "node": true,
            "jest": true
         },
         "rules": {
            "no-console": "off"
         }
      },
      {
         "files": ["**/e2e-tests/cypress/**/*.js"],
         "env": {
            "mocha": false,
            "node": true,
            "jest": false
         },
         "rules": {
            "no-console": "off",
            "no-undef": "off"
         }
      }
   ],
   "plugins": ["react", "react-hooks"],
   "extends": ["eslint:recommended", "prettier"],
   "rules": {
      "react/jsx-no-bind": [
         "error",
         {
            "allowArrowFunctions": true,
            "allowBind": false,
            "ignoreRefs": true
         }
      ],
      "react/no-did-update-set-state": "error",
      "react/no-unknown-property": "error",
      "react/no-unused-prop-types": "error",
      "react/react-in-jsx-scope": "error",
      "no-unused-vars": ["off"],
      "indent": "off",
      "react/jsx-indent": "off",
      "react/jsx-indent-props": "off",
      "react/jsx-uses-vars": "error",
      "react/jsx-uses-react": "error",
      "react-hooks/rules-of-hooks": "error",
      "no-undef": "off",
      "no-empty-pattern": "off"
   }
}
