registry=https://registry.npmjs.org
@navikt:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_AUTH_TOKEN}

# Inkluder Linux binaries i lockfile selv om vi bruker macOS
supportedArchitectures.os=current,linux
supportedArchitectures.cpu=current,x64