{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "importOrder": [
        "^@navikt/(.*)$",
        "^(?!@emotion)@(.*)/(.*)$",
        "^[.][.][a-zA-Z/]+|[.][/][a-zA-Z/]+$",
        "^(.*)([.]css)$"
    ],
    "importOrderSeparation": true,
    "trailingComma": "all"
}
