{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^@navikt\\/(.*)$",
        "^(?!@emotion)@(.*)\\/(.*)$",
        "^([.]{1,2}\\/)+[æøåÆØÅa-zA-Z]+((\\/[æøåÆØÅa-zA-Z]+)+)?$",
        "^.*([.]css)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "bracketSpacing": false,
                "tabWidth": 2
            }
        }
    ]
}
