{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "importOrder": [
        "^@navikt/(.*)$",
        "^@(.*)/(.*)$",
        ",^[.][.][a-zA-Z/]+|[.][/][a-zA-Z/]+$",
        "^(.*)(.module.css)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "trailingCommas": "all"
}
