.Title {
    font-weight: 600;
}

.Content {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: var(--ax-font-line-height-large);
}

.TechnicalErrorMessage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: max-content;
    padding: 2rem;
    background: var(--ax-bg-default);
    border: 1px solid var(--ax-border-danger);
    line-height: var(--ax-font-line-height-medium);
}

.Alert {
    border-radius: 0;
}
