.TidligerePerioderModal {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 32rem;

  .typo-undertittel {
    margin-bottom: 1rem;
  }

  .periodeliste {
    margin-top: 1rem;

    .periode {
      width: 80%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px dotted #000;


      p {
        flex-basis: 7rem;
      }
    }
  }
}