.filterChips {
    margin: var(--a-spacing-1) var(--a-spacing-3) var(--a-spacing-5);
}
.filterChips.slim {
    margin-bottom: 0.5rem;
}

.ingenValgteFilter {
    cursor: default;
}

.ingenValgteFilter:hover {
    background: var(--a-surface-neutral-subtle);
    box-shadow: inset 0 0 0 1px var(--a-border-default);
}
