.FilterButton {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--a-font-size-large);
    cursor: pointer;
    background: none;
    user-select: none;
    color: var(--a-text-default);
    border: 1px solid var(--a-border-strong);
    padding: 0 0.5rem;
    height: calc(16px + 1rem);
    border-radius: 4px;
    transition: box-shadow 0.1s ease;
}

.FilterButton:focus-visible {
    outline: none;
    box-shadow: var(--a-shadow-focus);
}

.FilterList {
    padding: 6px 0;
    margin: 0;
    list-style: none;
}

.FilterList > hr {
    margin: 6px 0;
}

.FilterList > li {
    padding: 8px 12px;
    margin: 0;
}

.Checkbox {
    padding: 0;
}

.FilterList > li > .Checkbox > label {
    padding: 0;
}
