.Pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    flex-shrink: 0;
}

.Pagination :global(.navds-pagination--invisible) {
    visibility: visible;
}
