.TableContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1rem;
}

.Table {
    --speil-table-row-background-color-alternate: #f8f8f8;
    --speil-table-row-border-color: #c6c2bf;
    border-collapse: collapse;
}

.Table td {
    vertical-align: middle;
    padding: var(--a-spacing-3) var(--a-spacing-6) var(--a-spacing-3) var(--a-spacing-4);
    white-space: nowrap;
}

.Table th {
    white-space: nowrap;
}

.DropdownHeader th {
    padding: var(--a-spacing-4) var(--a-spacing-3);
    border-bottom: 0;
}

.Table > tbody > tr > td:last-of-type {
    width: 100%;
}

.Content {
    padding: 0;
    color: var(--a-text-default);
    overflow: auto hidden;
    box-sizing: border-box;
    flex: 1;
}

.Scrollable {
    margin: 0;
    padding: 0;
    height: calc(100% - 50px);
    width: 100%;
}

.fullHeight {
    flex-direction: column;
    height: 100%;
}

.FilterChips {
    margin: var(--a-spacing-2) var(--a-spacing-4);
}

.tildelingColumn {
    width: 10%;
    max-width: 132px;
}

.flexCell {
    display: flex;
    align-items: center;
    gap: 12px;
}
