.TableContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1rem;
}

.Table {
    --speil-table-row-background-color-alternate: #f8f8f8;
    --speil-table-row-border-color: #c6c2bf;
    border-collapse: collapse;
}

.Table thead tr td,
.Table thead tr th {
    border-bottom: 1px solid var(--navds-semantic-color-border);
}

.Table > tbody > tr > td:last-of-type {
    width: 100%;
}

.Content {
    padding: 0;
    color: var(--navds-semantic-color-text);
    overflow: auto hidden;
    box-sizing: border-box;
    flex: 1;
}

.Scrollable {
    margin: 0;
    padding: 0;
    height: calc(100% - 50px);
    width: 100%;
}

.fullHeight {
    flex-direction: column;
    height: 100%;
}
