.TableContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1rem;
}

.Table {
    --speil-table-row-background-color-alternate: #f8f8f8;
    --speil-table-row-border-color: #c6c2bf;
    border-collapse: collapse;
}

.Table thead {
    border-bottom: 1px solid var(--navds-semantic-color-border);
}

.DropdownHeader th {
    padding: 0 16px 8px 16px;
}

.SortHeader th {
    font-weight: bold;
    padding: 0 16px 0 16px;
    height: 32px;
}

.Table > tbody > tr > td:last-of-type {
    width: 100%;
}

.Content {
    padding: 0;
    color: var(--navds-semantic-color-text);
    overflow: auto auto;
    box-sizing: border-box;
    flex: 1;
}

.Scrollable {
    margin: 0;
    padding: 0;
    height: calc(100% - 50px);
    width: 100%;
}

.fullHeight {
    flex-direction: column;
    height: 100%;
}

.FilterChips {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
