.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;

  .kolonne {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    min-width: 480px;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    .linje {
      display: flex;
      align-items: start;
      flex-wrap: nowrap;
      margin-bottom: 1rem;

      &:first-of-type {
        margin-bottom: 1.5rem;
      }
    }

    .ikoncontainer {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 2.5rem;
      width: 2.5rem;
      min-height: 1.5rem;
    }
  }
}