.OverstyrbarUtbetaling {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    gap: 2rem;
}

.OverstyrbarUtbetaling.overstyrer {
    --padding: 2rem;
    overflow-y: hidden;
    margin: calc(var(--padding) * -1);
    margin-bottom: calc(var(--padding) * -2);
    height: max-content;
    padding-right: var(--padding);
    padding-top: var(--padding);
    padding-bottom: calc(var(--padding) * 2);
    border-left: 6px solid var(--a-surface-action);
    background-color: var(--speil-overstyring-background);
}

.TableContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    gap: 2rem;
    margin-bottom: 72px;
}

.CheckboxContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 28px;
    top: calc(28.5px + 32px);
}

.ErrorMessage {
    margin-left: 2rem;
    color: var(--a-text-danger);
    font-weight: 600;
}

.OverstyringHeader {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    width: 100%;
    background-color: var(--speil-overstyring-background);
}
