.body {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  min-height: 10rem;
}

.bildecontainer {
  width: 100%;
  max-height: 350px;
  display: flex;
  justify-content: center;

}

.bilde {
  object-fit: contain;
  width: auto !important;
  position: relative !important;
  height: unset !important;
}

.step {
  background-color: var(--a-surface-action-subtle-hover);
  height: 12px;
  width: 12px;
  border-radius: 100%;
}

.activestep {
  background-color: var(--a-text-action);
}
