.menu {
  width: 400px;
  max-height: 736px;
  overflow-y: hidden;
  padding: 0;
  border-color: var(--ax-bg-accent-strong);
}

.list {
  height: 100%;
}

.heading {
  background-color: var(--ax-bg-accent-strong);
  color: var(--ax-text-neutral-contrast);
  padding: var(--ax-space-12) var(--ax-space-16) var(--ax-space-12);
  margin: 0;
}

.scrollablecontainer {
  width: 100%;
  max-height: 566px;
  overflow-y: auto;
  list-style: none;
  padding: 0 var(--ax-space-16);
  margin: 0;

  > li {
    border-top: 1px solid var(--ax-border-neutral);
  }

  > li:first-child {
    border-top: none;
  }
}