.nyhet {
  padding: var(--ax-space-16) 0;
}

.dato {
  color: var(--ax-text-neutral-subtle);
}

.button {
  color: var(--ax-text-accent-subtle);
  background-color: var(--a-surface-transparent);
  box-shadow: inset 0 0 0 2px var(--ax-border-accent);
  width: 6rem;
}

.button:hover {
  color: var(--ax-text-accent-subtle);
  background-color: var(--ax-bg-accent-moderate-hover);
  box-shadow: inset 0 0 0 2px var(--ax-border-accent);
}

.button:active {
  color: var(--ax-text-accent-contrast);
  background-color: var(--ax-bg-accent-strong-pressed);
  box-shadow: none;
}

.list {
  padding-left: var(--ax-space-24);
}

.unorderedlist {
  list-style: disc;
}