.modal {
  max-width: 48rem;

  :global(.skjemaelement__feilmelding) {
    font-style: normal;
  }

  .form {
    padding: 0.5rem 2.5rem 2.5rem;
  }

  .tittel {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--ax-text-neutral);
    margin-bottom: 2rem;
  }

  .feilmelding {
    color: var(--ax-text-danger-subtle);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.625rem;
  }

  .varseltekst {
    margin-bottom: 1.225rem;
  }

  .gruppe {
    margin-bottom: 2rem;

    > p,
    > ul > li {
      margin-bottom: 0.5rem;
    }
  }
}

.warning {
  padding: 0;
  margin-bottom: 2rem;
}
