.varsel {
    border: none;
    margin: 3px 0;
    padding-right: 0;
    padding-left: 0;
}

.ekspanderbartVarsel > button {
    --background-color: var(--a-surface-warning-subtle);
    --border-color: var(--a-border-warning);
    color: var(--a-text-default);
    background-color: var(--background-color) !important;
    border-bottom: 1px solid var(--border-color) !important;
    padding: 0 var(--a-spacing-4) 0 0;
}

.ekspanderbartVarsel > button > svg {
    margin: 8px 0;
}

.ekspanderbartVarsel.aktiv > button {
    --background-color: var(--a-surface-warning-subtle);
    --border-color: var(--a-border-warning);
}

.ekspanderbartVarsel.vurdert > button {
    --background-color: var(--a-surface-success-subtle);
    --border-color: var(--a-border-success);
    padding: var(--a-spacing-2) var(--a-spacing-4) var(--a-spacing-2) 0;
}

.ekspanderbartVarsel.ferdig-behandlet > button {
    --background-color: #f1f1f1;
    --border-color: var(--a-border-success);
    padding: var(--a-spacing-2) var(--a-spacing-4) var(--a-spacing-2) 0;
}

.ekspanderbartVarsel.feil > button {
    --background-color: var(--a-surface-danger-subtle);
    --border-color: var(--a-border-danger);
}

.ekspanderbartVarsel > button:global(.navds-accordion__header:hover) {
    text-decoration-color: var(--a-text-default);
}

.ekspanderbartVarsel > button:focus,
.ekspanderbartVarsel > button:active {
    box-shadow: none;
}

.ekspanderbartVarsel > button:focus-visible {
    box-shadow: inset var(--a-shadow-focus);
}

.ekspanderbartVarsel > button > svg > path {
    fill: var(--a-text-default);
}

.content {
    --border-color: var(--a-border-warning);
    --background-color: var(--speil-ekspandert-warning-background);
    padding: 0.5rem 3.25rem;
    border: none !important;
    border-bottom: 1px solid var(--border-color) !important;
    background-color: var(--background-color);
}

.content.aktiv {
    --background-color: var(--a-surface-warning-subtle);
    --border-color: var(--a-border-warning);
}

.content.vurdert {
    --background-color: var(--a-surface-success-subtle);
    --border-color: var(--a-border-success);
}

.content.ferdig-behandlet {
    --background-color: #f1f1f1;
    --border-color: var(--a-border-success);
}

.content.feil {
    --background-color: var(--a-surface-danger-subtle);
    --border-color: var(--a-border-danger);
}
