.varsel {
    border: none;
    margin: 3px 0;
    padding-right: 0;
    padding-left: 0;
}

.ekspanderbartVarsel > button {
    --background-color: var(--navds-alert-color-warning-background);
    --border-color: var(--navds-alert-color-warning-border);
    color: var(--navds-semantic-color-text);
    background-color: var(--background-color) !important;
    border-bottom: 1px solid var(--border-color) !important;
    padding: 0 var(--navds-spacing-4) 0 var(--navds-spacing-4);
}

.ekspanderbartVarsel > button > svg {
    margin: 8px 0;
}

.ekspanderbartVarsel.aktiv > button {
    --background-color: var(--navds-alert-color-warning-background);
    --border-color: var(--navds-alert-color-warning-border);
}

.ekspanderbartVarsel.vurdert > button {
    --background-color: var(--navds-alert-color-success-background);
    --border-color: var(--navds-alert-color-success-border);
}

.ekspanderbartVarsel.ferdig-behandlet > button {
    --background-color: #f1f1f1;
    --border-color: var(--navds-alert-color-success-border);
}

.ekspanderbartVarsel.feil > button {
    --background-color: var(--navds-alert-color-error-background);
    --border-color: var(--navds-alert-color-error-border);
}

.ekspanderbartVarsel > button:global(.navds-accordion__header:hover) {
    text-decoration-color: var(--navds-semantic-color-text);
}

.ekspanderbartVarsel > button:focus,
.ekspanderbartVarsel > button:active {
    box-shadow: none;
}

.ekspanderbartVarsel > button:focus-visible {
    box-shadow: inset var(--navds-shadow-focus);
}

.ekspanderbartVarsel > button > svg > path {
    fill: var(--navds-semantic-color-text);
}

.content {
    --border-color: var(--navds-semantic-color-feedback-warning-border);
    --background-color: var(--speil-ekspandert-warning-background);
    padding: 0.5rem 3.25rem;
    border: none !important;
    border-bottom: 1px solid var(--border-color) !important;
    background-color: var(--background-color);
}

.content.aktiv {
    --background-color: var(--navds-alert-color-warning-background);
    --border-color: var(--navds-alert-color-warning-border);
}

.content.vurdert {
    --background-color: var(--navds-alert-color-success-background);
    --border-color: var(--navds-alert-color-success-border);
}

.content.ferdig-behandlet {
    --background-color: #f1f1f1;
    --border-color: var(--navds-alert-color-success-border);
}

.content.feil {
    --background-color: var(--navds-alert-color-error-background);
    --border-color: var(--navds-alert-color-error-border);
}
