.Varsel {
    padding-top: var(--navds-spacing-2);
    padding-bottom: var(--navds-spacing-2);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-radius: 0;
}
