.varsel {
    display: flex;
    gap: var(--a-spacing-1);
    align-items: center;
}

.varsel.aktiv {
    background-color: var(--a-surface-warning-subtle);
    border-color: var(--a-border-warning);
}

.varsel.vurdert {
    background-color: var(--a-surface-success-subtle);
    border-color: var(--a-border-success);
}

.varsel.ferdig-behandlet {
    background-color: #f1f1f1;
    border-color: var(--a-border-success);
}

.varsel.feil {
    background-color: var(--a-surface-danger-subtle);
    border-color: var(--a-border-danger);
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.vurdering {
    color: var(--a-text-subtle);
}

.error {
    color: var(--a-text-danger);
}

.loader {
    display: flex;
    min-height: var(--a-font-line-height-xlarge);
    align-self: flex-start;
    margin: 0.65rem var(--a-spacing-2) 0.65rem var(--a-spacing-4);
    align-items: center;
}
