.varsel {
    display: flex;
    gap: var(--navds-spacing-3);
    align-items: center;
    padding: 8px var(--navds-spacing-4);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.varsel-ferdig-behandlet {
    border-color: var(--navds-alert-color-success-border);
    background-color: #f1f1f1;
}

.varsel-aktiv {
    border-color: var(--navds-alert-color-warning-border);
    background-color: var(--navds-alert-color-warning-background);
}

.varsel-vurdert {
    border-color: var(--navds-alert-color-success-border);
    background-color: var(--navds-alert-color-success-background);
}
