.Wrapper {
}

.Sykepengegrunnlag {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 5px;
    border-left: 3px solid transparent;
}

.Sykepengegrunnlag.Redigerer {
    background-color: var(--a-surface-subtle);
    margin-left: -2rem;
    padding-left: 37px;
    border-left: 3px solid var(--a-surface-action);
}

.Tittel {
    width: 16rem;
}

.Beløp {
    padding-left: 0.5rem;
}

.Redigeringsknapp {
    margin-left: auto;
    width: 10rem;
    text-align: left;
}
