.wrapper {
    display: flex;
    flex-direction: column;
    --fixed-column-width: 16rem;
    gap: var(--a-spacing-7);
    padding-top: var(--a-spacing-8);
}

.Table {
    text-align: left;
    border-collapse: collapse;
    width: max-content;
    margin-right: -3px;
    z-index: 10;
}

.Table td,
.Table th {
    padding: var(--a-spacing-1) var(--a-spacing-2);
}

.Table tr > th:first-of-type,
.Table tr > td:first-of-type {
    width: var(--fixed-column-width);
    max-width: var(--fixed-column-width);
}

.Table thead > tr:first-of-type > th {
    padding-bottom: var(--a-spacing-3);
}

.Table tfoot > tr {
    padding: var(--a-spacing-3) 0;
}

.oppsummeringRow td {
    padding-top: 0;
    padding-bottom: 0;
}

.sykepengegrunnlagRow td {
    padding-bottom: 0;
}

.PaddedRow > td {
    padding-bottom: var(--a-spacing-8) !important;
}

.ColumnTitle {
    color: var(--a-gray-600);
    font-size: 14px;
}

.rightAligned {
    text-align: right;
}

.InntektsgrunnlagTableBody {
    border-bottom: 1px solid var(--a-text-default);
}
