.OpprinneligMånedsbeløp {
    text-decoration: line-through;
    justify-self: start;
    margin: 0 0 0 var(--a-spacing-4);
}

.beløp {
    justify-content: end;
}

.error {
    grid-column: 2 / -1;
}

.OmregnetTilÅrsinntekt.harEndringer > p {
    font-style: italic;
}

.OmregnetTilÅrsinntekt > div {
    position: relative;
    display: flex;
    align-items: center;
}

.OmregnetTilÅrsinntekt.harEndringer > div > p {
    padding-left: 1rem;
    font-style: italic;
}

.Warning {
    font-style: italic;
}

.WarningIngenSkjemaEndringer {
    margin: 0.5rem 0;
}

.Skjæringstidspunkt {
    font-weight: 600;
}
