.modal.InfoModal {
    max-width: 29rem;
}

.InfoModal section {
    display: flex;
    flex-direction: column;
    min-width: 24rem;
    padding: 1rem;
}

.InfoModal .typo-systemtittel {
    margin-bottom: 1rem;
}

.InfoModal__message {
    font-style: italic;
    margin: 1rem;
}

.InfoModal .knapp {
    margin-top: 2rem;
    width: max-content;
    &:last-of-type {
        margin-left: 5rem;
    }
}
