.leggTilDagerForm {
    display: grid;
    grid-template-areas:
        'fomField tomField dagField gradField button'
        'fomError fomError fomError gradError gradError';
    gap: 1rem;
    align-items: start;
}

.fomField {
    grid-area: fomField;
}

.tomField {
    grid-area: tomField;
}

.dagField {
    grid-area: dagField;
}

.gradField {
    grid-area: gradField;
}

.button {
    grid-area: button;
    align-self: end;
}

.fomError {
    grid-area: fomError;
}

.gradError {
    grid-area: gradError;
}
