.MarkerAlleDagerCheckbox {
    position: absolute;
    top: -4.25rem;
    left: 0;
    padding: 1rem;
}

.MarkerAlleDagerCheckbox > div {
    position: absolute;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.MarkerAlleDagerCheckbox > div > input {
    max-height: 2rem;
    max-width: 2rem;
}
