.container {
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0 0 2rem;
    width: 100%;
    gap: 1rem;
    z-index: 1;
}

.button {
    height: 2rem;
    display: flex;
    align-items: center;
    border: 2px solid var(--ax-bg-strong);
    border-radius: 0.25rem;
    padding: 0 0.5rem;
}

.button > svg {
    margin-top: -3px;
}

.button p {
    text-decoration: none;
}

.button:hover {
    background: var(--ax-bg-moderate-hover);
}

.mediumFontSize {
    font-size: 18px;
}
