.container {
    display: flex;
    overflow-x: auto;
}

.container.overstyrer {
    margin-left: 3rem;
}

.tableContainer {
    display: flex;
    flex: 1;
    width: 400px;
    height: 100%;
}

.tableContainer * {
    box-sizing: border-box;
}

.table {
    flex: 1;
    white-space: nowrap;
    overflow-y: hidden;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-sizing: border-box;
}

.header {
    padding: 0 1rem 0.75rem 1rem;
    white-space: nowrap;
}
