.grid {
    padding: 8px;
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 8px;
    border-top: 1px solid var(--ax-border-neutral);
}

.grid:last-of-type {
    border-bottom: 1px solid var(--ax-border-neutral);
}

.grid:nth-child(2n + 1) {
    background: var(--ax-bg-neutral-soft);
}

.grid p {
    font-size: var(--ax-font-size-large);
    line-height: var(--ax-font-line-height-large);
}

.fromvalue {
    text-decoration: line-through;
    margin-right: 3px;
}
