.item {
    box-shadow: none !important;
}

.Header {
    color: var(--a-surface-action) !important;
    background: none !important;
    text-decoration: underline;
    gap: 8px;
    width: max-content;
    border-bottom: none;
    display: flex;
    align-items: center;
    box-shadow: none !important;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0 !important;
}

.Header > span {
    font-size: var(--a-font-size-medium);
    font-weight: var(--a-font-weight-regular);
}

.Header:focus {
    box-shadow: none;
}

.Header:focus-visible {
    box-shadow: var(--a-shadow-focus);
}

.Header:hover {
    text-decoration: none;
}

.Header > svg {
    width: 16px;
    height: 16px;
}

.Content {
    padding: 8px 0 0;
    border-bottom: none;
    word-break: break-word;
}
