.ikon {
    width: 20px;
    height: 16px;
    border: 1px solid var(--a-gray-700);
    background: var(--a-gray-100);
    border-radius: 3px;
}

.opphevStans {
    padding: 0.08rem;
}

.påVent {
    padding: 0.03rem;
}

.retur {
    transform: rotateY(0.5turn);
}
