.GridFullWidth {
    grid-column: 1 / span 2;
}

.Grid p {
    font-size: var(--a-font-size-large);
    line-height: var(--a-font-line-height-large);
    word-break: break-word;
    grid-column: 1 / span 2;
    white-space: pre-line;
}

.Grid > p:nth-child(even):not(:nth-last-child(2)),
.Refusjonselementer > p:last-child {
    padding-bottom: 0.5rem;
}

.FromValue {
    text-decoration: line-through;
    margin-right: 3px;
}

.begrunnelse,
.arbeidsgivere {
    margin-bottom: 0.5rem;
}

.annullertikon {
    width: 20px;
    height: 16px;
    border: 1px solid var(--a-gray-700);
    background: var(--a-gray-100);
    border-radius: 3px;
    padding: 0.08rem;
}
