.GridFullWidth {
    grid-column: 1 / span 2;
}

.Refusjonselementer > p:last-child {
    padding-bottom: 0.5rem;
}

.FromValue {
    text-decoration: line-through;
    margin-right: 3px;
}

.begrunnelse {
    white-space: pre-wrap;
}

.annullertikon {
    width: 20px;
    height: 16px;
    border: 1px solid var(--a-gray-700);
    background: var(--a-gray-100);
    border-radius: 3px;
    padding: 0.08rem;
}
