.dokument {
    display: grid;
    column-gap: 8px;
    grid-template-columns: 83px auto;
}

.dokument p {
    font-size: var(--a-font-size-medium);
    line-height: var(--a-font-line-height-medium);
    word-break: break-word;
    grid-column: 1 / span 2;
}

.dokument > p:nth-child(even):not(:nth-last-child(2)) {
    padding-bottom: 0.5rem;
}

.skeleton {
    padding-right: 1rem;
}

.skeleton p {
    margin-bottom: 0.25rem;
}
