.Pin {
    position: absolute;
    width: 2px;
    height: 6px;
    background: var(--ax-bg-accent-strong);
    left: 50%;
    top: -6px;
    transform: translateX(-50%);
    pointer-events: none;
}

.Pin:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--ax-bg-accent-strong);
    transform: translateX(-50%);
}

.Pin.notat {
    top: -7px;
}

.Pin.notat:before {
    width: 12px;
    height: 12px;
    background: white;
    border: 2px solid var(--ax-bg-accent-strong);
}

.Pin.notat:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--ax-bg-accent-strong);
    transform: translateX(-50%);
}
