.Period {
    --period-background-color: var(--ax-neutral-200);
    --period-hover-color: var(--ax-neutral-300);
    --period-border-color: var(--ax-neutral-700);
    --period-icon-color: var(--ax-neutral-1000);
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 24px;
    border-radius: 24px;
    border: 1px solid var(--period-border-color);
    background: var(--period-background-color);
    outline: none;
    cursor: pointer;
    z-index: 10;
}

.Period.active,
.Period:active,
.Period:focus-visible {
    box-shadow: 0 0 0 2px var(--ax-border-focus);
    border-color: var(--ax-border-focus);
    z-index: 20;
}

.Period:hover,
.Period:active {
    background: var(--period-hover-color);
}

.Period > svg {
    flex-shrink: 0;
    margin-left: 8px;
}

.Period > svg.uvurderteVarslerIcon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14px;
}

.Period > svg > circle {
    fill: var(--period-icon-color);
    stroke: var(--period-icon-color);
}

.Period.success {
    --period-background-color: var(--ax-success-200);
    --period-hover-color: var(--ax-success-300);
    --period-border-color: var(--ax-success-800);
    --period-icon-color: var(--ax-success-800);
}

.Period.error {
    --period-background-color: var(--ax-danger-100);
    --period-hover-color: var(--ax-danger-200);
    --period-border-color: var(--ax-danger-600);
    --period-icon-color: var(--ax-danger-600);
}

.Period.attention {
    --period-background-color: var(--ax-warning-100);
    --period-hover-color: var(--ax-warning-200);
    --period-border-color: var(--ax-warning-700);
    --period-icon-color: var(--ax-warning-700);
}

.Period.old {
    --period-background-color: var(--ax-meta-lime-200);
    --period-hover-color: var(--ax-meta-lime-300);
    --period-border-color: var(--ax-meta-lime-800);
    --period-icon-color: var(--ax-neutral-1000);
}

.Period.legacy {
    --period-background-color: var(--nav-infotrygd-bakgrunn-stiplet);
    --period-hover-color: var(--nav-infotrygd-bakgrunn-stiplet-hover);
    --period-border-color: var(--ax-neutral-1000);
    --period-icon-color: var(--ax-neutral-1000);
}

.Period.blank {
    --period-background-color: #ffffff;
    --period-hover-color: var(--ax-neutral-200);
    --period-border-color: var(--ax-neutral-700);
    --period-icon-color: var(--ax-neutral-700);
}

.Period.waiting {
    --period-background-color: var(--a-lightblue-50);
    --period-hover-color: var(--a-lightblue-100);
    --period-border-color: var(--a-lightblue-700);
    --period-icon-color: var(--ax-neutral-1000);
}
