.RouteContainer {
    display: grid;
    grid-template-areas: 'title title';
    grid-auto-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 0.125rem;
}

.RouteContainer > p:first-of-type {
    grid-area: title;
}

.NegativePenger {
    color: var(--navds-semantic-color-feedback-danger-text);
    font-weight: bold;
}

.Error {
    color: var(--ax-text-danger-subtle);
    font-style: italic;
}
