.Period {
    --period-background-color: var(--ax-bg-neutral-moderate);
    --period-hover-color: var(--ax-bg-neutral-moderate-hover);
    --period-border-color: var(--ax-neutral-1000);
    --period-icon-color: var(--ax-neutral-1000);
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 24px;
    border-radius: 24px;
    border: 1px solid var(--period-border-color);
    background: var(--period-background-color);
    outline: none;
    cursor: pointer;
    z-index: 10;
}

.Period.active,
.Period:active,
.Period:focus-visible {
    box-shadow: 0 0 0 2px var(--ax-border-accent-strong);
    border-color: var(--ax-border-accent-strong);
    z-index: 20;
}

.Period:hover,
.Period:active {
    background: var(--period-hover-color);
}

.Period > svg {
    flex-shrink: 0;
    margin-left: 8px;
}

.Period > svg.uvurderteVarslerIcon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14px;
}

.Period > svg.uvurderteVarslerIcon > path {
    fill: var(--ax-bg-warning-strong);
}

.Period > svg > circle {
    fill: var(--period-icon-color);
    stroke: var(--period-icon-color);
}

.Period > svg > path {
    fill: var(--ax-text-neutral-contrast);
}

.Period.success {
    --period-background-color: var(--ax-bg-success-moderate);
    --period-hover-color: var(--ax-bg-success-moderate-hover);
    --period-border-color: var(--ax-border-success-strong);
    --period-icon-color: var(--ax-bg-success-strong);
}

.Period.error {
    --period-background-color: var(--ax-bg-danger-moderate);
    --period-hover-color: var(--ax-bg-danger-moderate-hover);
    --period-border-color: var(--ax-border-danger-strong);
    --period-icon-color: var(--ax-bg-danger-strong);
}

.Period.attention {
    --period-background-color: var(--ax-bg-warning-moderate);
    --period-hover-color: var(--ax-bg-warning-moderate-hover);
    --period-border-color: var(--ax-border-warning-strong);
    --period-icon-color: var(--ax-bg-warning-strong);
}

.Period.old {
    --period-background-color: var(--ax-bg-meta-lime-moderate);
    --period-hover-color: var(--ax-bg-meta-lime-moderate-hover);
    --period-border-color: var(--ax-border-meta-lime-strong);
    --period-icon-color: var(--ax-neutral-1000);
}

:global(.dark) .Period.old {
    --period-icon-color: var(--ax-bg-meta-lime-strong);
}

.Period.legacy {
    --period-background-color: repeating-linear-gradient(
        132deg,
        var(--ax-bg-default),
        var(--ax-bg-default) 6px,
        var(--ax-bg-neutral-moderate) 6px,
        var(--ax-bg-neutral-moderate) 7.5px
    );
    --period-hover-color: repeating-linear-gradient(
        132deg,
        var(--ax-bg-neutral-soft),
        var(--ax-bg-neutral-soft) 6px,
        var(--ax-bg-neutral-moderate) 6px,
        var(--ax-bg-neutral-moderate) 7.5px
    );
    --period-border-color: var(--ax-neutral-1000);
    --period-icon-color: var(--ax-neutral-1000);
}

.Period.blank {
    --period-background-color: var(--ax-bg-default);
    --period-hover-color: var(--ax-bg-neutral-soft);
    --period-border-color: var(--ax-border-neutral-strong);
    --period-icon-color: var(--ax-bg-neutral-strong);
}

.Period.waiting {
    --period-background-color: var(--ax-bg-info-moderate);
    --period-hover-color: var(--ax-bg-info-moderate-hover);
    --period-border-color: var(--ax-border-info-strong);
    --period-icon-color: var(--ax-neutral-1000);
}

:global(.dark) .Period.waiting {
    --period-icon-color: var(--ax-bg-info-strong);
}
