.Pins {
    position: absolute;
    top: var(--timeline-padding-top);
    width: calc(100% - var(--row-name-width) - 1rem - var(--timeline-padding-horizontal) * 2);
    left: calc(var(--row-name-width) + 1rem + var(--timeline-padding-horizontal));
    height: calc(100% - 3.5rem - var(--timeline-padding-top) - 2px);
}

.Pin {
    --pin-top: 1.3rem;
    position: absolute;
    top: var(--pin-top);
    height: calc(100% - var(--pin-top));
    width: 1px;
    background: var(--ax-text-neutral);
    z-index: 1;
}

.Pin:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: #fff;
    box-shadow: inset 0 0 0 6px var(--ax-danger-600);
    transform: translateX(calc(-50% + 0.5px));
}

.RouteContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    white-space: nowrap;
}
