.ScrollButtons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Button {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ax-neutral-900);
}

.Button:hover:not(:disabled) {
    opacity: 0.8;
}

.Button:active:not(:disabled) {
    opacity: 1;
}

.Button:first-of-type svg {
    transform: translateX(-6%);
}

.Button:last-of-type svg {
    transform: translateX(6%);
}

.Button:disabled {
    background: var(--ax-neutral-500);
}

.Button path {
    fill: white;
}
