.TimelineRow {
    --carret-width: 8px;
    --expandable-button-gap: 12px;
    --carret-padding: 6px;
    position: relative;
    display: flex;
    min-height: 24px;
    gap: 16px;
}

.Periods {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    flex: 1;
    gap: 0.25rem;
}

.AlignWithExpandable {
    padding-left: calc(var(--carret-width) + var(--carret-padding) + var(--expandable-button-gap) + 1px);
    padding-right: calc(0px - (var(--carret-width) + var(--carret-padding) + var(--expandable-button-gap) + 1px));
}

.Name {
    width: var(--row-name-width);
    height: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    overflow: hidden;
}

.Name > svg {
    flex-shrink: 0;
}

.Name > button {
    margin-left: -0.5em;
}

.Expandable {
    padding: 0 0 0 var(--carret-padding);
    color: var(--ax-bg-accent-strong);
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.Expandable:focus-visible,
.Expandable:hover {
    text-decoration: underline;
}

.Expandable:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
}

.Expandable:before {
    content: '';
    width: var(--carret-width);
    height: 8px;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 1.5px 1.5px 0 0 var(--ax-bg-accent-strong);
    transform-origin: 80% 80%;
    transform: translate(-50%, -30%) rotate(-45deg);
}

.Expandable.expanded:before {
    transform: translate(-50%, -30%) rotate(45deg);
}

.TimelineRowSkeleton .Name > span,
.TimelineRowSkeleton .Periods > span {
    height: 24px;
}

.arbeidsgiverIkon {
    margin-left: -3px;
    margin-right: -3px;
    width: 22px;
    height: 22px;
}
