.Timeline {
    --row-name-width: 250px;
    --timeline-padding-top: 24px;
    --timeline-padding-horizontal: 24px;
    position: relative;
    grid-area: timeline;
    display: flex;
    flex-direction: column;
    padding: var(--timeline-padding-top) var(--timeline-padding-horizontal) 0;
    border-bottom: 1px solid var(--ax-border-neutral-subtle);
}

.Rows {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.TimelineButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.LeftButtons {
    display: flex;
    align-items: center;
}

.TimelineControls {
    display: flex;
    gap: 24px;
    align-items: center;
}

.Error {
    background-color: var(--ax-bg-danger-soft);
    padding: var(--timeline-padding-top) var(--timeline-padding-horizontal);
}

.LoadingZoomLevelPicker {
    width: 185px;
    height: 26px;
}
