.ZoomLevelPicker {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.Picker {
    background: var(--ax-bg-raised);
    border: none;
    box-shadow: 0 0 0 1px #c6c2bf;
    color: var(--ax-text-neutral);
    font-size: 14px;
    outline: none;
    height: 24px;
    padding: 0 8px;
    margin: 1px;
    cursor: pointer;
}

.Picker:hover,
.Picker:focus-visible {
    background: var(--ax-neutral-200);
}

.Picker:active {
    background: var(--ax-bg-default);
}

.Picker:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
    z-index: 3;
}

.Picker:not(:last-of-type) {
    margin-right: 0;
}

.Picker:first-of-type {
    border-radius: 4px 0 0 4px;
}

.Picker:last-of-type {
    border-radius: 0 4px 4px 0;
}

.Picker.active {
    background: var(--ax-bg-neutral-strong-pressed);
    color: var(--ax-text-contrast);
}
