nav {
   display: flex;
   flex-direction: column;
   padding: 5px;
   justify-content: center;
   align-items: center;
   text-align: center;
}

ul {
   margin: 0;
   padding: 0;
   text-align: center;
}

nav h3 {
   font-size: 1.5rem;
}

.selected {
    background-color: aquamarine;
}
