.Hendelse {
    --gap: 8px;
    --icon-container-width: 20px;
    position: relative;
    margin: 0;
    padding: 16px 0;
    display: flex;
    gap: var(--gap);
}

.Hendelse:not(:last-of-type) {
    border-bottom: 1px solid var(--a-border-strong);
}

.IconContainer {
    display: flex;
    align-items: center;
    height: 14px; /* styrer vertikal sentrering */
    margin-top: 5px;
    width: var(--icon-container-width);
}

.Content {
    gap: 4px;
    position: relative;
    flex: 1;
    max-width: calc(100% - var(--gap) - var(--icon-container-width));
}
