.Hendelse {
    margin: 0;
    padding: 16px 0;
    display: flex;
    gap: 16px;
}

.Hendelse:not(:last-of-type) {
    border-bottom: 1px solid var(--navds-semantic-color-border);
}

.IconContainer {
    display: flex;
    align-items: center;
    height: 24px;
    width: 20px;
}

.Content {
    width: 100%;
    gap: 4px;
}
