.Innrammet {
    width: 20px;
    height: 16px;
    border: 1px solid var(--a-gray-700);
    background: var(--a-gray-100);
    border-radius: 3px;
}

.Attestert {
    padding: 0.08rem;
}

.TilGodkjenning {
    padding: 0.015rem;
}
