.Grid {
    display: grid;
    column-gap: 8px;
    grid-template-columns: 83px auto;
}

.GridFullWidth {
    grid-column: 1 / span 2;
}

.Grid p {
    font-size: var(--a-font-size-large);
    line-height: var(--a-font-line-height-large);
    word-break: break-word;
    grid-column: 1 / span 2;
    white-space: pre-line;
}

.Grid > p:nth-child(even):not(:nth-last-child(2)),
.Refusjonselementer > p:last-child {
    padding-bottom: 0.5rem;
}

.FromValue {
    text-decoration: line-through;
    margin-right: 3px;
}
