.erGjeldende > * {
    background-color: var(--ax-bg-soft);
    padding-right: 2.5rem;
}

.arbeidsgiverRow:hover > * {
    background-color: var(--ax-neutral-200);
    cursor: pointer;
}

.arbeidsgiverRow.erGjeldende:hover > * {
    background-color: var(--speil-light-hover);
}

.arbeidsgiverCell {
    display: flex;
}

.bagIcon {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 15px;
    position: relative;
    top: 3px;
}

.errorIcon {
    min-width: 20px;
    margin-right: 15px;
    position: relative;
    top: 3px;
}

.arbeidsgivernavn {
    margin-top: 3px;
}

.arbeidsgivernavnDeaktivert {
    text-decoration: line-through;
}
