.wrapper {
    display: flex;
    flex-direction: column;
    --fixed-column-width: 12rem;
    gap: var(--ax-space-28);
    padding: var(--ax-space-16) 0 var(--ax-space-64) var(--ax-space-24);
}

.Table {
    text-align: left;
    width: max-content;
    margin-right: -3px;
    z-index: 10;
}

.Table td,
.Table th {
    padding: var(--ax-space-8) var(--ax-space-24) var(--ax-space-8) var(--ax-space-8);
    white-space: nowrap;
    border: none;
    font-weight: var(--ax-font-weight-regular);
}

.Table th {
    padding-top: 0;
}

.Table tr > th:first-of-type,
.Table tr > td:first-of-type {
    width: var(--fixed-column-width);
    max-width: var(--fixed-column-width);
}

.Table thead > tr:first-of-type > th {
    padding-bottom: var(--ax-space-12);
}

.Table tfoot > tr {
    padding: var(--ax-space-12) 0;
}

.oppsummeringRow td {
    padding-top: 0;
    padding-bottom: 0;
}

.pengeCell {
    width: 7.75rem;
}

.inntektsgrunnlagoppsummeringTable {
    margin-top: var(--ax-space-24);
}

.InntektsgrunnlagTableBody {
    border-bottom: 1px solid var(--ax-text-neutral);
}
