.wrapper {
    display: flex;
    flex-direction: column;
    --fixed-column-width: 12rem;
    gap: var(--a-spacing-7);
    padding: var(--a-spacing-4) 0 var(--a-spacing-16) var(--a-spacing-6);
}

.Table {
    text-align: left;
    width: max-content;
    margin-right: -3px;
    z-index: 10;
}

.Table td,
.Table th {
    padding: var(--a-spacing-2) var(--a-spacing-6) var(--a-spacing-2) var(--a-spacing-2);
    white-space: nowrap;
    border: none;
    font-weight: var(--a-font-weight-regular);
}

.Table th {
    padding-top: 0;
}

.Table tr > th:first-of-type,
.Table tr > td:first-of-type {
    width: var(--fixed-column-width);
    max-width: var(--fixed-column-width);
}

.Table thead > tr:first-of-type > th {
    padding-bottom: var(--a-spacing-3);
}

.Table tfoot > tr {
    padding: var(--a-spacing-3) 0;
}

.oppsummeringRow td {
    padding-top: 0;
    padding-bottom: 0;
}

.pengeCell {
    width: 7.75rem;
}

.inntektsgrunnlagoppsummeringTable {
    margin-top: var(--a-spacing-6);
}

.InntektsgrunnlagTableBody {
    border-bottom: 1px solid var(--a-text-default);
}
