.justerbarSidemeny {
    display: flex;
    gridarea: 'høyremeny';
}
.justerbarSidemeny.venstre {
    flex-direction: row-reverse;
}
.justerbarLinje {
    width: 0.5rem;
    height: 100%;
    grid-area: høyremeny;
    cursor: col-resize;
    display: flex;
    align-items: stretch;
    border-left: 1px solid var(--a-border-strong);
}
