.justerbarSidemeny {
    display: flex;
    gridarea: 'høyremeny';
    height: fit-content;
    min-height: 100%;
}
.justerbarSidemeny.venstre {
    flex-direction: row-reverse;
}
.justerbarLinje {
    width: 0.5rem;
    grid-area: høyremeny;
    cursor: col-resize;
    display: flex;
    align-items: stretch;
    border-left: 1px solid var(--a-border-strong);
}
