.OverstyrbarUtbetaling {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    gap: 2rem;
}

.OverstyrbarUtbetaling.overstyrer {
    --padding: 2rem;
    overflow-y: hidden;
    margin: calc(var(--padding) * -1);
    margin-bottom: calc(var(--padding) * -2);
    height: max-content;
    padding-right: var(--padding);
    padding-top: var(--padding);
    padding-bottom: calc(var(--padding) * 2);
    border-left: 6px solid var(--a-surface-action);
    background-color: #f7f7f7;
}

.TableContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    gap: 2rem;
    margin-bottom: 72px;
}

.CheckboxContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 32px;
    top: 68px;
}

.ErrorMessage {
    margin-left: 2rem;
    color: var(--a-text-danger);
    font-weight: 600;
}
