.OverstyrbarUtbetaling {
    padding: var(--ax-space-32) var(--ax-space-24) var(--ax-space-64);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    gap: 1rem;
}

.OverstyrbarUtbetaling.overstyrer {
    --padding: 2rem;
    overflow-y: hidden;
    height: max-content;
    padding: var(--padding) var(--padding) calc(var(--padding) * 2) 0;
    border-left: 6px solid var(--ax-bg-accent-strong);
    background-color: #f7f7f7;
}

.TableContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    gap: 2rem;
    margin-bottom: 72px;
}

.CheckboxContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 16px;
    top: 68px;
}
