.Utbetaling {
    padding: var(--a-spacing-8) var(--a-spacing-6) var(--a-spacing-16);
    position: relative;
}

.Utbetaling.overstyrer {
    border-left: 6px solid var(--a-surface-action);
}

.Container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding-top: 2rem;
}

.Infopin {
    margin-top: 1rem;
    min-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 2rem;
    width: 100%;
}
