.expandCollapseButton {
    display: flex;
    align-items: center;
    font-size: var(--a-font-size-medium);
    font-weight: var(--a-font-weight-regular);
    color: var(--a-surface-action);
    text-decoration: underline;
    gap: 0.5rem;
}

.expandCollapseButton:hover {
    text-decoration: none;
}
