.HistorikkHeader {
    --size: 48px;
    --antall-notater: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    grid-area: høyremeny;
    background: #f2f3f5;
    margin-left: auto;
    border-left: 1px solid #1a3636;
}

.FilterButton {
    height: var(--size);
    width: var(--size);
    border-bottom: 0;
}

.FilterButton.active:before {
    left: initial;
    right: 0;
    top: 4px;
    width: 8px;
    height: 40px;
    background: #23262a;
    border-radius: 4px 0 0 4px;
}
