.Historikk {
    grid-area: høyremeny;
    overflow: hidden;
    transition: width 0.2s ease;
    height: 100%;
    width: 300px;
    min-width: 300px;
}

.Historikk > ul {
    padding: 0 1.5rem 2rem;
    box-sizing: border-box;
    border-left: 1px solid var(--a-border-strong);
    height: 100%;
}

.Historikk > ul > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    font-size: 14px;
}

.Error {
    background-color: var(--a-surface-danger-subtle);
}
