.Historikk {
    grid-area: høyremeny;
    overflow: hidden;
    transition: width 0.2s ease;
    height: 100%;
}

.Historikk > ul {
    padding: 0 2rem 1.5rem 1.5rem;
    box-sizing: border-box;
    height: 100%;
}

.Historikk > ul > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    font-size: 14px;
}

.Error {
    background-color: var(--a-surface-danger-subtle);
}

.justerbarsidemeny {
    margin-right: 48px;
}
