.historikkmeny {
    --antall-notater: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    grid-area: høyremeny;
    margin-left: auto;
    border-left: 1px solid var(--a-border-divider);
    width: 58px;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}

.filterknapp {
    height: 2rem;
    width: 2rem;
    border-bottom: 0;
    padding: 0;
    background: var(--a-bg-subtle);
    border-radius: 50%;
    margin-top: 1.5rem;
}

.filterknapp.active {
    background-color: var(--a-surface-action);
    color: #ffffff;
}

.filterknapp.active:before {
    left: initial;
    right: 0;
    top: 4px;
    height: 0;
}
