.Warning {
    padding: 0;
    margin-bottom: 2rem;
}

.Warning > :global(.navds-body-long) {
    font-weight: 600;
    font-size: 1rem;
}

.Radio > label,
.Checkbox > label {
    padding: 0.5rem 0;
}

.Checkbox {
    margin: 0 !important;
}

.Checkbox:first-of-type {
    margin-top: 0.5rem !important;
}
