.button {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    outline: none;
}

.button > div:hover {
    background-color: var(--ax-text-neutral);
    color: var(--ax-text-neutral-contrast);
}
