.inntekt {
    --width: 522px;
    --border-size: 3px;
    width: calc(var(--width) - var(--border-size));
    padding: var(--ax-space-16) var(--ax-space-12) var(--ax-space-64) var(--ax-space-12);
}

.inntekt.editing {
    padding-left: var(--ax-space-12);
    border-left: var(--border-size) solid var(--ax-bg-strong);
    width: var(--width);
    margin-left: calc(-1 * var(--border-size));
}
