.panel-tittel {
    margin-bottom: 1rem;
}

.dato-eksempler {
    margin-left: 1rem;
    margin-top: 1rem;
}

.form {
    display: flex;
    align-items: center;

    .dato-label {
        display: flex;

        & * {
            margin-right: 1rem;
        }
        p {
            display: flex;
            align-items: center;
        }

        input {
            font-size: 1rem;
            height: 2rem;
        }
    }
}
