.NotatButton {
    padding: 0 0 1px 0;
    background: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
}

.NotatButton span {
    display: flex;
}

.NotatButton:focus {
    box-shadow: 0 0 0 2px var(--a-border-focus);
}

.NotatButton:active {
    background: var(--a-border-focus);
    box-shadow: none;
}

td.ikoncell {
    width: 52px;
    padding-right: 1rem;
}
