.Innrapportering.panel {
  display: flex;
  flex-direction: column;

  > .typo-normal {
    display: flex;
    align-items: flex-start;
  }

  > .typo-normal:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .typo-normal.skjemaelement__feilmelding {
    margin-top: 1rem;
    flex-direction: column;

    a {
      margin-top: 0.5rem;
    }
  }

  .knapp {
    width: max-content;
    display: flex;
    align-items: center;
    margin-top: 2rem;

    &.sendt {
      @sendtColor: #38a161;
      border-color: @sendtColor;
      color: @sendtColor;
    }

    > svg {
      margin-left: 0.5rem;
    }

    &.knapp--disabled {
      background: #fff;
    }
  }

  .Innrapportering__feedback {
    color: #78706a;
  }

  .Innrapportering__feedback {
    margin-top: 3rem;
  }
}