.Utbetaling {
    display: flex;
    flex-direction: column;

    .alertstripe {
        margin-bottom: 1rem;
    }

    .alertstripe__tekst {
        max-width: 100%;
    }

    .p:last-child {
        margin-top: 0.5rem;
    }

    .knapperad {
        display: flex;
        align-items: center;

        > *:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
