.PersonHeader {
    grid-area: personlinje;
    display: flex;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    padding: 0 2rem;
    background: #f8f8f8;
    border-bottom: 1px solid var(--a-border-strong);
    color: var(--a-text-default);
    white-space: nowrap;
    min-width: max-content;
}

.PersonHeader > span {
    max-width: 200px;
}

.PersonHeader.Error {
    background: var(--a-surface-danger-subtle);
}

.PersonHeader > svg {
    margin-right: 0.5rem;
}

.Separator {
    margin: 0 1rem;
}

.Link {
    color: inherit;
}

.Link:hover {
    text-decoration: none;
}

.Link:active,
.Link:focus-visible {
    outline: none;
    color: var(--a-text-on-inverted);
    text-decoration: none;
    background-color: var(--a-border-focus);
    box-shadow: 0 0 0 2px var(--a-border-focus);
}

.Tags {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Tag {
    height: 24px;
    min-height: 24px;
}

.Tag.dødsdato {
    background: #3e3832;
    border: 1px solid #000000;
    color: #f8f8f8;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.LoadingText {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: transparent;
    background: linear-gradient(to right, transparent 0%, #eaeaea 16%, transparent 33%);
    background-size: 800px 104px;
    border-radius: 4px;
    height: 22px;
    width: 150px;
    margin: 4px 0;
}
