.PersonHeader {
    grid-area: personlinje;
    display: flex;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    padding: 0 2rem;
    background: var(--ax-bg-raised);
    border-bottom: 1px solid var(--ax-border-neutral-strong);
    color: var(--ax-text-neutral);
    white-space: nowrap;
    min-width: max-content;
}

.PersonHeader > span {
    max-width: 200px;
}

.PersonHeader.Error {
    background: var(--ax-bg-danger-soft);
}

.PersonHeader > svg {
    margin-right: 0.5rem;
}

.Separator {
    margin: 0 1rem;
}

.Link {
    color: inherit;
}

.Link:hover {
    text-decoration: none;
}

.Link:active,
.Link:focus-visible {
    outline: none;
    color: var(--ax-text-neutral-contrast);
    text-decoration: none;
    background-color: var(--ax-border-focus);
    box-shadow: 0 0 0 2px var(--ax-border-focus);
}
