.Utbetaling .ListeItemBolk .ListeItem {
    min-width: 18rem;
    max-width: 18rem;
}

.Utbetaling > .ListeItem {
    width: 18rem;
}

.Utbetaling .typo-undertittel:not(:first-child) {
    margin-top: 1.5rem;
}

.Utbetaling.panel .Navigasjonsknapper {
    margin-top: 6rem;
}
