@blue: #0067c5;
@idHeight: 2rem;
@idWidth: 10rem;
@idPadding: 1rem;
@borderThickness: 0.125rem;

.Saksvelger {
  position: relative;
  border: @borderThickness solid @blue;
  border-radius: @borderThickness;
  height: @idHeight;
  width: max-content;
  display: flex;
  align-items: center;

  > .typo-normal {
    color: @blue;
    font-weight: bold;
    text-align: center;
    padding: 0 @idPadding;
    width: @idWidth;
  }

  .Saksvelger__popup {
    background: #fff;
    color: #3e3832;
    position: absolute;
    left: @idWidth + @borderThickness + @idPadding * 2;
    top: @idHeight + @borderThickness;
    padding: 1rem;
    width: max-content;
    list-style: none;
    box-shadow: 0 1px 3px 1px rgba(62, 56, 50, 0.3);
  }

  > button {
    display: flex;
    align-items: center;
    height: 100%;
    border: none;
    border-left: @borderThickness solid @blue;
    background: none;
    padding: 0 0.5rem;

    .Icon {
      margin: 0;
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 @borderThickness @blue;
    }

    &:hover,
    &:active {
      background: @blue;

      .Icon.Icon-meny {
        background: url('../Icon/img/Ikon_meny_hvit.svg');
        margin: -0.125rem 0.125rem 0.125rem -0.125rem;
      }
    }

    &:active {
      background: mix(@blue, #000, 80%);
    }
  }
}