.Saksboks {
  width: max-content;
  padding: 2.5rem;
  border: 1px solid #0c5ea8;

  .Saksboks__sakslinje {
    display: flex;
    justify-content: space-between;

    .etikett.etikett--info {
      background: #c2eaf7;
      margin-left: 2rem;
      height: max-content;

      .typo-normal {
        font-size: 0.875rem;
        color: #3e3832;
      }
    }
  }

  .Saksboks__info {
    margin: 1.5rem 0;
    color: #3e3832;

    .typo-normal {
      display: flex;
      align-items: center;
      margin: 0.125rem 0;

      .Icon {
        margin-left: 0;
        margin-right: 0.5rem;
      }
    }
  }
}