.Tabellrad.disabled {
    background: repeating-linear-gradient(
        110deg,
        var(--speil-light-hover),
        var(--speil-light-hover) 1px,
        var(--navds-color-background) 1px,
        var(--navds-color-background) 5px
    );
}

.Tabellrad.error {
    background: var(--navds-color-error-background);
}

.Tabellrad.inactive {
    color: var(--navds-color-text-disabled);
}

.Tabellrad.overstyrt {
    background-color: var(--navds-color-info-background);
}
