body {
    background-color: #eaeceb;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

html {
    height: 100%;
}

.main {
    margin-top: 1em;
}

svg[kind='ok-sirkel-fyll'] g path:first-child {
    fill: #38a161;
}
