.BolkHeader {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.BolkHeader__status {
    display: flex;
}

.BolkHeader__status .typo-normal {
    font-weight: 600;
}

.BolkHeader__status *:not(:last-child) {
    margin-right: 1rem;
}

.BolkHeader__list {
    margin-left: 2.5rem;
}

.BolkHeader__item {
    display: flex;
    justify-content: space-between;
}

.BolkHeader__item .typo-normal {
    width: 50%;
}

.BolkHeader__item .typo-normal:last-child {
    font-weight: 600;
}

.BolkHeader__line {
    flex: 1;
    height: 0;
    border-top: 1px dotted #3e3832;
    align-self: center;
}

.BolkHeader--with-value {
    width: 76%;
    display: flex;
    margin-right: 0 !important;
    padding-right: 1rem;
    box-sizing: border-box;
}

.BolkHeader--without-value {
    display: flex;
    width: 100%;
}
