.EnigBoks {
    display: flex;
    align-content: stretch;
    align-items: center;
    padding: 0.3rem;
    width: 50%;
}

.EnigBoks__input {
    flex: 1;x
}

.EnigBoks__input input {
    font-size: 1rem;
    background-color: #fff;
    color: #000;
}

.EnigBoks .skjemaelement {
    margin: 0;
}

.EnigBoks .skjemaelement__label {
    margin: 0;
}

.EnigBoks .skjemaelement:last-child {
    margin-left: 1rem;
}

.EnigBoks__input label {
    display: none;
}
