.personalia-linje {
    padding-left: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

hr {
    background-color: #92908d;
    height: 1px;
    margin: 0;
}

.behandling-hovedinfo {
    display: inline-block;
    padding: 2rem 0 0 2.5rem;
}

.behandling-hovedinfo .arbeidsgivernavn {
    margin-bottom: 0.5rem;
}
