.Uenigboks {
    display: flex;
    flex: 1;
    align-content: stretch;
    align-items: flex-start;
    padding: 0.3rem;
    width: 66%;
}

.Uenigboks .Uenigboks__input {
    flex: 1;
}

.Uenigboks .skjemaelement {
    margin: 0;
}

.Uenigboks .skjemaelement__label {
    margin: 0;
}

.Uenigboks .skjemaelement:first-child {
    margin-top: 0.5rem;
}

.Uenigboks .skjemaelement:last-child {
    margin-left: 1rem;
}
