.Uenigboks {
    display: flex;
    flex: 1;
    align-content: stretch;
    align-items: flex-start;
    padding: 0.3rem 0;
    width: 66%;
}

.Uenigboks .skjemaelement.skjemaelement--horisontal {
    margin: 0.5rem 0;
}

.Uenigboks .skjemaelement__label {
    margin: 0 0.5rem 0 0;
}

.Uenigboks .DynamicTextarea {
    flex: 1;
    margin: 0.125rem 0 0 1rem;
}
