.Content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-width: 0;
}

.Error {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1.5rem;

    a {
        margin-top: 0.5rem;
    }
}

.Skeleton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Varsel {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0;
}
