.Behandlingsstatistikk {
    --behandlingsstatistikk-padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: max-content;
    padding: var(--behandlingsstatistikk-padding);
    border-left: 1px solid var(--a-border-strong);
    height: 100%;
}

.Behandlingsstatistikk > table {
    font-size: var(--a-font-size-medium);
    border-collapse: separate;
    border-spacing: 16px 0;
    margin: 0 -16px;
}

.Behandlingsstatistikk > table tbody td,
.Behandlingsstatistikk > table thead th {
    text-align: right;
    height: 2rem;
    vertical-align: middle;
}

.Behandlingsstatistikk > table thead th {
    padding-bottom: 16px;
}

.Behandlingsstatistikk > table td:first-of-type {
    text-align: left;
}

.Behandlingsstatistikk > table tbody p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.FooterTotal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.FooterTotal > span {
    display: inline;
    font-weight: var(--a-font-weight-bold);
    font-size: var(--a-font-size-large);
    width: max-content;
    min-width: 3rem;
}

.FooterCellContainer {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'manuelt automatisk tilgjengelig'
        'annullert annullert annullert';
    gap: 16px;
}

.FooterCell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterCell:last-of-type {
    grid-area: annullert;
}

.FooterCell p:first-of-type {
    font-weight: var(--a-font-weight-bold);
    font-size: var(--a-font-size-heading-xlarge);
    line-height: var(--a-font-line-height-heading-xlarge);
    height: var(--a-font-line-height-heading-xlarge);
    min-width: 5rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
