.Behandlingsstatistikk {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: max-content;
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    border-left: 1px solid var(--ax-border-neutral-strong);
    height: 100%;
}

.Behandlingsstatistikk > table {
    font-size: var(--ax-font-size-medium);
    border-collapse: separate;
    border-spacing: 16px 0;
}

.Behandlingsstatistikk > table tbody td {
    text-align: right;
    height: 2rem;
    vertical-align: middle;
}

.Behandlingsstatistikk > table thead th {
    height: 2rem;
    vertical-align: middle;
    border-bottom: 0;
    padding: 1px 1px 16px;
}

.Behandlingsstatistikk > table td:first-of-type {
    text-align: left;
}

.Behandlingsstatistikk > table tbody p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.Behandlingsstatistikk > table tbody tr:hover {
    background-color: transparent !important;
}

.datacell {
    border-bottom: none;
    padding: 0;
}
