.Separator td {
    height: max-content !important;
    border-bottom: none;
    padding: 0;
}

.Separator hr {
    border: none;
    border-bottom: 1px solid var(--ax-neutral-400);
    margin: 8px 0;
}

.Separator:last-of-type hr {
    margin: 8px 0 24px;
}
