.topbar {
    display: flex;
    width: 100vw;
    height: 3em;
    background-color: #3e3832;
    color: #d7dae0;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    padding-left: 20px;
}

.header_divider {
    border-left: 1px solid #78706a;
    margin: 10px;
    height: 30px;
}

.title {
    display: flex;
    line-height: 1.75rem;
    font-size: 1.25rem;
    align-items: center;
}

.center {
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topbar .user {
    margin-right: 1rem;
    line-height: 1.75rem;
    font-size: 1rem;
}
