.topbar {
    display: flex;
    height: 3em;
    background-color: #3e3832;
    color: #d7dae0;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    padding-left: 20px;
}

.header_divider {
    border-left: 1px solid #d7dae0;
    margin: 10px;
    height: 30px;
}

.title {
    display: flex;
    line-height: 1.75rem;
    font-size: 1.5rem;
}

.center {
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center .user {
    display: flex;
    padding-right: 15px;
    line-height: 1.75rem;
    font-size: 1.5rem;
}
