.topbar {
   display: flex;
   height: 3em;
   min-height: 100%;
   background-color: #3e3832;
   color: #fff;
   align-items: center;
   justify-content: space-between;
}

.item {
   padding-left: 20px;
}

.header_divider {
   border-left: 1px solid #fff;
   border-right: 0 solid #fff;
   float: right;
   height: 30px;
}

.header_title {
   font-size: 1.5rem;
   line-height: 1.75rem;
}

.leftElements, .rightElements {
   display: flex;
}

.brukernavn {
   padding-right: 15px;
   font-size: 1.3rem;
   line-height: 1.75rem;
}
