.dropdown {
  width: max-content;

  li > button {
    height: 32px;
  }
}


.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0 13px;
  transition: background-color 0.1s ease;
  color: var(--ax-text-subtle);
  font-weight: var(--ax-font-weight-bold);
  height: 48px;
  gap: 8px;

  &:hover {
    background-color: var(--ax-bg-accent-moderate-hover);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 3px var(--ax-border-focus);
  }
}
