.Input input {
    text-align: right;
    justify-self: end;
}

.Input:focus-visible {
    box-shadow: var(--a-shadow-focus);
}

.InputError {
    border-width: 2px;
    border-color: var(--ax-text-danger-subtle);
}

.Feilmelding {
    margin: 0.25rem 0;
    color: var(--ax-text-danger-subtle);
}

.column {
    display: flex;
    flex-direction: column;
}

.column__deaktiveres {
    margin-top: 4px;
    padding-left: 0.5rem;
}
