apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: {{app}}
  namespace: {{team}}
  labels:
    team: {{team}}
spec:
  accessPolicy:
    outbound:
      rules:
        - application: spesialist
          cluster: prod-gcp
          namespace: tbd
        - application: flexjar-backend
          cluster: prod-gcp
          namespace: flex
        - application: modiacontextholder
          namespace: personoversikt
          cluster: prod-gcp
        - application: sparkel-aareg
          namespace: tbd
          cluster: prod-gcp
  image: {{image}}
  port: 3000
  ingresses:
    - https://speil.intern.nav.no
    - https://speil.ansatt.nav.no
  liveness:
    failureThreshold: 10
    initialDelay: 20
    path: /api/internal/isAlive
    periodSeconds: 5
    timeout: 1
  readiness:
    initialDelay: 20
    path: /api/internal/isReady
    timeout: 1
  replicas:
    cpuThresholdPercentage: 90
    max: 10
    min: 2
  resources:
    limits:
      cpu: '2000m'
      memory: '512Mi'
    requests:
      cpu: '150m'
      memory: '128Mi'
  prometheus:
    enabled: true
    path: /api/internal/metrics
  observability:
    autoInstrumentation:
      enabled: true
      runtime: nodejs
    logging:
      destinations:
        - id: elastic
        - id: loki
  azure:
    sidecar:
      enabled: true
      autoLogin: true
      autoLoginIgnorePaths:
        - /_next/*
        - /public/*
    application:
      enabled: true
      claims:
        extra:
          - 'NAVident'
        groups:
          - id: '611669fa-de5c-4dc2-a0e8-6041a019992a' # speil-brukere (vanlig saksbehandlertilgang)
          - id: 'f787f900-6697-440d-a086-d5bb56e26a9c' # tbd
          - id: 'c0227409-2085-4eb2-b487-c4ba270986a3' # nais-team-tbd
          - id: '9ec6487d-f37a-4aad-a027-cd221c1ac32b' # Fortrolig adresse
          - id: '59f26eef-0a4f-4038-bf46-3a5b2f252155' # beslutter
  secureLogs:
    enabled: true
  envFrom:
    - secret: speil
  env:
    - name: CLIENT_ID_SPESIALIST
      value: api://prod-gcp.tbd.spesialist/.default
    - name: SPESIALIST_BASE_URL
      value: http://spesialist
    - name: SPARKEL_AAREG_SCOPE
      value: api://prod-gcp.tbd.sparkel-aareg/.default
    - name: SPARKEL_AAREG_BASEURL
      value: http://sparkel-aareg
    - name: FLEXJAR_BASE_URL
      value: http://flexjar-backend.flex
    - name: CLIENT_ID_FLEXJAR
      value: api://prod-gcp.flex.flexjar-backend/.default
    - name: MODIA_BASE_URL
      value: http://modiacontextholder.personoversikt
    - name: MODIA_API_SCOPE
      value: api://prod-gcp.personoversikt.modiacontextholder/.default
    - name: SPESIALIST_WS_URL
      value: ws://spesialist
