.tabelBody {
    background-color: var(--a-bg-default);
}

.helg {
    background: var(--a-bg-subtle)
        repeating-linear-gradient(123deg, var(--a-gray-300), var(--a-gray-300) 1px, transparent 1px, transparent 9px);
}

.checkbox span {
    font-size: var(--a-font-size-large);
}

.icon {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valgteDatoer {
    text-decoration: line-through;
    background: var(--a-surface-action-subtle-hover);
}

.tabellTittel {
    padding-left: var(--a-spacing-4);
}

.tabelBody .datoKolonne,
.tabellHeader .datoKolonne {
    padding-left: var(--a-spacing-4);
}

.tabell {
    overflow-x: scroll;
}

.tabell td {
    border: var(--a-border-divider) 1px solid;
    border-top: none;
    border-left: none;
}

.arbeidsgiverNavn {
    font-weight: bold;
}
