.icon {
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redigering .helg {
    background: var(--ax-bg-neutral-soft)
        repeating-linear-gradient(
            123deg,
            var(--ax-neutral-400),
            var(--ax-neutral-400) 1px,
            transparent 1px,
            transparent 9px
        );
}

.visning .helg {
    background: var(--ax-bg-default)
        repeating-linear-gradient(
            123deg,
            var(--ax-neutral-400),
            var(--ax-neutral-400) 1px,
            transparent 1px,
            transparent 9px
        );
}

.valgteDatoer {
    text-decoration: line-through;
}

.redigering .valgteDatoer {
    background: var(--ax-bg-soft);
}

.visning .valgteDatoer {
    background: var(--ax-bg-neutral-moderate);
}

.tabell th {
    border-bottom: var(--ax-border-neutral-strong) 1px solid !important;
    border-right: var(--ax-border-neutral-subtle) 1px solid;
}

.tabell th:last-of-type {
    border-right: none;
}

.tabell td {
    border-right: var(--ax-border-neutral-subtle) 1px solid;
}

.tabell td:last-of-type {
    border-right: none;
}

.tabell tr:not(:last-of-type) td {
    border-bottom: var(--ax-border-neutral-subtle) 1px solid;
}

.tabell tr:last-of-type td {
    border-bottom: none;
}
