.icon {
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redigering .helg {
    background: var(--a-bg-subtle)
        repeating-linear-gradient(123deg, var(--a-gray-300), var(--a-gray-300) 1px, transparent 1px, transparent 9px);
}

.visning .helg {
    background: var(--a-bg-default)
        repeating-linear-gradient(123deg, var(--a-gray-300), var(--a-gray-300) 1px, transparent 1px, transparent 9px);
}

.valgteDatoer {
    text-decoration: line-through;
}

.redigering .valgteDatoer {
    background: var(--a-surface-selected);
}

.visning .valgteDatoer {
    background: var(--a-surface-neutral-moderate);
}

.tabell th {
    border-bottom: var(--a-border-strong) 1px solid !important;
    border-right: var(--a-border-divider) 1px solid;
}

.tabell th:last-of-type {
    border-right: none;
}

.tabell td {
    border-right: var(--a-border-divider) 1px solid;
}

.tabell td:last-of-type {
    border-right: none;
}

.tabell tr:not(:last-of-type) td {
    border-bottom: var(--a-border-divider) 1px solid;
}

.tabell tr:last-of-type td {
    border-bottom: none;
}
