.dokument {
    display: grid;
    column-gap: 8px;
    grid-template-columns: 83px auto;
}

.dokument p {
    font-size: var(--a-font-size-large);
    line-height: var(--a-font-line-height-large);
    word-break: break-word;
    grid-column: 1 / span 2;
}

.dokument .sammelinje {
    display: flex;
    flex-wrap: wrap;
}

.dokument .sammelinje > p {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}

.dokument > p:nth-child(even) {
    padding-bottom: 0.5rem;
}

.skeleton {
    padding-right: 1rem;
}

.skeleton p {
    margin-bottom: 0.25rem;
}

.spørsmål {
    padding-left: 0.5rem;
    grid-column: 1 / span 2;
    padding-top: 0.25rem;
    flex: 0 0 100%;
}

.rotspørsmål {
    padding-bottom: 0.5rem;
    padding-top: 0;
}

.spørsmål.rotspørsmål {
    padding-left: 0;
}
