.Uenigheter {
  .Uenigheter__label {
    color: #78706a;
  }

  .Uenigheter__grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-gap: 0.5rem 1rem;
    margin: 0.5rem 0;
  }
}