.NavLink {
    height: 48px;
    text-decoration: none;
    color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0 13px;
    transition: background-color 0.1s ease;
}

.NavLink:hover {
    background-color: var(--a-surface-action-subtle-hover);
}

.NavLink:active {
    background-color: var(--a-surface-action-selected);
}

.NavLink:focus-visible {
    box-shadow: inset 0 0 0 3px var(--a-border-focus);
}

.NavLink:after {
    content: attr(title);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--a-text-default);
    white-space: nowrap;
}

.NavLink:active:after {
    color: var(--a-text-on-inverted);
}

.ActiveLink.NavLink:after {
    font-weight: 600;
}

.ActiveLink:before {
    position: absolute;
    content: '';
    background: var(--a-surface-action);
    bottom: 0;
    left: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%;
    transition: height 0.1s ease;
    height: 4px;
}
