.container {
  padding: 0;

  .content {
    border: 0.25rem solid var(--a-bg-subtle);

    .header {
      display: flex;
      background: var(--a-bg-subtle);
      padding: 1rem;
      flex-direction: column;

      .tittel {
        margin-bottom: 0.5rem;
        font-size: var(--a-font-size-heading-small);
      }
    }

    .body {
      padding: 1rem;
      background: white;

      .spørsmål {
        margin-bottom: 1.5rem;
      }

      .form {
        margin-top: 2rem;

        .alert {
          margin-top: 1rem;
        }

        .send {
          margin-top: 1rem;
        }
      }
    }
  }

  .thanks {
    padding: 1rem;
    background: var(--a-surface-success-subtle);

    .header {
      font-weight: bold;
      text-align: center;
    }
  }
}

.button {
  outline: none;

  &:not(:first-of-type) {
    margin-left: 0.5rem;
  }

  &:hover, &.answer {
    background: var(--a-surface-neutral-active);
    color: var(--a-text-on-inverted);
  }

  &.answer:focus {
    box-shadow: none;
  }
}