.driftsmelding {
  border-bottom: none;
  border-radius: 0;
  padding: 0.5rem;

  > :global(.navds-alert__wrapper--maxwidth){
    max-width: 100%;
  }
}

.dato {
  font-size: 14px;
  color: var(--a-text-subtle);
}

.tittel {
  font-size: 18px;
}