.driftsmelding {
  cursor: pointer;

  &:hover {
    .tittel {
    text-decoration: underline;
    }

    .button{
      background-color: var(--ax-neutral-300A);
      border-radius: var(--ax-radius-4);
    }
  }
}

.button {
  display: flex;
}

.dato {
  font-size: 14px;
}

.chevron {
  transition: transform 0.3s ease;
}

.chevronrotated {
  transform: rotate(180deg);
}