.driftsmelding {
  cursor: pointer;
  border-radius: 0;

  &:hover {
    .tittel {
    text-decoration: underline;
    }

    .button{
      background-color: var(--ax-neutral-300A);
      border-radius: var(--ax-radius-4);
    }
  }
}

.button {
  display: flex;
}

.dato {
  font-size: 14px;
  color: var(--ax-text-neutral-subtle);
}

.tittel {
  font-size: 18px;
  text-decoration: none;

}

.chevron {
  transition: transform 0.3s ease;
}

.chevronrotated {
  transform: rotate(180deg);
}

.melding {
  margin-top: 0.25rem;
}