.driftsmelding {
  cursor: pointer;
}

.infomelding {
  cursor: pointer;
  border-radius: 0;
}

.button {
  display: flex;
}

.dato {
  font-size: 14px;
}

.chevron {
  transition: transform 0.3s ease;
}

.chevronrotated {
  transform: rotate(180deg);
}