.EditButton {
    display: flex;
    align-items: flex-end;
    align-self: center;
    flex-wrap: nowrap;
    color: var(--a-surface-action);
    padding: 4px;
    margin-right: -2px;
}

.EditButton > svg {
    margin-right: 6px;
}

.EditButton > p {
    line-height: 14px;
    text-decoration: underline;
}

.EditButton:hover > p {
    text-decoration: none;
}

.EditButton:focus-visible {
    box-shadow: inset 0 0 0 3px var(--a-border-focus);
}

.EditButtonText {
    min-width: 4.3rem; /* unngå at ikonet flytter seg når tekstinnholdet endrer lengde (eksempelvis 'Revurder' -> 'Avbryt') */
    text-align: left;
}
