.EditButton {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--navds-semantic-color-interaction-primary);
    padding: 0;
}

.EditButton > svg {
    margin-right: 6px;
}

.EditButton > p {
    line-height: 16px;
    text-decoration: underline;
}

.EditButton:hover > p {
    text-decoration: none;
}
