.KebabButton {
    position: relative;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid var(--navds-semantic-color-interaction-primary);
    padding: 0;
}

.KebabButton path {
    fill: var(--navds-semantic-color-interaction-primary);
}

.KebabButton:hover {
    background: var(--navds-semantic-color-interaction-primary);
}

.KebabButton:active {
    background: var(--navds-semantic-color-focus);
}

.KebabButton:hover path,
.KebabButton:active path {
    fill: white;
}

.KebabButton:focus {
    border: none;
    box-shadow: 0 0 0 2px var(--navds-semantic-color-focus);
}

.KebabButton:focus:active {
    box-shadow: none;
}

.KebabButton:focus:hover {
    background: var(--navds-semantic-color-focus);
}

.KebabButton:before {
    background: none;
    position: absolute;
    width: 40px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
}
