@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.LoadingShimmer {
    --shimmer-color-light: var(--navds-global-color-gray-100);
    --shimmer-color-dark: var(--navds-global-color-gray-300);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(
        to right,
        var(--shimmer-color-light) 0%,
        var(--shimmer-color-dark) 16%,
        var(--shimmer-color-light) 33%
    );
    background-size: 800px 104px;
    border-radius: 4px;
    height: var(--navds-font-line-height-medium);
    width: 100%;
    display: block;
}
