.Tag {
    --tag-border-color: var(--a-border-strong);
    --tag-background-color: var(--a-gray-50);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: var(--a-font-weight-bold);
    line-height: 13px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid var(--tag-border-color);
    background-color: var(--tag-background-color);
}

.Tag.purple {
    --tag-border-color: var(--a-purple-500);
    --tag-background-color: var(--a-purple-100);
}

.Tag.blue {
    --tag-border-color: var(--a-deepblue-500);
    --tag-background-color: var(--a-deepblue-50);
}

.Tag.green {
    --tag-border-color: var(--a-limegreen-800);
    --tag-background-color: var(--a-limegreen-100);
}

.Tag.orange {
    --tag-border-color: var(--a-orange-600);
    --tag-background-color: var(--a-orange-100);
}

.Tag.red {
    --tag-border-color: var(--a-red-600);
    --tag-background-color: var(--a-red-100);
}

.Tag.gray {
    --tag-border-color: var(--a-gray-600);
    --tag-background-color: var(--a-gray-100);
}
