.TextWithEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--a-font-size-large);
}

.TextWithEllipsis > a:focus-visible {
    box-shadow: 0 0 0 3px var(--a-border-focus);
}
