.unntatt {
    grid-area: unntatt;
    display: flex;
    height: min-content;
    box-sizing: border-box;
    border: 1px solid var(--ax-border-neutral-strong);
    color: var(--ax-text-neutral);
    white-space: nowrap;
    min-width: max-content;
}

.luft {
    margin: 8px 0;
}

.feilmelding {
    color: var(--ax-text-danger-subtle);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.625rem;
}
