.Table {
    margin-left: -0.5rem;
    margin-right: 0;
}

.Table tbody tr:nth-child(odd) {
    background-color: var(--ax-bg-default);
}

.Table tbody tr:nth-child(even) {
    background-color: var(--ax-bg-soft);
}

.Table td,
.Table th {
    border: none;
    font-weight: normal;
}

.SisteRefusjonsdag {
    margin-top: 12px;
    margin-bottom: 17px;
}

.nowrap {
    white-space: nowrap;
}
