#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

:root {
    --navds-font-size-title-2xl: 2.2222222222222223rem;
    --navds-font-size-title-xl: 1.7777777777777777rem;
    --navds-font-size-title-l: 1.5555555555555556rem;
    --navds-font-size-title-m: 1.3333333333333333rem;
    --navds-font-size-title-s: 1.1111111111111112rem;
    --navds-font-size-xl: 1.1111111111111112rem;
    --navds-font-size-l: 1rem;
    --navds-font-size-m: 0.8888888888888888rem;
    --navds-font-size-s: 0.7777777777777778rem;

    --speil-background-secondary: #f8f8f8;
    --speil-light-hover: #e9e7e7;
    --speil-light-hover-tabell: #e5f3ff;
    --speil-ekspandert-info-background: #f7fdff;
    --speil-ekspandert-success-background: #f4fcf6;
    --speil-ekspandert-warning-background: #fffaf3;
    --speil-ekspandert-error-background: #fdf6f4;

    --speil-etikett-forlengelse-background: #e0f5fb;
    --speil-etikett-forlengelse-border: #5690a2;
    --speil-etikett-forstegangs-background: #e0dae7;
    --speil-etikett-forstegangs-border: #634689;
    --speil-etikett-forlengelse-it-background: #f1f1f1;
    --speil-etikett-forlengelse-it-border: #6a6a6a;
    --speil-etikett-stikkprove-background: #f9d2cc;
    --speil-etikett-stikkprove-border: #a32a17;
    --speil-etikett-risk-background: #ffdbab;
    --speil-etikett-risk-border: #d87f0a;

    --speil-etikett-adressebeskyttelse-background: #f9d2cc;
    --speil-etikett-adressebeskyttelse-border: #ba3a26;
    --speil-etikett-dødsdato-background: #59514b;
    --speil-etikett-dødsdato-border: #59514b;

    --speil-color-infotrygd: #78706a;
    --speil-color-saksbehandler: #826ba1;
    --speil-color-automatisk: #59514b;

    --speil-overstyring-background: #f7f7f7;
    --speil-table-row-border-color: #c6c2bf;

    --speil-info-ikon: #5690a2;

    --nav-lime-gronn-darken-40: #7a7e14;
    --nav-lime-gronn-lighten-80: #ecefcc;
    --nav-blaa-darken-20: #0056b4;

    --nav-infotrygd-bakgrunn-stiplet: repeating-linear-gradient(
        123deg,
        white,
        white 10px,
        #c9c9c9 10px,
        #c9c9c9 11.5px
    );

    --nav-ghostpolse-bakgrunn: #ffffff;

    --speil-total-min-width: 1200px;
    --speil-venstremeny-width: 340px;
    --speil-hoyremeny-width: 272px;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--navds-color-background);
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.main {
    margin-top: 1em;
}

.typo-normal {
    color: var(--navds-color-text-primary);
}
