.AvvisningModal {
    padding: 1.5rem 1.75rem;
}

.Buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.Buttons > button {
    width: max-content;
}

.Loader {
    margin-left: 0.5em;
}

.Feilmelding {
    min-height: 1.5em;
    margin-top: 1em;
}
