.SimuleringsinfoModal {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.SimuleringsinfoModal > h2:first-of-type {
    margin-bottom: 1rem;
}

.Grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    margin-bottom: 1rem;
}

.Grid > p:first-of-type,
.Grid > p:nth-child(3) {
    margin-bottom: 1rem;
}

.Negative {
    color: var(--navds-semantic-color-feedback-danger-text);
    font-style: italic;
}
