.container {
    display: flex;
    flex-direction: column;
    margin: 0 -1.5rem;
    padding: 0 1rem 2rem;

    &.aktiv {
        background: #eceef0;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.infotekst {
    color: var(--a-text-default);
    display: flex;
    padding-top: 1rem;
}

.spinner {
    margin-right: 0.5rem;
}
