@mixin left-aligned($color) {
  > td:first-of-type {
    position: relative;
  }

  > td:first-of-type:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color;
    width: 3px;
    height: 2rem;
  }
}

.row {
  position: relative;

  > td {
    position: relative;
    height: 2rem;
    padding: 0 1rem;

    &:not(:first-of-type):not(:last-of-type) {
      padding-right: 1rem;
    }
  }

  &.markert > td {
    background: var(--ax-bg-neutral-moderate);
  }

  &.helg {
    background: repeating-linear-gradient(123deg,
            var(--speil-light-hover),
            var(--speil-light-hover) 1px,
            transparent 1px,
            transparent 9px);
  }

  &.avvist {
    background-color: var(--ax-bg-danger-moderate);
    @include left-aligned(var(--ax-border-danger))
  }

  &.agpEllerVentetid {
    background-color: var(--ax-bg-neutral-soft);
    @include left-aligned(var(--ax-text-neutral-subtle))
  }

  &.nydag {
    background-color: var(--ax-bg-default);
  }
}
