.header {
    color: var(--ax-bg-accent-strong) !important;
    background: none !important;
    text-decoration: underline;
    padding: 0 !important;
    justify-content: unset;
    gap: 8px;
    width: max-content;
    border-bottom: none;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    box-shadow: none !important;
}

.header > span {
    font-size: var(--ax-font-size-medium);
    font-weight: var(--ax-font-weight-regular);
}

.header:focus {
    box-shadow: none;
}

.header:focus-visible {
    outline: 3px solid var(--ax-border-focus);
    outline-offset: 3px;
}

.header:hover {
    text-decoration: none;
}

.header > svg {
    width: 16px;
    height: 16px;
}

.content {
    padding: 8px 0 0;
    border-bottom: none;
    word-break: break-word;
}

.closed {
    mask-image: linear-gradient(black 5%, transparent);
    overflow: hidden;
    text-overflow: '';
    white-space: nowrap;
    height: 4rem;
}

.item {
    box-shadow: none !important;
}
