.skjønnsfastsettingBegrunnelse {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-16);
}

.mal {
  width: 420px;
}

.fritekst {
  width: 420px;
  margin: 0.5rem 0;
}

.fritekstlabel {
  display: flex;
  align-items: center;
}

.fritekstlabel label {
  line-height: var(--ax-font-line-height-large);
}

.typer {
  margin-bottom: var(--ax-space-16);

  legend {
    display: flex;
  }
}

.årsak {
  margin-bottom: var(--ax-space-24);

  legend {
    display: flex;
  }
}

.valgt {
  display: flex;
  gap: var(--ax-space-8);
  margin-top: var(--ax-space-20)
}

.endringsknapp {
  margin-left: 1rem;
}

.Bold,
label.Bold {
  font-weight: bold;
}

.button svg {
  margin-left: var(--ax-space-8);
}

.button > span {
  display: flex;
}
