.skjønnsfastsetting {
    padding-left: var(--a-spacing-5);
    padding-right: var(--a-spacing-12);
}

.buttons {
    margin-top: var(--a-spacing-4);
    display: flex;
    gap: var(--a-spacing-2);
}

.arbeidsgivere {
    margin-bottom: var(--a-spacing-4);
}

.arbeidsgiver {
    margin-bottom: var(--a-spacing-2);
}

.enArbeidsgiver {
    font-weight: bold;
    margin-top: var(--a-spacing-2);
}

.arbeidsgiver:last-of-type td {
    padding-bottom: 1rem;
}

.arbeidsgiver td:last-of-type,
.tabell th:last-of-type {
    padding-right: 0;
}

.arbeidsgiverInput > input {
    width: 7rem;
    text-align: right;
}

.tabell td,
.tabell th {
    padding: 0 2rem 0.5rem 0;
    vertical-align: middle;
}

.tabell th {
    text-align: left;
}

.tabell label {
    font-weight: normal;
}

.total {
    border-top: 1px solid var(--a-text-default);
}

.total td {
    padding-top: 0.5rem;
}

.tabell .inntektSum {
    text-align: right;
    padding-right: 0;
}

.error {
    padding-top: var(--a-spacing-4);
}

.Bold,
label.Bold {
    font-weight: bold;
}

.sykepengegrunnlag td {
    padding-bottom: 0;
}

.erBegrenset td {
    padding-top: 0;
    padding-right: 0.5rem;
}

.detail {
    color: var(--a-gray-700);
    align-items: baseline;
    width: 12rem;
}

.detail a {
    margin-left: 10px;
}
