.skjønnsfastsetting {
    padding-left: var(--ax-space-20);
    padding-right: var(--ax-space-48);
}

.arbeidsgivere {
    margin-bottom: var(--ax-space-16);
}

.arbeidsgiver {
    margin-bottom: var(--ax-space-8);
}

.enArbeidsgiver {
    font-weight: bold;
    margin-top: var(--ax-space-8);
}

.arbeidsgiver:last-of-type td {
    padding-bottom: 1rem;
}

.arbeidsgiver td:last-of-type,
.tabell th:last-of-type {
    padding-right: 0;
}

.arbeidsgiverInput > input {
    width: 7rem;
    text-align: right;
}

.tabell {
    width: fit-content;
}

.tabell td,
.tabell th {
    padding: 0 2rem 0.5rem 0;
    border: none;
    vertical-align: middle;
}

.tabell th {
    text-align: left;
}

.tabell label {
    font-weight: normal;
}

.total {
    border-top: 1px solid var(--ax-text-neutral);
}

.total td {
    padding-top: 0.5rem;
}

.tabell .inntektSum {
    text-align: right;
    padding-right: 0;
}

.error {
    padding-top: var(--ax-space-16);
}

.Bold,
label.Bold {
    font-weight: bold;
}

.sykepengegrunnlag td {
    padding-bottom: 0;
}

.erBegrenset td {
    padding-top: 0;
    padding-right: 0.5rem;
}

.detail {
    color: var(--ax-neutral-800);
    align-items: baseline;
}
