.Statistikkpanel > button {
    border: none;
    padding: 0.5rem 0;
}

.Statistikkpanel > button:hover .Heading {
    color: var(--navds-semantic-color-interaction-primary);
}

.Statistikkpanel :global(.navds-accordion__content) {
    padding: 0;
    border-bottom: none;
}

.Statistikkpanel > button {
    box-shadow: none !important;
}

.Statistikkpanel > button:focus-visible {
    box-shadow: var(--navds-shadow-focus) !important;
}

.Statistikkpanel:global(.navds-accordion__item--open) > :global(.navds-accordion__header) {
    background-color: unset;
}

.Statistikkpanel :global(.navds-accordion__expand-icon) {
    width: 16px;
    height: 16px;
}

.Heading {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: var(--navds-global-color-gray-700);
}

.Heading > p:first-of-type {
    font-size: 14px;
    margin-right: 0.5rem;
    font-weight: 400;
}

.Heading > p:last-of-type {
    font-weight: 600;
}

.Content {
    display: grid;
    grid-template-columns: max-content max-content auto;
    row-gap: 8px;
    column-gap: 20px;
    align-items: center;
}

.Antall {
    line-height: 18px;
    text-align: right;
}

.SubpanelHeader {
    grid-column-start: 1;
    grid-column-end: 4;
}

.SubpanelHeader > button {
    display: flex;
    padding: 0 0 0.5rem;
}

.SubpanelHeader :global(.navds-accordion__expand-icon) {
    order: -1;
}

.SubpanelContent > *:nth-child(3n + 1) {
    padding-left: 32px;
}

.SubpanelContent .Antall {
    font-weight: 400;
}
