@import '@navikt/ds-css';

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

:root {
    --ax-font-size-medium: 0.875rem;
    --ax-font-size-large: 1rem;
    --speil-light-hover: var(--ax-bg-neutral-soft);
    --speil-total-min-width: 1400px;

    /* overstyrer plassering av knapper i aksel-modal */
    .navds-modal__footer {
        flex-flow: row wrap;
    }

    .navds-modal__footer :nth-of-type(2) {
        margin-left: 0;
        margin-right: auto;
    }
}

/* Sladding av sensitive data, f.eks. når man deler skjerm eller tar skjermbilder */
:root {
    --anonymous-background: var(--ax-neutral-300);
    --anonymous-color: var(--anonymous-background);
    --anonymous-border-radius: 0.25rem;
    --anonymous-opacity: 0;
    --anonymous-user-select: none;

    --visible-color: unset;
    --visible-background: unset;
    --visible-border-radius: unset;
    --visible-opacity: 1;
    --visible-user-select: unset;

    --anonymizable-background: unset;
    --anonymizable-color: unset;
    --anonymizable-border-radius: unset;
    --anonymizable-opacity: 1;
    --anonymizable-user-select: unset;
}

[data-color='gammalost'] {
    --ax-bg-moderate: var(--ax-bg-meta-lime-soft);
    --ax-text-default: var(--ax-text-meta-lime);
    --ax-text-subtle: var(--ax-text-meta-lime-subtle);
    --ax-text-decoration: var(--ax-text-meta-lime-decoration);
    --ax-text-contrast: var(--ax-text-meta-lime-contrast);
    --ax-border-default: var(--ax-border-meta-lime);
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--ax-bg-default);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
