@import '@navikt/ds-css';

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

:root {
    --a-font-size-medium: 0.875rem;
    --a-font-size-large: 1rem;
    --speil-light-hover: #e9e7e7;
    --nav-infotrygd-bakgrunn-stiplet: repeating-linear-gradient(132deg, #fff, #fff 6px, #e3e0df 6px, #e3e0df 7.5px);
    --nav-infotrygd-bakgrunn-stiplet-hover: repeating-linear-gradient(
        132deg,
        var(--a-gray-100),
        var(--a-gray-100) 6px,
        #e3e0df 6px,
        #e3e0df 7.5px
    );

    --nav-ghost-deaktivert-bakgrunn: #f1f1f1;
    --nav-ghost-deaktivert-border: #c6c2bf;
    --nav-ghost-deaktivert-pille-bakgrunn: #c9c9c9;
    --nav-ghost-deaktivert-pille-border: #6a6a6a;

    --speil-total-min-width: 1400px;

    /* overstyrer plassering av knapper i aksel-modal */
    .navds-modal__footer {
        flex-flow: row wrap;
    }

    .navds-modal__footer :nth-of-type(2) {
        margin-left: 0;
        margin-right: auto;
    }
}

/* Sladding av sensitive data, f.eks. når man deler skjerm eller tar skjermbilder */
:root {
    --anonymous-background: var(--a-gray-200);
    --anonymous-color: var(--anonymous-background);
    --anonymous-border-radius: 0.25rem;
    --anonymous-opacity: 0;

    --visible-color: unset;
    --visible-background: unset;
    --visible-border-radius: unset;
    --visible-opacity: 1;

    --anonymizable-background: unset;
    --anonymizable-color: unset;
    --anonymizable-border-radius: unset;
    --anonymizable-opacity: 1;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--a-bg-default);
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

/*TODO: legg inn på komponentnivå evt. bytt til aksel table*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
