@import 'tailwindcss';
@import '@navikt/ds-css' layer(components);

@config '../../tailwind.config.ts';

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

:root {
    --ax-font-size-medium: 0.875rem;
    --ax-font-size-large: 1rem;
    --speil-light-hover: var(--ax-bg-neutral-soft);
    --speil-total-min-width: 1400px;

    /* overstyrer plassering av knapper i aksel-modal */
    .navds-modal__footer {
        flex-flow: row wrap;
    }

    .navds-modal__footer :nth-of-type(2) {
        margin-left: 0;
        margin-right: auto;
    }
}

/* Sladding av sensitive data, f.eks. når man deler skjerm eller tar skjermbilder */
:root {
    --anonymous-background: var(--ax-neutral-300);
    --anonymous-color: var(--anonymous-background);
    --anonymous-border-radius: 0.25rem;
    --anonymous-opacity: 0;
    --anonymous-user-select: none;

    --visible-color: unset;
    --visible-background: unset;
    --visible-border-radius: unset;
    --visible-opacity: 1;
    --visible-user-select: unset;

    --anonymizable-background: unset;
    --anonymizable-color: unset;
    --anonymizable-border-radius: unset;
    --anonymizable-opacity: 1;
    --anonymizable-user-select: unset;
}

[data-color='gammalost'] {
    --ax-bg-moderate: var(--ax-bg-meta-lime-soft);
    --ax-text-default: var(--ax-text-meta-lime);
    --ax-text-subtle: var(--ax-text-meta-lime-subtle);
    --ax-text-decoration: var(--ax-text-meta-lime-decoration);
    --ax-text-contrast: var(--ax-text-meta-lime-contrast);
    --ax-border-default: var(--ax-border-meta-lime);
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--ax-bg-default);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

/* Tidslinjeperiode styling */
[data-period-variant='ventende'] {
    --ax-bg-moderate: var(--ax-bg-accent-moderate);
    --ax-bg-moderate-hover: var(--ax-bg-accent-moderate-hover);
    --ax-text-default: var(--ax-text-accent);
    --ax-text-decoration: var(--ax-text-accent-decoration);
    --ax-border-default: var(--ax-border-accent);
    --ax-border-strong: var(--ax-border-accent-strong);
}

[data-period-variant='behandles'] {
    --ax-bg-moderate: var(--ax-bg-brand-beige-moderate);
    --ax-bg-moderate-hover: var(--ax-bg-brand-beige-moderate-hover);
    --ax-text-default: var(--ax-text-brand-beige);
    --ax-text-decoration: var(--ax-text-brand-beige-decoration);
    --ax-border-default: var(--ax-border-brand-beige);
    --ax-border-strong: var(--ax-border-brand-beige-strong);
}

[data-period-variant='godkjent'] {
    --ax-bg-moderate: var(--ax-bg-success-moderate);
    --ax-bg-moderate-hover: var(--ax-bg-success-moderate-hover);
    --ax-text-default: var(--ax-text-success);
    --ax-text-decoration: var(--ax-text-success-decoration);
    --ax-border-default: var(--ax-border-success);
    --ax-border-strong: var(--ax-border-success-strong);
    --period-icon-border: var(--ax-text-success-decoration);
    --period-icon-bg: var(--ax-text-success-decoration);
    --period-icon-fill: var(--ax-text-neutral-contrast);
}

[data-period-variant='historisk'] {
    --ax-bg-moderate: var(--ax-bg-meta-lime-moderate);
    --ax-bg-moderate-hover: var(--ax-bg-meta-lime-moderate-hover);
    --ax-text-default: var(--ax-text-meta-lime);
    --ax-text-decoration: var(--ax-text-meta-lime-decoration);
    --ax-border-default: var(--ax-border-meta-lime);
    --ax-border-strong: var(--ax-border-meta-lime-strong);
    --period-icon-border: var(--ax-text-meta-lime-decoration);
    --period-icon-bg: var(--ax-text-meta-lime-decoration);
    --period-icon-fill: var(--ax-text-neutral-contrast);
}

[data-period-variant='ghost'] {
    --ax-bg-moderate: var(--ax-bg-default);
    --ax-bg-moderate-hover: var(--ax-bg-neutral-soft);
    --ax-text-default: var(--ax-text-neutral);
    --ax-text-decoration: var(--ax-text-neutral-decoration);
    --ax-border-default: var(--ax-border-neutral);
    --ax-border-strong: var(--ax-border-neutral-strong);
    --period-icon-border: var(--ax-border-neutral);
    --period-icon-bg: var(--ax-bg-default);
    --period-icon-fill: var(--ax-border-neutral);
}

[data-period-variant='tilkommen'] {
    --ax-bg-moderate: var(--ax-bg-meta-purple-moderate);
    --ax-bg-moderate-hover: var(--ax-bg-meta-purple-moderate-hover);
    --ax-text-default: var(--ax-text-meta-purple);
    --ax-text-decoration: var(--ax-text-meta-purple-decoration);
    --ax-border-default: var(--ax-border-meta-purple);
    --ax-border-strong: var(--ax-border-meta-purple-strong);
    --period-icon-border: var(--ax-text-meta-purple-decoration);
    --period-icon-bg: var(--ax-text-meta-purple-decoration);
    --period-icon-fill: var(--ax-text-neutral-contrast);
}

[data-period-variant='tilkommen_fjernet'] {
    --ax-bg-moderate: var(--ax-bg-meta-purple-moderate);
    --ax-bg-moderate-hover: var(--ax-bg-meta-purple-moderate-hover);
    --ax-text-default: var(--ax-text-meta-purple);
    --ax-text-decoration: var(--ax-text-neutral-decoration);
    --ax-border-default: var(--ax-border-meta-purple);
    --ax-border-strong: var(--ax-border-meta-purple-strong);
}

[data-period-variant='ingen_utbetaling'] {
    --ax-bg-moderate: var(--ax-bg-neutral-moderate);
    --ax-bg-moderate-hover: var(--ax-bg-neutral-moderate-hover);
    --ax-text-default: var(--ax-text-neutral);
    --ax-text-decoration: var(--ax-text-neutral-decoration);
    --ax-border-default: var(--ax-border-focus);
    --ax-border-strong: var(--ax-border-neutral-strong);
    --period-icon-border: var(--ax-text-neutral-decoration);
    --period-icon-bg: var(--ax-text-neutral-decoration);
    --period-icon-fill: var(--ax-text-neutral-contrast);
}

[data-period-variant='annullert'] {
    --ax-bg-moderate: var(--ax-bg-danger-moderate);
    --ax-bg-moderate-hover: var(--ax-bg-danger-moderate-hover);
    --ax-text-default: var(--ax-text-danger);
    --ax-text-decoration: var(--ax-text-danger-decoration);
    --ax-border-default: var(--ax-border-danger);
    --ax-border-strong: var(--ax-border-danger-strong);
    --period-icon-border: var(--ax-text-danger-decoration);
    --period-icon-bg: var(--ax-text-danger-decoration);
    --period-icon-fill: var(--ax-text-neutral-contrast);
}

[data-period-variant='infotrygd'] {
    --ax-bg-moderate: repeating-linear-gradient(
        132deg,
        var(--ax-bg-default),
        var(--ax-bg-default) 6px,
        var(--ax-bg-neutral-moderate) 6px,
        var(--ax-bg-neutral-moderate) 7.5px
    );
    --ax-bg-moderate-hover: repeating-linear-gradient(
        132deg,
        var(--ax-bg-neutral-soft),
        var(--ax-bg-neutral-soft) 6px,
        var(--ax-bg-neutral-moderate) 6px,
        var(--ax-bg-neutral-moderate) 7.5px
    );
    --ax-text-default: var(--ax-text-default);
    --ax-text-decoration: var(--ax-text-neutral-decoration);
    --ax-border-default: var(--ax-border-neutral);
    --ax-border-strong: var(--ax-border-neutral-strong);
    --period-icon-border: var(--ax-border-neutral);
    --period-icon-bg: var(--ax-bg-default);
    --period-icon-fill: var(--ax-border-neutral);
}
