.notat {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--ax-border-neutral);
    padding: 1rem 0;
}

.retur {
    border-bottom: 0;
}

.apneNotat {
    display: flex;
    align-items: flex-end;
    color: var(--ax-text-accent-subtle);
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
    padding: 0;
    margin: 0;
}

.apneNotat.apen {
    color: var(--ax-text-neutral);
    padding-bottom: 0.5rem;
}

.apneNotat .tekst {
    text-decoration: underline;
}

.apneNotat.apen .tekst {
    text-decoration: none;
    font-weight: bold;
}

.apneNotat.apen > svg {
    color: var(--ax-text-accent-subtle);
}

.apneNotat > svg {
    margin-right: 0.5rem;
}

.header {
    background-color: transparent !important;
    border: 0;
    padding: 0;
}

.header > svg:last-child {
    display: none;
}

.form {
    padding-top: 0.5rem;
}
