.EditableInntekt {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.EditableInntekt > div:nth-of-type(2) {
    margin-bottom: 1.5rem;
}

.Grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 1rem;
    grid-row-gap: 0.25rem;
}

.Grid p {
    line-height: 36px;
    vertical-align: center;
}

.OpprinneligMånedsbeløp {
    visibility: hidden;
    text-decoration: line-through;
}

.OpprinneligMånedsbeløp.harEndringer {
    visibility: visible;
}

.OmregnetTilÅrsinntekt.harEndringer > p {
    font-style: italic;
}

.OmregnetTilÅrsinntekt > div {
    position: relative;
    display: flex;
    align-items: center;
}

.OmregnetTilÅrsinntekt.harEndringer > div > p {
    padding-left: 1rem;
    font-style: italic;
}

.Warning {
    font-style: italic;
}

.Buttons {
    display: flex;
    margin-top: 1rem;
    gap: 0.5rem;
}

.Button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 23px;
}

.Button:hover,
.Button:disabled,
.Button.navds-button:disabled {
    border-width: 2px;
    border-color: var(--navds-semantic-color-border-muted);
    padding: 5px 23px;
}

.Button svg {
    margin-left: 0.5rem;
}

.Button > span {
    display: flex;
}

.Feiloppsummering {
    margin: 1.5rem 0 0.5rem;
}

.WarningIngenSkjemaEndringer {
    margin: 0.5rem 0;
}

.Skjæringstidspunkt {
    font-weight: 600;
}
