.NotatListeRad > td {
    max-width: 22rem;
}

.NotatListeRad > td > :not(:last-of-type) {
    margin-bottom: 0.5rem;
}

.NotatListeRad.error > td {
    background-color: #f9d2cc !important;
}

.NotatListeRad.error > td:last-of-type {
    font-style: italic;
}

.Kommentar {
    white-space: pre-wrap;
}
