.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons span {
    display: flex;
    column-gap: var(--a-spacing-2);
}

.tittel {
    margin-bottom: 0.5rem;
}

.textarea {
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: pre-line;
}

.textarea textarea {
    min-height: 120px;
    height: max-content;
    margin: 0;
}

.textarea label {
    display: none;
}

.error {
    margin-top: 1rem;
}

.tildeling {
    margin-top: 1rem;
}
