.page-content {
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
}

.main-content {
    flex: 1;
    max-width: calc(100% - 50px);
}

.main-content .panel {
    margin: 1.5em;
    padding: 2rem;
}

.main-content .panel-tittel {
    padding-bottom: 1.5rem;
}

.main-content .panel .Navigasjonsknapper {
    margin-top: 2.5rem;
}
