.VelgBehandlingModal {
  padding: 1rem 3rem 1rem 1rem;

  .typo-undertittel {
    margin-bottom: 1rem;
  }

  .list-header {
    width: 70%;
    display: flex;
    margin: 1rem 0 0.5rem 0;

    p.typo-element:first-child {
      margin-right: 3rem;
    }
  }

  li {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.5rem;

    &:not(:last-child) {
      border-bottom: 1px dotted black;
    }
  }
}