.SaksbildeMenu {
    grid-area: sakslinje;
    display: flex;
    justify-content: space-between;
    height: 48px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--a-border-strong);
    padding: 0 2rem 0 2rem;
}

.SaksbildeMenu.Error {
    background: var(--a-surface-danger-subtle);
    display: flex;
    align-items: center;
}

.SaksbildeMenu > div:first-of-type {
    display: flex;
}

.SaksbildeMenu > div:last-of-type {
    margin-left: 1rem;
}

.TabList {
    display: flex;
}

.SaksbildeMenu.Skeleton .TabList > span:not(:last-of-type) {
    margin: auto 13px;
}

.SaksbildeMenu.Skeleton .TabList > span:nth-of-type(1) {
    width: 72px;
    min-width: 72px;
}

.SaksbildeMenu.Skeleton .TabList > span:nth-of-type(2) {
    width: 98px;
    min-width: 98px;
}

.SaksbildeMenu.Skeleton .TabList > span:nth-of-type(3) {
    width: 133px;
    min-width: 133px;
}

.SaksbildeMenu.Skeleton .TabList > span:nth-of-type(4) {
    width: 80px;
    min-width: 80px;
}
