.historikk-container {
    grid-area: høyremeny;
    width: auto;
    display: flex;
}

.historikk {
    grid-area: høyremeny;
    overflow: hidden;
    /*transition: width 0.2s ease;*/
    height: 100%;
}

.historikk > ul {
    padding: 0 2rem 1rem 1rem;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

.header {
    font-size: 14px;
    padding: 1rem 1rem 1rem 1rem;
}

.xbutton {
    border: 0;
    width: 1rem;
    height: 1rem;
    background: transparent;
    cursor: pointer;
    padding: 0;
    border-radius: 0.25rem;
    margin-left: auto;
}

.xbutton svg {
    font-size: 1rem;
}

.xbutton:hover {
    background: var(--a-surface-hover);
}

.error {
    background-color: var(--a-surface-danger-subtle);
}
