.historikkmeny {
    --antall-notater: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    grid-area: høyremeny;
    margin-left: auto;
    border-left: 1px solid var(--ax-border-neutral-subtle);
    width: 58px;
    align-items: center;
    z-index: 1;
}
