.historikk-container {
    grid-area: høyremeny;
    width: auto;
    display: flex;
}

.historikk {
    grid-area: høyremeny;
    overflow: hidden;
    /*transition: width 0.2s ease;*/
    height: 100%;
}

.historikk > ul {
    padding: 0 2rem 1rem 1rem;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

.header {
    font-size: 14px;
    padding: 1rem 1rem 1rem 1rem;
}

.xbutton {
    border: 0;
    width: 1rem;
    height: 1rem;
    background: transparent;
    cursor: pointer;
    padding: 0;
    border-radius: 0.25rem;
    margin-left: auto;
}

.xbutton svg {
    font-size: 1rem;
}

.xbutton:hover {
    background: var(--a-surface-hover);
}

.error {
    background-color: var(--a-surface-danger-subtle);
}

.historikkskeletonwrapper {
    grid-area: høyremeny;
    height: 100%;
    width: 378px;
}

.historikkskeleton {
    padding-left: var(--a-spacing-6);
    padding-right: var(--a-spacing-8);
    border-left: 1px solid;
    height: 100%;
    width: 320px;
}

.historikkskeleton > ul {
    padding: 0;
    margin: 0;
}

.historikkskeleton > ul > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    font-size: 14px;
}

.historikkskeletonmeny {
    width: 58px;
    height: 100%;
    border-left: 1px solid var(--a-border-divider);
    padding: var(--a-spacing-6) var(--a-spacing-3);
}
