.historikk-container {
    grid-area: høyremeny;
    width: auto;
    display: flex;
}

.historikk {
    grid-area: høyremeny;
    overflow: hidden;
    /*transition: width 0.2s ease;*/
    height: 100%;
}

.historikk > ul {
    padding: 0 2rem 1rem 1rem;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}
