@import '../../variables';

.Infotrygd__header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 5rem;

  h1 {
    flex: 1;
    letter-spacing: 2rem;
    text-align: center;
    line-height: 2rem;
  }

  .Infotrygd__header--left,
  .Infotrygd__header--right {
    height: 100%;
    width: 15rem;
    min-width: max-content;
  }

  .Infotrygd__header--right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    letter-spacing: 0.125rem;
    color: @terminalBlue;

    > span:not(:first-child) {
      margin-top: 1rem;
    }
  }
}