.skjønnsfastsetting {
    padding-left: var(--a-spacing-5);
    padding-right: var(--a-spacing-12);
}

.buttons {
    margin-top: var(--a-spacing-4);
    display: flex;
    gap: var(--a-spacing-2);
}

.button svg {
    margin-left: var(--a-spacing-2);
}

.button > span {
    display: flex;
}

.arbeidsgivere {
    margin-bottom: var(--a-spacing-4);
}

.arbeidsgiver {
    margin-bottom: var(--a-spacing-2);
}

.enArbeidsgiver {
    font-weight: bold;
    margin-top: var(--a-spacing-2);
}

.arbeidsgiver:last-of-type td {
    padding-bottom: 1rem;
}

.arbeidsgiver td:last-of-type,
.tabell th:last-of-type {
    padding-right: 0;
}

.arbeidsgiverInput > input {
    width: 7rem;
    text-align: right;
}

.tabell td,
.tabell th {
    padding: 0 2rem 0.5rem 0;
    vertical-align: middle;
}

.tabell th {
    text-align: left;
}

.tabell td > * {
    float: right;
}

.tilFordeling {
    margin: var(--a-spacing-3) 0 var(--a-spacing-2);
}

.total {
    border-top: 1px solid var(--a-text-default);
}
.total td {
    padding-top: 0.5rem;
}

.inntektSum {
    text-align: right;
    padding-right: 0;
}

.inputError {
    border-width: 2px;
    border-color: var(--a-text-danger);
}

.skjønnsfastsettingBegrunnelse {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-4);
}

.begrunnelser {
    margin-bottom: var(--a-spacing-4);
}

.mal {
    white-space: break-spaces;
    width: 420px;
}

.fritekst {
    width: 420px;
    margin: 0.5rem 0;
}

.årsak {
    margin-bottom: var(--a-spacing-6);
}

.error {
    padding-top: var(--a-spacing-4);
}

.Bold {
    font-weight: bold;
}
