@import './mixins';
@import './variables';

@paddingY: 1rem;

.Infotrygd {
  .retroScreenEffect();

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #000;
  height: calc(100% - @paddingY * 2);
  padding: @paddingY 2.5rem;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.25rem;

  hr {
    border: none;
    border-top: 2px dashed @terminalBlue;
    margin: 1.5rem 0;
  }

  .InfotrygdMenu {
    li span:last-child {
      color: @terminalBlue;
    }
  }

  @listPadding: 2rem;

  h2 {
    padding: 0 @listPadding;
    margin-bottom: 2rem;
  }

  .Infotrygd__content {
    flex: 1;
    display: flex;
    position: relative;
    padding: 0 @listPadding;
    overflow-y: auto;
    margin: 1rem 0;

    .Infotrygd__content--left,
    .Infotrygd__content--right {
      flex: 1;
    }

    ul.InfotrygdMenu {
      list-style: none;

      li {
        display: flex;

        &:not(:first-child) {
          margin-top: 1rem;
        }

        > span:first-child {
          width: 6rem;
        }

        span.label {
          color: @terminalBlue;
        }
      }
    }
  }

  .Infotrygd__footer {
    color: @terminalBlue;

    .Infotrygd__footer--bottom {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;

      > *:first-child {
        display: flex;
      }

      > *:last-child {
        @width: 10rem;
        position: relative;
        background: @terminalGreen;
        width: @width;
        height: 1rem;

        &:before {
          content: 'Beh.Ktr';
          position: absolute;
          right: @width + 1rem;
        }
      }
    }
  }

  .InfotrygdList {
    display: grid;
    grid-template-columns: 4rem auto auto;
    grid-gap: 1rem;
    height: max-content;

    > *:nth-child(3n + 2) {
      color: @terminalBlue;
    }
  }

  button {
    font-family: inherit;
    font-size: 1rem;
    border: 2px solid @terminalBlue;
    background: none;
    color: #fff;
    padding: 0 1rem;
    border-radius: 0;

    &:focus {
      box-shadow: 0 0 0 0.25rem #fff;
      outline: none;
    }

    &:hover {
      background: @terminalBlue;
      color: #000;
    }
  }

  .Infotrygd__buttons {
    display: flex;

    > *:not(:last-child) {
      margin-right: 2rem;
    }

    span > .typo-normal.skjemaelement__feilmelding {
      position: absolute;
      margin-top: 1rem;
      font-family: inherit;
      font-size: 1rem;
      color: #ff412f;
    }

    button {
      height: 3rem;
    }
  }
}