.InfotrygdInput {
  display: flex;
  color: #fff;
  margin-left: 1rem;

  .InfotrygdInput__cursor {
    width: 1.5rem;
    height: 1rem;
    border-bottom: 0.25rem solid #fff;
  }
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}