.Oversikt {
  margin: 1rem;
  padding: 1rem;
  .tabell {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    tr {
      td:first-child {
        width: 32%;
      }
    }

    tbody {
      tr {
        border-top: 1px solid #b7b1a9;
      }
    }

    td {
      padding: 0.15rem 1rem;
    }

    th {
      text-align: left;
      padding: 0.15rem 1rem;
    }
  }
}
