.Oversikt {
    .alertstripe--advarsel {
        margin: 1rem;
    }

    .Oversikt__container {
        margin: 1rem;
        font-family: 'Source Sans Pro', Arial, sans-serif;

        .spinner {
            margin-left: 0.5em;
            vertical-align: text-top;
        }

        table {
            width: 100%;
        }

        thead {
            text-align: left;
        }

        td {
            width: 33%;
        }

        th {
            height: 2rem;
            vertical-align: middle;
        }

        td,
        th {
            padding: 0.125rem 1rem;
        }

        tbody tr {
            padding: 0.1rem 0;
            min-height: 2rem;
            white-space: nowrap;
        }

        tbody tr,
        thead {
            border-bottom: 1px solid #b7b1a9;
        }

        .Oversikt__neste-behandlinger {
            padding: 1rem;

            .row__tildeling {
                display: inline-flex;
                align-items: center;

                .knapp--avmeld {
                    padding: 0 0.2rem;
                    margin-left: 1rem;
                    color: #0067c5;
                    border: none;
                    background-color: transparent;
                    font-weight: 400;
                    cursor: pointer;
                    text-transform: none;
                    min-height: 2rem;

                    &:focus {
                        box-shadow: inset 0 0 0 3px #254b6d;
                    }
                }

                .knapp--mini {
                    font-size: 1em;
                    text-transform: none;
                    padding: 0 1.5rem;
                    line-height: 1rem;
                    min-height: 2rem;
                    border-radius: 5px;
                }

                .ventetekst {
                    color: #797979;
                }
            }
        }
    }
}
