.header {
    height: var(--ax-space-56);
    min-width: var(--speil-total-min-width);
    flex-shrink: 0;
}

.devHeader {
    background: repeating-linear-gradient(
        -45deg,
        #4d4d00,
        #4d4d00 20px,
        var(--ax-bg-raised) 20px,
        var(--ax-bg-raised) 40px
    );
}

.localhostHeader {
    background: repeating-linear-gradient(
        -45deg,
        #004d00,
        #004d00 20px,
        var(--ax-bg-raised) 20px,
        var(--ax-bg-raised) 40px
    );
}

.Link {
    color: var(--ax-text-neutral-contrast);
    text-decoration: none;
    font-weight: 600;
}
