.ArbeidsgiverCard {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.Title {
    display: grid;
    grid-template-columns: 1.25rem auto;
    grid-column-gap: 0.75rem;
    align-items: start;
}

.Title > svg {
    margin-top: 0.125rem;
    justify-self: center;
}

.Arbeidsforhold {
    max-width: max-content;
    display: flex;
    flex-wrap: nowrap;
}

.Arbeidsforhold > p {
    white-space: nowrap;
}

.Skeleton {
    width: 100%;
}

.Skeleton span {
    height: var(--navds-font-line-height-large);
}
