.Grid {
    --left-column-width: 1.25rem;
    --column-gap: 0.75rem;
    display: grid;
    grid-template-columns: var(--left-column-width) auto;
    grid-column-gap: var(--column-gap);
    grid-row-gap: 0.125rem;
    align-items: center;
}

.IconContainer {
    justify-self: center;
    align-self: start;
    display: flex;
    align-items: center;
    height: var(--a-font-line-height-large);
}

.NoWrap {
    white-space: nowrap;
}

.Tag {
    height: 24px;
    min-height: 24px;
}

.Title {
    margin-bottom: 0;
}

.Skeleton {
    width: 100%;
}

.Skeleton > span {
    height: var(--a-font-line-height-large);
}

.egenskaper {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    padding-bottom: 12px;
}
