.Grid {
    display: grid;
    grid-template-columns: 1.25rem auto;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.125rem;
    align-items: center;
}

.IconContainer {
    justify-self: center;
    align-self: start;
    display: flex;
    align-items: center;
    height: var(--navds-font-line-height-large);
}

.Title {
    margin-bottom: 0;
}
