.Venstremeny {
    --venstremeny-width: 350px;
    --venstremeny-horizontal-padding: 24px;
    --venstremeny-border-width: 1px;
    grid-area: venstremeny;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-sizing: border-box;
    width: var(--venstremeny-width);
    padding: 32px var(--venstremeny-horizontal-padding);
    border-right: var(--venstremeny-border-width) solid var(--a-border-divider);
}

.Title {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
}

.InfoButtonContainer {
    min-height: 24px;
    margin-left: 1rem;
}

.InntektFraAOrdningen.deactivated {
    position: relative;
    background-color: var(--nav-ghost-deaktivert-bakgrunn);
    border: 1px solid var(--nav-ghost-deaktivert-border);
    padding: 1.75rem 1rem 1.25rem;
    margin: 1rem -1rem;
}

.InntektFraAOrdningen.deactivated:after {
    content: 'Brukes ikke i beregningen';
    position: absolute;
    background-color: var(--nav-ghost-deaktivert-pille-bakgrunn);
    border: 1px solid var(--nav-ghost-deaktivert-pille-border);
    padding: 5px 10px;
    border-radius: 4px;
    top: 0;
    transform: translateY(-50%);
}

.Deactivated {
    background-color: var(--nav-ghost-deaktivert-pille-bakgrunn);
    border: 1px solid var(--nav-ghost-deaktivert-pille-border);
    padding: 5px 10px;
    border-radius: 4px;
}

.Table {
    display: grid;
    grid-template-columns: 140px auto;
    grid-column-gap: 1rem;
}

.RightAligned {
    text-align: right;
}

.Content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 4rem;
}

.RouteContainer {
    padding: 2rem;
    overflow-x: scroll;
    box-sizing: border-box;
}

.Error {
    background-color: var(--a-surface-danger-subtle);
}

.Skeleton {
    width: 100vw;
    align-items: center;
}
