.Oversikt {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    overflow-x: hidden;
    height: 100%;
}

.Content {
    margin: 0 var(--a-spacing-6) var(--a-spacing-4);
    padding: 0;
    color: var(--a-text-default);
    overflow: auto hidden;
    box-sizing: border-box;
    flex: 1;
}

.fullHeight {
    height: 88.8vh;
}

.Alert {
    border-radius: 0;
}
