.Oversikt {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    overflow-x: hidden;
    height: 100%;
}

.Content {
    margin: 0 1.5rem 1.5rem;
    padding: 0;
    color: var(--a-text-default);
    overflow: auto hidden;
    box-sizing: border-box;
    flex: 1;
}

.fullHeight {
    height: 100%;
}

.Alert {
    border-radius: 0;
}
