.Tabs {
    border-bottom: 1px solid var(--a-border-strong);
    margin: 0.5rem 1.5rem 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.Tabs > span {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.Tab {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background: none;
    border: none;
    padding: 1rem;
    margin: 0;
    height: max-content;
    font-family: inherit;
    font-size: 1rem;
    font-weight: var(--a-font-weight-bold);
    color: var(--a-text-default);
    cursor: pointer;
    outline: none;
}

.Tab > span {
    font-weight: var(--a-font-weight-regular);
}

.Tab:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: var(--a-surface-action);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: height 0.1s ease;
}

.Tab:hover,
.Tab:focus {
    color: var(--a-surface-action);
}

.Tab:focus-visible {
    box-shadow: inset var(--a-shadow-focus);
}

.Tab.active:before {
    height: 4px;
}

.Meny {
    padding: 16px;
    margin: 0 6px;
}

/*Justerer posisjonering av ikonet i knappen for å se vertikalt sentrert ut for et menneskeøye*/
.Button > svg {
    transform: translateY(-1px);
}

.Button > svg > path {
    transition: fill 0.1s ease;
}

.Button:active {
    background: var(--a-surface-neutral);
    color: #ffffff;
}

.Button.active:not(:active) {
    background: var(--a-surface-neutral-selected);
    color: #ffffff;
}

.Button.active > svg > path {
    fill: #ffffff;
}

.filterbutton {
    margin-right: 1rem;
}
