.skjønnsfastsettingBegrunnelse {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-4);
}

.begrunnelser {
    margin-bottom: var(--a-spacing-4);
}

.mal {
    white-space: break-spaces;
    width: 420px;
}

.fritekst {
    width: 420px;
    margin: 0.5rem 0;
}

.fritekstlabel {
    display: flex;
    align-items: center;
}

.fritekstlabel .button {
    margin-left: 0.25rem;
    display: flex;
    align-items: center;
    padding: 0;
}

.fritekstlabel .button:hover svg,
.fritekstlabel .button:focus svg {
    background: black;
    color: white;
}

.fritekstlabel label {
    line-height: var(--a-font-line-height-large);
}

.fritekstinfo ul {
    list-style-type: initial;
    margin-left: 1.5rem;
}

.årsak {
    margin-bottom: var(--a-spacing-6);
}

.Bold,
label.Bold {
    font-weight: bold;
}

.button svg {
    margin-left: var(--a-spacing-2);
}

.button > span {
    display: flex;
}
