.kildeikon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  color: var(--ax-text-neutral);
  width: 1.25rem;
  height: 1rem;
  cursor: default;

  .tekst {
    transform: translateY(1px);
  }

  &__ainntekt {
    background-color: var(--ax-brand-blue-200);
    border-color: var(--ax-brand-blue-600);
    .tekst {
      transform: translate(-0.5px, 1px);
    }
  }

  &__aordningen {
    background-color: var(--ax-success-200);
    border-color: var(--ax-success-600);
    .tekst {
      transform: translate(0.5px, 1px);
    }
  }

  &__sykmelding {
    background-color: var(--a-lightblue-100);
    border-color: var(--ax-accent-600);
  }

  &__søknad {
    background-color: var(--ax-meta-purple-200);
    border-color: var(--ax-meta-purple-500);
  }

  &__inntektsmelding {
    background-color: var(--ax-meta-lime-200);
    border-color: var(--ax-warning-700);
  }

  &__saksbehandler {
    background-color: var(--ax-neutral-200);
    color: var(--ax-text-neutral);
    border-color: var(--ax-neutral-800);

    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }

  &__skatteetaten {
    background-color: var(--ax-success-100);
    border-color: var(--ax-success-700);
  }
}
