.kildeikon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  color: var(--a-text-default);
  width: 1.25rem;
  height: 1rem;
  cursor: default;

  .tekst {
    letter-spacing: 0.5px;
  }

  &__ainntekt {
    background-color: var(--a-deepblue-100);
    border-color: var(--a-deepblue-500);
  }

  &__aordningen {
    background-color: var(--a-green-100);
    border-color: var(--a-green-500);
  }

  &__sykmelding {
    background-color: var(--a-lightblue-100);
    border-color: var(--a-blue-500);
  }

  &__søknad {
    background-color: var(--a-purple-100);
    border-color: var(--a-purple-400);
  }

  &__inntektsmelding {
    background-color: var(--a-limegreen-100);
    border-color: var(--a-orange-600);
  }

  &__saksbehandler {
    background-color: var(--a-gray-100);
    color: var(--a-text-default);
    border-color: var(--a-gray-700);

    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }
}