.DropdownContent {
    width: max-content;
}

.ExternalLink {
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.snarvei {
    color: var(--ax-text-neutral-subtle);
    margin-left: auto;
    display: flex;
}

.tast {
    width: 0.9rem;
    display: flex;
    justify-content: center;
}
