.Tag {
    --tag-border-color: var(--ax-border-neutral-strong);
    --tag-background-color: var(--ax-neutral-100);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: var(--ax-font-weight-bold);
    line-height: 13px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid var(--tag-border-color);
    background-color: var(--tag-background-color);
}

.Tag.purple {
    --tag-border-color: var(--ax-meta-purple-600);
    --tag-background-color: var(--ax-meta-purple-200);
}

.Tag.blue {
    --tag-border-color: var(--ax-brand-blue-600);
    --tag-background-color: var(--ax-brand-blue-100);
}

.Tag.green {
    --tag-border-color: var(--ax-meta-lime-900);
    --tag-background-color: var(--ax-meta-lime-200);
}

.Tag.orange {
    --tag-border-color: var(--ax-warning-700);
    --tag-background-color: var(--ax-warning-200);
}

.Tag.red {
    --tag-border-color: var(--ax-danger-700);
    --tag-background-color: var(--ax-danger-200);
}

.Tag.gray {
    --tag-border-color: var(--ax-neutral-700);
    --tag-background-color: var(--ax-neutral-200);
}
