.button {
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 0.25rem;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.button:hover svg,
.button:focus svg {
    background: black;
    color: white;
}
