.Toast {
    --toast-background-color: var(--ax-neutral-1000);
    --toast-border-color: var(--ax-neutral-1000);
    --toast-text-color: var(--ax-text-neutral-contrast);
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 14px 16px;
    border-radius: 4px;
    background: var(--toast-background-color);
    border: 1px solid var(--toast-border-color);
    color: var(--toast-text-color);
    width: max-content;
    margin: 16px;
    gap: 12px;
    box-shadow:
        0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.Toast.success {
    --toast-background-color: var(--ax-bg-success-soft);
    --toast-border-color: var(--ax-border-success);
    --toast-text-color: var(--ax-text-neutral);
}

.Toast.error {
    --toast-background-color: var(--ax-bg-danger-soft);
    --toast-border-color: var(--ax-border-danger);
    --toast-text-color: var(--ax-text-neutral);
}
