.container {
  position: relative;
  padding-left: 38px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &:before {
    $top: 32px;
    content: '';
    position: absolute;
    width: 4px;
    height: calc(100% - $top);
    top: $top;
    left: 12px;
    transform: translateX(-50%);
    border-radius: 2px;
  }

  .ikoncontainer {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
  }

  &__saksbehandler {
    &:before, .ikoncontainer {
      background-color: #826ba1;
    }
  }

  &__automatisk {
    &:before, .ikoncontainer {
      background-color: #59514b;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
  }
}