.DropdownMenu {
    width: max-content;
}

.DropdownMenu li > button {
    height: 32px;
}

.MenuButton {
    color: var(--a-surface-action);
    font-weight: var(--a-font-weight-bold);
    height: 48px;
    display: flex;
    gap: 8px;
}

.MenuButton:active {
    color: var(--a-text-on-inverted);
}
