.IngenOppgaver {
    align-self: flex-start;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
}

.Caption {
    font-size: 1.25rem;
    flex: 1;
}
