.Oversikt {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    overflow-x: hidden;
}

.Content {
    padding: 0 var(--ax-space-24) var(--ax-space-16);
    color: var(--ax-text-neutral);
    overflow: auto hidden;
    box-sizing: border-box;
    flex: 1;
}

.fullHeight {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.Alert {
    border-radius: 0;
}
