.tabs {
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
  margin: 0.5rem 1.5rem 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: var(--ax-space-48);

  > span {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.tab {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: none;
  border: none;
  padding: 1rem;
  margin: 0;
  height: max-content;
  font-family: inherit;
  font-size: 1rem;
  font-weight: var(--ax-font-weight-bold);
  color: var(--ax-text-neutral);
  cursor: pointer;
  outline: none;

  > span {
    font-weight: var(--ax-font-weight-regular);
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: var(--ax-bg-accent-strong);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: height 0.1s ease;
  }

  &:hover, &:before {
    color: var(--ax-bg-accent-strong);
  }

  &:focus-visible {
    box-shadow: inset var(--a-shadow-focus);
  }

  &.active:before {
    height: 4px;
  }
}

.button {
  background: var(--ax-bg-neutral-soft);

  > svg {
    transform: translateY(-1px);

    > path {
      transition: fill 0.1s ease;
    }
  }

  &:active {
    background: var(--ax-bg-accent-strong);
    color: #ffffff;
  }

  &.active:not(:active) {
    background: var(--ax-bg-accent-strong);
    color: #ffffff;
  }

  &.active > svg > path {
    fill: #ffffff;
  }
}

.filterbutton {
  &:not(.varaktiv), .varaktiv:not(.active) {
    transition: 0.2s ease-in-out;
  }
}

.statistikkbutton {
  margin-left: auto;
}

.roundedbutton {
  height: 32px;
  width: 32px;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.1s ease;

  > svg {
    flex-shrink: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus-visible {
    background: var(--ax-bg-accent-moderate-hover);
  }

  &:focus-visible {
    box-shadow: var(--a-shadow-focus);
  }

  &:active {
    background-color: var(--ax-bg-accent-strong-pressed);

    > svg > g,
    > svg > path {
      fill: #fff;
    }
  }
}