.container {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 0.5rem;
  }

  .feiloppsummering {
    margin: 1.5rem 0 0.5rem;
  }
}

.formcontainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 1rem;
  min-width: 495px;

  &.editing {
    margin-left: -15px;
    border-left: 3px solid var(--ax-bg-accent-strong);
    padding: 0.5rem 1rem;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: flex-start;
    width: 100%;

    > div > * {
      margin-right: 1rem;
    }

    .tittelwrapper {
      display: flex;
      align-items: center;

      .tittel {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: var(--ax-text-neutral);
      }
    }
  }
}
