.PageNotFound {
    display: flex;
    align-items: center;
    margin: 4.5rem 5rem;
    gap: 3rem;
}

.PageNotFound > section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.PageNotFound > section > * {
    width: max-content;
}

.ErrorText {
    font-weight: 600;
    line-height: 1.5rem;
}

.Heading {
    font-size: 2.5rem;
    line-height: 2.75rem;
}
