.Table td,
.Table th {
    padding: var(--ax-space-8) var(--ax-space-24) var(--ax-space-8) var(--ax-space-8);
    border: none;
}

.Table th {
    padding-top: 0;
}

.SelvstendigNaeringRow {
    background-color: var(--ax-bg-accent-soft);
}

.RegularWeightHeader th {
    font-weight: var(--ax-font-weight-regular);
}

.TotalRow {
    border-top: 1px solid var(--ax-text-neutral);
}
