.SimuleringView {
    padding: 1.25rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.NegativtBeløp {
    color: var(--ax-text-danger-subtle);
    font-style: italic;
}

.SimuleringValueContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SimuleringValue > p:first-of-type {
    font-weight: 600;
}
