.månedsbeløp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arbeidsgiverRow {
  display: flex;
  flex-direction: column;
  box-shadow: none !important;
}

.iconContainer {
  justify-self: center;
  align-self: flex-start;
  display: flex;
  align-items: center;
  height: var(--a-font-line-height-large);
}

.arbeidsforhold {
  max-width: calc(
          var(--venstremeny-width) - (var(--venstremeny-horizontal-padding) * 2) - var(--column-gap) -
          var(--left-column-width) - var(--venstremeny-border-width)
  );
  display: flex;
  flex-wrap: nowrap;

  > p {
    white-space: nowrap;
  }
}

.skeleton {
  width: 100%;

  span {
    height: var(--a-font-line-height-large);
  }

  .arbeidsgiver {
    display: flex;
    gap: 12px
  }
}

.header {
  background: none !important;
  justify-content: flex-end;
  border-bottom: none;
  display: flex;
  box-shadow: none !important;
  flex-direction: row-reverse;
  padding: 0 !important;

  &:focus {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: var(--a-shadow-focus);
  }

  > svg {
    width: 24px;
    height: 24px;
  }

  &.anonymisert:hover {
    text-decoration: none;
  }
}

.content {
  border-bottom: none;
  padding: 0;
}
