.TilUtbetaling {
    --icon-width: 16px;
    --margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.Row > svg {
    width: var(--icon-width);
}

.SimuleringButton {
    margin-left: calc(var(--icon-width) + var(--margin));
    margin-bottom: 0.25rem;
    width: max-content;
}

.modal {
    max-width: 29rem;
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modalBody p:first-of-type {
    font-weight: bold;
}

.Feilmelding {
    padding: 0 1.5rem 1rem;
}
