.TilUtbetaling {
    --icon-width: 16px;
    --margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.Row {
    display: flex;
    align-items: center;
    gap: var(--margin);
}

.Row > svg {
    width: var(--icon-width);
}

.Row > p:first-of-type {
    flex: 1;
}

.SimuleringButton {
    margin-left: calc(var(--icon-width) + var(--margin));
    margin-bottom: 0.25rem;
    width: max-content;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal p:first-of-type {
    font-weight: bold;
}

.Feilmelding {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}
