.tittel {
    margin-top: 2px;
}

.lenkeknapp {
    padding: 0;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        background: transparent;
    }

    span {
        font-weight: normal;
    }
}

.periodeListe ul {
    margin-block: 0;
}

.periodeListeElement {
    margin-block-end: var(--ax-space-4);

    > div {
        color: var(--ax-text-subtle) !important;
    }
}
