.button {
    padding: 0;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        background: transparent;
    }

    span {
        font-weight: normal;
    }
}

li.li {
    margin-block-end: var(--a-spacing-1);

    > div {
        color: var(--a-text-action) !important;
    }
}