.Card {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.Grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.125rem;
    justify-items: flex-start;
    margin-bottom: 1.5rem;
}

.Grid > :nth-child(2n) {
    justify-self: flex-end;
}

.NegativePenger {
    color: var(--ax-text-danger-subtle);
    font-weight: bold;
}

.ErrorMessage {
    color: var(--ax-text-danger-subtle);
    font-weight: 600;
    margin-top: 1rem;
}

.Skeleton {
    width: 100%;
}

.Skeleton span {
    height: var(--ax-font-line-height-large);
}
