.Venstremeny {
    --venstremeny-width: 366px;
    --venstremeny-horizontal-padding: 16px;
    --venstremeny-border-width: 1px;
    grid-area: venstremeny;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-sizing: border-box;
    width: var(--venstremeny-width);
    padding: 32px var(--venstremeny-horizontal-padding);
    border-right: var(--venstremeny-border-width) solid var(--ax-border-neutral-subtle);
}

.Error {
    background-color: var(--ax-bg-danger-soft);
}

.Skeleton {
    align-items: center;
}
