.Saksbilde {
    display: grid;
    max-width: 100vw;
    min-width: var(--speil-total-min-width);
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: max-content max-content max-content auto;
    grid-template-areas:
        'unntatt unntatt unntatt'
        'personlinje personlinje personlinje'
        'timeline timeline timeline'
        'venstremeny content høyremeny';
    flex: 1;
    height: max-content;
    transition: 0.2s ease;
}

.Loader {
    position: absolute;
    left: calc(50% - 2rem);
    top: max(calc(50% - 2rem), 200px);
}

.Warning {
    grid-column-start: venstremeny;
    grid-column-end: høyremeny;
}

.Alert {
    border-radius: 0;
}
