.NotatButton {
    height: 24px;
    width: 40px;
    padding: 0;
    background: transparent;
}

.NotatButton path {
    fill: var(--navds-semantic-color-interaction-primary);
}

.NotatButton:hover path,
.NotatButton:active path {
    fill: white;
}

.NotatButton:focus {
    box-shadow: 0 0 0 2px var(--navds-semantic-color-focus);
}

.NotatButton:active {
    background: var(--navds-semantic-color-focus);
    box-shadow: none;
}
