.NotatButton {
    align-items: flex-end;
    height: 100%;
    padding: 0;
    background: transparent;
    box-shadow: none;
}

.NotatButton:focus {
    box-shadow: 0 0 0 2px var(--a-border-focus);
}

.NotatButton:active {
    background: var(--a-border-focus);
    box-shadow: none;
}
