.BeregnetGrid {
    display: grid;
    grid-template-columns: 200px 130px 50px;
    grid-row-gap: 0.25rem;
    height: 36px;
    align-items: center;
}

.BeregnetGrid > p:nth-child(2),
.BeregnetGrid > p:nth-child(5) {
    text-align: right;
}

.månedsbeløp {
    display: flex;
    justify-content: right;
}
