.grid {
    display: grid;
    grid-template-columns: 228px 130px;
    grid-row-gap: 0.25rem;
}

.grid > p {
    padding: 0 0.25rem;
}

.grid > p:nth-child(2n) {
    white-space: nowrap;
    text-align: right;
}

.erTreMnd > p:nth-child(4n + 5),
.erTreMnd > p:nth-child(4n + 6) {
    background-color: #f2f7ff;
}

.sammenligningsgrid {
    grid-template-columns: 11rem 10rem 10rem;
}

.sammenligningsgrid > p:nth-child(2n) {
    white-space: nowrap;
    text-align: left;
}

.sammenligningsgrid > p:nth-child(3n-1),
.sammenligningsgrid > p:nth-child(3n) {
    white-space: nowrap;
    text-align: right;
}

.sammenligningsgrid > p:nth-child(6n + 7),
.sammenligningsgrid > p:nth-child(6n + 8),
.sammenligningsgrid > p:nth-child(6n + 9) {
    background-color: #f2f7ff;
}

.item {
    box-shadow: none !important;
}

.content {
    padding: 8px 0 0;
}

.sammenligningsgridAlle {
    margin-top: -0.5rem;
    grid-template-columns: 11rem 10rem 10rem;
}

.sammenligningsgridAlle > p:nth-child(2n) {
    white-space: nowrap;
    text-align: left;
}

.sammenligningsgridAlle > p:nth-child(3n-1),
.sammenligningsgridAlle > p:nth-child(3n) {
    white-space: nowrap;
    text-align: right;
}

.sammenligningsgridAlle > p:nth-child(6n + 4),
.sammenligningsgridAlle > p:nth-child(6n + 5),
.sammenligningsgridAlle > p:nth-child(6n + 6) {
    background-color: #f2f7ff;
}

.arbeidsforholdInfoText {
    display: flex;
    margin-top: 32px;
    font-size: 14px;
    line-height: 20px;
    gap: 1rem;
}

.bold {
    font-weight: 600;
}

.gjennomsnitt {
    margin-bottom: 0.5rem;
}

.header {
    justify-content: flex-start;
    display: flex;
    box-shadow: none !important;
    padding: 0.5rem 0 !important;
    text-decoration: underline;
    color: var(--ax-bg-accent-strong);

    & > span {
        font-size: var(--ax-font-size-large);
        font-weight: var(--ax-font-weight-regular);
        line-height: var(--ax-font-line-height-heading-xsmall);
    }

    &:hover {
        background: none !important;
        text-decoration: none;
        color: var(--ax-bg-accent-strong);
    }
}
