.IconRow {
  display: flex;

  .IconRow__left {
    display: flex;
    flex: 2;
    align-items: flex-start;
    padding-top: 0.75rem;

    > svg {
      margin-right: 1rem;
    }

    .typo-normal:last-child {
      margin-right: 1rem;
    }

    .typo-normal.bold {
      font-weight: 500;
    }

    > p:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    }
    .vis-modal-button {
      margin-left: 1rem;
      text-decoration: none;
      font-size: 1rem
    }
  }

  .IconRow__right {
    display: flex;
    flex: 3;
  }
}

.divider {
  margin: 1em -1em;
  display: flex;

  &:after {
    content: "";
    flex: 1;
    background: #C6C2BF;
    height: 1px;
  }
}
