.input-icon-wrap {
   border: 1px solid #ddd;
   display: flex;
   flex-direction: row;
}

.input-with-icon {
   border: none;
   flex: 1;
}

.input-icon,
.input-with-icon {
   padding: 10px;
   font-size: 1em;
}

