.Search {
    border: 1px solid #d7dae0;
    border-radius: 3px;
    display: flex;
    height: 2rem;
    width: 24rem;
}

.Search input[type='text'] {
    padding: 0.5rem;
    background-color: #3e3832;
    color: #d7dae0;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    flex: 1;
}

.Search input[type='text']:focus {
    outline: none;
}

.Search button {
    border: none;
    display: flex;
    background: none;
    padding: 0 0.5rem;
    color: #d7dae0;
    width: max-content;
    font-size: 1.3em;
}

.Search button:hover {
    filter: brightness(150%);
    backdrop-filter: blur(2px);
}

.Search button:focus {
    color: #fff;
}

.Search button:active {
    background: black;
}

.Search button svg.svg-inline--fa {
    width: 1rem;
    height: 1rem;
}
