.input-icon-wrap {
    border: 1px solid #d7dae0;
    border-radius: 3px;
    display: flex;
    height: 2rem;
    width: 20rem;
}

.input-with-icon {
    border: none;
    flex: 1;
}

.input-icon,
.input-with-icon {
    padding: 0.5rem;
}

.input-icon-wrap input[type='text'] {
    background-color: #3e3832;
    color: #d7dae0;
    font-size: 1em;
}

.input-icon-wrap input[type='text']:focus {
    outline: none;
}
