.dokument p {
    font-size: var(--a-font-size-large);
    line-height: var(--a-font-line-height-large);
    word-break: break-word;
}

.dokument > p:nth-of-type(even) {
    padding-bottom: 0.5rem;
}

.skeleton {
    padding-right: 1rem;
}

.skeleton p {
    margin-bottom: 0.25rem;
}

.liste {
    padding-bottom: 0.5rem;
}

.inntektEndringAarsakDetaljer {
    display: grid;
    grid-template-columns: minmax(80px, max-content) auto;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.arbeidsgiver {
    margin-bottom: 0.5rem;
}
