.åpne {
  border: 0;
  width: 1rem;
  height: 1rem;
  background: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 0.25rem;

  svg {
    font-size: 1rem;
  }

  &:hover {
    background: var(--a-surface-hover)
  }
}
