.dokument .sammelinje {
    display: flex;
    flex-wrap: wrap;
}

.dokument .sammelinje > p {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}

.dokument > p:nth-child(even) {
    padding-bottom: 0.5rem;
}

.inntektsliste {
    padding: 0;
    margin-left: var(--ax-space-8);
}

.skeleton {
    padding-right: 1rem;
}

.skeleton p {
    margin-bottom: 0.25rem;
}

.spørsmål {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    flex: 0 0 100%;
}

.rotspørsmål {
    padding-bottom: 0.5rem;
    padding-top: 0;
}

.spørsmål.rotspørsmål {
    padding-left: 0;
}
