.RefusjonsRad:not(:last-of-type) {
  border-bottom: 1px solid #c6c2bf;
}

.RefusjonsHeading {
  display: flex;
  gap: var(--ax-space-8);
  max-width: 100%;
  border-bottom: 1px solid #3e3832;
  padding-bottom: var(--ax-space-8);
  margin-top: var(--ax-space-8);
}

.RefusjonsHeading > div {
  width: 144px;
}

.DateInput {
  min-width: 144px;
  box-sizing: border-box;
  margin-top: var(--ax-space-8);

  > div {
    width: 100%;
  }
}

/* Overskriver designbibliotekstyling som setter width til auto og ødelegger refusjonslinjene */
.DateInput input[size] {
  width: 100%;
}

.BeløpInput input {
  text-align: right;
}

.Button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--ax-bg-accent-strong);
  padding: 8px 4px;
  margin-left: -4px;
  margin-top: var(--ax-space-8);
}

.Button > p {
  line-height: 16px;
  text-decoration: underline;
}

.Button:hover > p {
  text-decoration: none;
}

.Button:focus-visible {
  box-shadow: inset 0 0 0 3px var(--ax-border-focus);
}

.Ikon {
  margin-top: var(--ax-space-8);
}

.refusjonsopplysninger {
  display: flex;
  align-items: center;
}
