.Innrapportering.panel {
  display: flex;
  flex-direction: column;

  > .typo-normal {
    display: flex;
    align-items: flex-start;

    > * {
      margin-left: 0.5rem;
    }
  }

  > .typo-normal:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .typo-normal span:first-child {
    @width: 15rem;
    min-width: @width;
    max-width: @width;
  }

  .typo-normal span:last-child {
    font-style: italic;
    min-width: 15rem;

    &.skjemaelement__feilmelding {
      margin: 0;
    }
  }

  .knapp {
    width: max-content;
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &.sendt {
      @sendtColor: #38a161;
      border-color: @sendtColor;
      color: @sendtColor;
    }

    > svg {
      margin-left: 0.5rem;
    }

    &.knapp--disabled {
      background: #fff;
    }
  }
}