.Oppsummering__right-col,
.Oppsummering .panel {
    flex: 1;
}

.Oppsummering {
    width: 100%;
    display: flex;
}

.Oppsummering .typo-undertittel {
    margin-bottom: 1rem;
}

.Oppsummering > .panel {
    margin-right: 0;
    min-width: 24rem;
    max-width: max-content;
}

.Oppsummering + .Navigasjonsknapper {
    margin-left: 1rem;
}