.container {
  display: flex;
  gap: 0.5rem;

  .content {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .sinna:hover {
      color: var(--ax-danger-600);
    }

    .lei:hover {
      color: var(--ax-warning-600);
    }

    .nøytral:hover {
      color: var(--ax-accent-600);
    }

    .glad:hover {
      color: var(--ax-success-500);
    }

    .veldig-glad:hover {
      color: var(--ax-success-800);
    }
  }
}