.Inngangsvilkår {
    padding: var(--ax-space-32) var(--ax-space-24) var(--ax-space-64);
}

.Inngangsvilkår > div:first-of-type > *:not(:last-of-type) {
    margin-right: 1rem;
}

.Flex {
    display: flex;
}

.VurderteVilkår {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.strek {
    border-right: 3px solid var(--ax-neutral-300);
    display: inline-block;
    align-self: stretch;
}

.vurderingspanel {
    width: 522px;
    min-width: 522px;
}

.vurderingspanelAktiv {
    background-color: var(--ax-bg-accent-soft);
    padding: var(--ax-space-16) var(--ax-space-12) var(--ax-space-64) var(--ax-space-12);
}
