.Inngangsvilkår {
    padding: var(--ax-space-32) var(--ax-space-24) var(--ax-space-64);
}

.Inngangsvilkår > div:first-of-type > *:not(:last-of-type) {
    margin-right: 1rem;
}

.Flex {
    display: flex;
}

.VurderteVilkår {
    display: flex;
    flex-direction: column;
    width: max-content;
}
