.header {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.header:not(:last-of-type) {
    padding-bottom: 0.5rem;
}

.tekstContainer {
    display: flex;
    flex-wrap: wrap;
}

.tittel {
    display: flex;
    align-items: center;
    color: var(--a-text-default);
    font-size: 18px;
    font-weight: 600;
    margin-right: 0.5rem;
    white-space: nowrap;
    min-height: 1.5rem;
}

.paragraf {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--a-text-subtle);
    white-space: nowrap;
    min-height: 1.5rem;
}

.ikon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5rem;
    width: 2.5rem;
    min-height: 1.5rem;
}
