.applicant {
   display: flex;
   flex-direction: column;
   padding: 5px;
   justify-content: center;
   align-items: center;
}

.personName {
   font-size: 2rem;
}

.leftToRight {
   display: flex;
}

.labels {
   display: flex;
   flex-direction: column;
   justify-content: left;
}
