.applicant {
   display: flex;
   flex-direction: column;
   padding: 5px;
   justify-content: center;
   align-items: center;
}

.personName {
   font-size: 2rem;
}

.leftToRight {
   display: flex;
}

.labelWithIcon {
   display: flex;
   font-size: 1rem;
   position: relative;
   top: 2px;
}

.label {
   position: relative;
   top: 2px;
}

.labels {
   display: flex;
   flex-direction: column;
   justify-content: left;
}

[class^="icon"] {
   width: 20px;
   height: 20px;
   margin-right: 10px;
   fill: #fff;
   display: flex;
   vertical-align: middle;
 }
