.Beregning .BolkHeader__item {
    display: flex;
    justify-content: normal;
}

.Beregning .BolkHeader__item .typo-normal {
    width: initial;
}

.Beregning .BolkHeader__item .typo-normal:first-child {
    width: 76%;
}
