.DetaljerBoks {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 32rem;

  .typo-undertittel {
    margin-bottom: 2rem;
  }

  .periodeliste {

    .periode {
      width: 60%;
      display: flex;
      justify-content: space-between;
    }

    .sum-linje {
      margin: 1rem 0;
    }

    .sum-linje:last-child {
      margin-bottom: 0;
    }
  }
}

.DetaljerBoks__link {
  cursor: pointer;
}