.SykepengegrunnlagModal {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 32rem;

  .typo-undertittel {
    margin-bottom: 2rem;
  }

  .periodeliste {

    .periode {
      width: 65%;
      display: flex;
      justify-content: space-between;
    }

    .periodeforklaring {
      font-style: italic;
      margin-bottom: 1rem;
    }

    .sum-linje {
      margin: 1rem 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}