.heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .ikon {
    &:after {
      display: flex;
      content: '';
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #E0D8E9;
      border: 1px solid #8269A2;
    }
  }
}

.ag {
  border-left: 3px solid transparent;

  &.redigerer {
    border-color: var(--a-border-action);
  }
}

.editing {
  background-color: #F2F3F5;
  border-left: var(--border-size) solid var(--a-surface-action);
  padding: 0.75rem var(--horizontal-padding) 24px;
  margin: 0 calc(var(--horizontal-padding) * -1) 0 calc((var(--horizontal-padding) + var(--border-size)) * -1);
}

.arbeidsgiverHeader {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-top: 0.5rem;
}

.arbeidsgivernavn {
  max-width: 228px;
  font-weight: 600;
}

.organisasjonsnummer {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}