.Feilregistrert {
    color: var(--a-text-danger);
}

.Innrammet {
    width: 20px;
    height: 16px;
    border: 1px solid var(--a-gray-700);
    background: var(--a-gray-100);
    border-radius: 3px;
}

.Retur {
    transform: rotateY(0.5turn);
    padding: 0.015rem;
}

.OpphevStans {
    padding: 0.08rem;
}

.LagtPaaVent {
    padding: 0.09rem;
}

.InnrammetNotat {
    padding: 0.12rem;
}

.Notat {
    white-space: pre-wrap;
    overflow: hidden;
    font-family: inherit;
}

.Notat,
.NotatTruncated,
.tidsfrist {
    max-width: 100%;
    font-size: var(--a-font-size-large);
    line-height: var(--a-font-line-height-large);
}

.NotatTruncated {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: pre-line;
}

.NotatTextWrapper {
    cursor: pointer;
    outline: none;
}

.NotatTextWrapper:focus-visible {
    box-shadow: var(--a-shadow-focus);
}

.NotatContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.LeggTilKommentarButton {
    font-size: var(--a-font-size-medium);
    width: max-content;
}

.frist {
    font-weight: 600;
}
