.skjønnsfastsetting {
    padding-left: var(--a-spacing-5);
    padding-right: var(--a-spacing-12);
}

.buttons {
    margin-left: var(--a-spacing-8);
    display: flex;
    gap: var(--a-spacing-2);
}

.button svg {
    margin-left: var(--a-spacing-2);
}

.button > span {
    display: flex;
}

.arbeidsgivere {
    width: 354px;
    margin: var(--a-spacing-8) 0;
}

.arbeidsgiver {
    margin-bottom: var(--a-spacing-2);
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--a-spacing-4);
}

.arbeidsgiverInput {
    height: var(--a-spacing-8);
    border-radius: 3px;
    border: 1px solid var(--a-border-strong);
    outline: none;
    padding: 0 var(--a-spacing-1);
    text-align: right;
    width: 7rem;
}

.arbeidsgiverInput:focus-visible {
    box-shadow: var(--a-shadow-focus);
}

.arbeidsgiverInput::-webkit-outer-spin-button,
.arbeidsgiverInput::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.arbeidsgiverInput[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}

.inputError {
    border-width: 2px;
    border-color: var(--a-text-danger);
}

.skjønnsfastsettingBegrunnelse {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-4);
}

.begrunnelser {
    margin-bottom: var(--a-spacing-4);
}

.mal {
    white-space: break-spaces;
    width: 420px;
    margin-left: var(--a-spacing-8);
    margin-bottom: var(--a-spacing-8);
}

.fritekst {
    width: 420px;
    margin-left: var(--a-spacing-8);
}

.årsak {
    margin-bottom: var(--a-spacing-6);
}

.error {
    padding-top: var(--a-spacing-4);
}
