.header {
    display: flex;
    width: 100%;
    align-items: center;
}

.label {
    width: 16rem;
}

.beløp {
    position: relative;
    padding-left: 0.5rem;
}

.beløp > span {
    margin-left: -0.75rem;
}

.kildeIkon {
    margin-left: 0.5rem;
}

.redigeringsknapp {
    margin-left: auto;
    width: 10rem;
    text-align: left;
}

.opprinneligSykepengegrunnlag {
    text-decoration: line-through;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
