.skjønnsfastsetting {
    padding-left: var(--a-spacing-5);
    padding-right: var(--a-spacing-12);
}

.buttons {
    margin-left: var(--a-spacing-8);
    display: flex;
    gap: var(--a-spacing-2);
}

.button svg {
    margin-left: var(--a-spacing-2);
}

.button > span {
    display: flex;
}

.arbeidsgivere {
    width: 354px;
    margin: var(--a-spacing-8) 0;
}

.arbeidsgiver {
    margin-bottom: var(--a-spacing-2);
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--a-spacing-4);
}

.arbeidsgiverInput > input {
    width: 7rem;
    text-align: right;
}

.inputError {
    border-width: 2px;
    border-color: var(--a-text-danger);
}

.skjønnsfastsettingBegrunnelse {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-4);
}

.begrunnelser {
    margin-bottom: var(--a-spacing-4);
}

.mal {
    white-space: break-spaces;
    width: 420px;
    margin-left: var(--a-spacing-8);
    margin-bottom: var(--a-spacing-8);
}

.fritekst {
    width: 420px;
    margin-left: var(--a-spacing-8);
}

.årsak {
    margin-bottom: var(--a-spacing-6);
}

.error {
    padding-top: var(--a-spacing-4);
}
