!personer/minimalistisk_aroma.json
!personer/optimistisk_banan.json
!personer/punktlig_jakke.json
!personer/skeptisk_service.json
!personer/slapp_appelsin.json
!personer/slapp_appelsin_tilkomne_inntekter.json
!personer/uten_varsler.json
personer/*.json
