.Begrunnelsesskjema {
    margin-top: 1.5rem;
}

.Textarea {
    width: 652px;
    min-height: 120px;
    white-space: pre-line;
}

.Fieldset {
    margin-bottom: 2rem;
}

.Checkbox {
    display: flex;
    padding: 0;
    margin: 0;
}

.Checkbox input {
    width: 1.5rem;
    height: 1.5rem;
    left: 0;
}

.Checkbox p {
    padding-left: 0.5rem;
}
