.Content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-width: 0;
}

.RouteContainer {
    padding: 2rem 2rem 4rem;
    overflow-x: scroll;
    box-sizing: border-box;
    width: 100%;
}

.Error {
    border-radius: 0;
    grid-column-start: venstremeny;
    grid-column-end: høyremeny;
}

.Skeleton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-column-start: venstremeny;
    grid-column-end: høyremeny;
}

.Varsel {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0;
}
