.liste {
    padding-top: var(--ax-space-12);
}

.liste .header {
    padding: var(--ax-space-8) var(--ax-space-16) var(--ax-space-8) 0;
    background-color: transparent;
    border: 0;
    font-weight: 600;
    box-shadow: none;
}

.innhold {
    padding: 0 var(--ax-space-4) 18px;
    margin-left: var(--ax-space-28);
}
