.filtermeny {
    overflow: auto;
    height: 100%;
    padding-left: var(--ax-space-8);
    scrollbar-width: none;
}

.filterskeleton {
    width: 296px;
}

.justerbarlinjeplaceholder {
    width: 0.5rem;
    border-left: 1px solid var(--ax-border-neutral-strong);
}

.skeletonsection {
    border-bottom: 2px solid var(--ax-border-neutral-subtle);
    padding-bottom: var(--ax-space-16);
    padding-right: var(--ax-space-24);
    padding-left: var(--ax-space-4);
    margin-top: var(--ax-space-20);
    display: flex;
    flex-direction: column;
    gap: 2px;
}
