.filtermeny {
    overflow: auto;
    height: 100%;
    margin-left: var(--a-spacing-6);
}

.filterskeleton {
    width: 296px;
}

.justerbarlinjeplaceholder {
    width: 0.5rem;
    border-left: 1px solid var(--a-border-strong);
}

.skeletonsection {
    border-bottom: 2px solid var(--a-border-subtle);
    padding-bottom: var(--a-spacing-4);
    padding-right: var(--a-spacing-6);
    padding-left: var(--a-spacing-1);
    margin-top: var(--a-spacing-5);
    display: flex;
    flex-direction: column;
    gap: 2px;
}
