.liste {
    padding-top: var(--ax-space-12);
    border-bottom: 2px solid var(--ax-border-neutral-subtle);
}

.liste .header {
    padding: var(--ax-space-8) var(--ax-space-16) var(--ax-space-8) 0;
    background-color: transparent;
    border: 0;
    font-weight: 600;
    box-shadow: none;
}

.liste .header::before,
.header::after {
    height: 0;
}

.innhold {
    padding: 0 var(--ax-space-4) 18px;
    margin: 0 0 0 30px;
}
