.Kommentarer {
    display: flex;
    flex-direction: column;
    font-size: var(--ax-font-size-medium);
}

.Kommentarer > p {
    font-weight: var(--ax-font-weight-bold);
}

.Kommentar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 0;
    gap: 4px;
}

.Kommentar::after {
    content: '';
    height: 1px;
    width: 200px;
    background-color: var(--ax-border-neutral-subtle);
}

.Kommentarer * {
    font-size: inherit;
}

.Kommentar > div {
    margin-right: 48px;
    white-space: pre-line;
    line-height: var(--ax-font-line-height-medium);
}

.Feilregistrert {
    background: var(--ax-bg-danger-soft);
    padding: 0 8px;
    width: 200px;
    font-style: italic;
}
