#root {
    display: flex;
    flex-direction: column;
    min-width: max-content;
}

body {
    background-color: #fff;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    height: 100%;
    min-width: max-content;
}

html {
    height: 100%;
}

.main {
    margin-top: 1em;
}

svg[kind='ok-sirkel-fyll'] g path:first-child {
    fill: #38a161;
}

.typo-normal {
    color: #3e3832;
}
