.EditableInntekt {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.EditableInntekt > div:nth-of-type(2) {
    margin-bottom: 1.5rem;
}

.Grid {
    display: grid;
    grid-template-columns: 200px 130px;
    grid-row-gap: 0.25rem;
}

.Grid p {
    line-height: 36px;
}

.OpprinneligMånedsbeløp {
    text-decoration: line-through;
    margin: 0;
}

.beløp {
    justify-content: end;
}

.OmregnetTilÅrsinntekt.harEndringer > p {
    font-style: italic;
}

.OmregnetTilÅrsinntekt > div {
    position: relative;
    display: flex;
    align-items: center;
}

.OmregnetTilÅrsinntekt.harEndringer > div > p {
    padding-left: 1rem;
    font-style: italic;
}

.Warning {
    font-style: italic;
}

.Buttons {
    display: flex;
    margin-top: var(--a-spacing-4);
    gap: var(--a-spacing-2);
}

.Feiloppsummering {
    margin: 1.5rem 0 0.5rem;
}

.WarningIngenSkjemaEndringer {
    margin: 0.5rem 0;
}

.Skjæringstidspunkt {
    font-weight: 600;
}

.månedsbeløp {
    display: flex;
    gap: 1rem;
}
