.EditableInntekt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Grid {
    display: grid;
    grid-template-columns: 200px 130px 130px;
    grid-row-gap: 0.25rem;
}

.Grid p {
    line-height: 36px;
}

.OpprinneligMånedsbeløp {
    text-decoration: line-through;
    justify-self: start;
    margin: 0 0 0 var(--a-spacing-4);
}

.beløp {
    justify-content: end;
}

.error {
    grid-column: 2 / -1;
    margin-left: 26px;
}

.OmregnetTilÅrsinntekt.harEndringer > p {
    font-style: italic;
}

.OmregnetTilÅrsinntekt > div {
    position: relative;
    display: flex;
    align-items: center;
}

.OmregnetTilÅrsinntekt.harEndringer > div > p {
    padding-left: 1rem;
    font-style: italic;
}

.Warning {
    font-style: italic;
}

.Buttons {
    display: flex;
    margin-top: var(--a-spacing-4);
    gap: var(--a-spacing-2);
}

.WarningIngenSkjemaEndringer {
    margin: 0.5rem 0;
}

.Skjæringstidspunkt {
    font-weight: 600;
}

.månedsbeløp {
    display: flex;
    gap: 1rem;
}
