.Kommentarer {
    display: flex;
    flex-direction: column;
    font-size: var(--a-font-size-medium);
}

.Kommentarer > p {
    font-weight: var(--a-font-weight-bold);
}

.Kommentar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 0;
    gap: 4px;
}

.Kommentar::after {
    content: '';
    height: 1px;
    width: 200px;
    background-color: var(--a-text-subtle);
}

.Kommentarer * {
    font-size: inherit;
}

.Kommentar pre {
    margin-right: 48px;
    white-space: pre-line;
    line-height: var(--a-font-line-height-medium);
}

.Feilregistrert {
    background: var(--a-surface-danger-subtle);
    padding: 0 8px;
    width: 200px;
    font-style: italic;
}
