.Kommentarer {
    display: flex;
    flex-direction: column;
    font-size: var(--navds-font-size-medium);
}

.Kommentarer > p {
    font-weight: var(--navds-font-weight-bold);
}

.Kommentar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 0;
    gap: 4px;
}

.Kommentar::after {
    content: '';
    height: 1px;
    width: 200px;
    background-color: var(--navds-semantic-color-text-muted);
}

.Kommentarer * {
    font-size: inherit;
}

.Kommentar pre {
    margin-right: 48px;
    white-space: normal;
    line-height: var(--navds-font-line-height-medium);
}

.Feilregistrert {
    background: var(--navds-alert-color-error-background);
    padding: 0 8px;
    width: 200px;
    font-style: italic;
}
