.ToggleButton {
    width: max-content;
    height: 24px;
    position: absolute;
    right: 0;
}

.ToggleButton > span {
    display: flex;
    align-items: center;
}

.Feilregistrert {
    color: var(--navds-semantic-color-feedback-danger-text);
}

.ListItem {
    height: 32px;
}

.Notat {
    white-space: pre-wrap;
    overflow: hidden;
}

.Notat,
.NotatTruncated {
    max-width: 100%;
    font-size: var(--navds-font-size-medium);
    line-height: var(--navds-font-line-height-medium);
}

.NotatTruncated {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.NotatTextWrapper {
    cursor: pointer;
    outline: none;
}

.NotatTextWrapper:focus-visible {
    box-shadow: var(--navds-shadow-focus);
}

.NotatContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.LeggTilKommentarButton {
    font-size: var(--navds-font-size-medium);
    width: max-content;
}
