.NotatForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.NotatForm > span {
    display: inline-flex;
    gap: 16px;
}

.NotatForm > span > button {
    max-width: max-content;
}

.NotatForm > span > button > span {
    display: flex;
    gap: 8px;
    align-items: center;
}

.NotatForm textarea {
    font-size: var(--a-font-size-medium);
}
