@import '../Picker/Picker.less';
@borderThickness: 0.125rem;

.CasePicker {
  position: relative;
  box-shadow: 0 0 0 @borderThickness @blue;
  border-radius: @borderThickness;
  height: @idHeight;

  .focusable();

  > .typo-normal {
    text-align: center;
  }

  .Picker__popup {
    top: @idHeight + @borderThickness;
  }

  .Picker__chevron {
    border: none;
    border-left: @borderThickness solid @blue;
  }
}