.Dropdown {
    --border-radius: 4px;
    --vertical-margin: 8px;
}

.Dropdown > .navds-popover {
    padding: 16px 0;
    border-radius: var(--border-radius);
}

.Dropdown > .navds-popover:focus,
.Dropdown > .navds-popover:focus-visible {
    box-shadow: 0 0.05rem 0.25rem 0.125rem rgb(0 0 0 / 8%);
    border-color: var(--a-border-focus);
}

.Button {
    display: flex;
    align-items: center;
    color: var(--a-surface-action);
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 12px;
}

.Button > svg {
    margin-left: 0.5rem;
}

.Button:focus-visible {
    box-shadow: inset var(--a-shadow-focus);
}

.List {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: var(--vertical-margin) 0;
    background: var(--a-bg-default);
    border-radius: var(--border-radius);
}
