.linkText {
    display: flex;
    align-items: center;
    font-size: var(--ax-font-size-medium);
    font-weight: var(--ax-font-weight-regular);
    color: var(--ax-bg-accent-strong);
    text-decoration: underline;
    gap: 0.5rem;
}

.linkText:hover {
    text-decoration: none;
}
