nav {
    background-color: #78706A;
    width: 4em;
    min-height: 100%;
    padding-top: 10em !important;
    float: left;
    overflow: auto;
    list-style: none;
}

nav li a.active {
    background-color: #3E3832;
}
nav li a {
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 4em;
}

#nav-link-sykdomsvilkår {
    background-image: url('img/Helse_hvit.svg');
}

#nav-link-inngangsvilkår {
    background-image: url('img/Oppgaver_hvit.svg');
}

#nav-link-sykepengegrunnlag {
    background-image: url('img/Beregning_hvit.svg');
}

#nav-link-periode {
    background-image: url('img/Kalender_hvit.svg');
}

#nav-link-utbetaling {
    background-image: url('img/Utbetaling_hvit.svg');
}

#nav-link-oppsummering {
    background-image: url('img/Vedtak_hvit.svg');
}
