nav {
    background-color: #78706A;
    width: 4em;
    min-height: 100%;
    padding-top: 10em !important;
    float: left;
    overflow: auto;
    list-style: none;
}

nav li a.active {
    background-color: #EAECEB;
}
nav li a {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 3.6em;

}

#nav-link-sykdomsvilkår:not(.active) {
    background-image: url('img/Helse_hvit.svg');
}
#nav-link-sykdomsvilkår.active {
    background-image: url('img/Helse_sort.svg');
}

#nav-link-inngangsvilkår:not(.active) {
    background-image: url('img/Oppgaver_hvit.svg');
}
#nav-link-inngangsvilkår.active {
    background-image: url('img/Oppgaver_sort.svg');
}

#nav-link-beregning:not(.active) {
    background-image: url('img/Beregning_hvit.svg');
}
#nav-link-beregning.active {
    background-image: url('img/Beregning_sort.svg');
}

#nav-link-periode:not(.active) {
    background-image: url('img/Kalender_hvit.svg');
}
#nav-link-periode.active {
    background-image: url('img/Kalender_sort.svg');
}

#nav-link-utbetaling:not(.active) {
    background-image: url('img/Utbetaling_hvit.svg');
}
#nav-link-utbetaling.active {
    background-image: url('img/Utbetaling_sort.svg');
}

#nav-link-oppsummering:not(.active) {
    background-image: url('img/Vedtak_hvit.svg');
}
#nav-link-oppsummering.active {
    background-image: url('img/Vedtak_sort.svg');
}
