.Varselpanel.panel {
  border-radius: 4px 3px 3px 4px;
  border-left: 4px solid #ff9100;

  .alertstripe--advarsel {
    display: flex;
    align-items: center;
    min-height: 2.5rem;
    border-radius: 0;
    border-left: none;
    margin: -2rem -2rem 2rem -2rem;
    padding: 0 0 0 1rem;

    .typo-normal {
      font-weight: 600;
      padding: 0.5rem 0;
    }
  }
}