name: deploy

on:
  push:
    branches:
      - main

env:
  APP: speil
  TEAM: tbd

jobs:
  test-and-lint:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - name: Installer deps
        uses: ./.github/actions/setup-npm-deps
        with:
          NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: cp envs/.env.dev .env.production
      - run: pnpm run lint
      - run: pnpm run test

  build-dev:
    if: "!startsWith(github.ref, 'refs/heads/next/')"
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - name: Installer deps
        uses: ./.github/actions/setup-npm-deps
        with:
          NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: cp envs/.env.dev .env.production
      - run: pnpm run build
      - uses: ./.github/actions/cdn-n-image
        name: Last opp til CDN og bygg docker image
        id: cdn-n-image
        with:
          app: ${{ env.APP }}
          team: ${{ env.TEAM }}
          env: dev
    outputs:
      image: ${{ steps.cdn-n-image.outputs.image }}

  build-production:
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - name: Installer deps
        uses: ./.github/actions/setup-npm-deps
        with:
          NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: cp envs/.env.production .env.production
      - run: pnpm run build
      - uses: ./.github/actions/cdn-n-image
        name: Last opp til CDN og bygg docker image
        id: cdn-n-image
        with:
          app: ${{ env.APP }}
          team: ${{ env.TEAM }}
          env: prod
    outputs:
      image: ${{ steps.cdn-n-image.outputs.image }}

  deploy-dev:
    name: Deploy to dev
    needs: [build-dev, test-and-lint]
    runs-on: ubuntu-latest
    permissions:
      id-token: 'write'
    environment:
      name: dev
      url: https://speil.ansatt.dev.nav.no
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: deploy/dev.yml,deploy/alerts-dev.yml
          VAR: 'image=${{ needs.build-dev.outputs.image }},team=${{env.TEAM}},app=${{env.APP}}'

  deploy-prod:
    name: Deploy to prod
    needs: [build-production, test-and-lint]
    runs-on: ubuntu-latest
    permissions:
      id-token: 'write'
    if: github.ref == 'refs/heads/main'
    environment:
      name: production
      url: https://speil.intern.nav.no
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: deploy/prod.yml,deploy/alerts-prod.yml
          VAR: 'image=${{ needs.build-production.outputs.image }},team=${{env.TEAM}},app=${{env.APP}}'
