name: master

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: install deps
        run: npm install
      - name: build client
        run: npm run build
      - name: build server
        run: npm run build-server
      - name: run e2e-test
        run: npm run e2e-test
      - name: Archive Cypress artifacts
        uses: actions/upload-artifact@v1
        with:
          name: videos
          path: e2e-tests/cypress/videos
      - name: create docker tag
        env:
          DOCKER_IMAGE: docker.pkg.github.com/navikt/helse-speil/speil
        run: |
          echo $DOCKER_IMAGE > .docker_image
          git rev-parse HEAD | cut -c1-7 > .docker_tag
      - name: build docker image
        run: docker build . --pull -t $(cat .docker_image):$(cat .docker_tag)
      - name: push docker image
        run: |
          echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin https://docker.pkg.github.com
          docker push $(cat .docker_image):$(cat .docker_tag)
        env:
          DOCKER_USERNAME: ${{ secrets.GH_REPO_USER }}
          DOCKER_PASSWORD: ${{ secrets.GH_REPO_TOKEN }}
      - name: deploy to preprod
        uses: navikt/deployment-cli/action@ea9e740
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWAIT_SECONDS: 0
        with:
          cluster: dev-fss
          team: tbd
          resources: deploy/speil-preprod.yaml,deploy/redis.yaml
          rawresources: deploy/alerts-preprod.yaml
      - name: deploy to prod
        uses: navikt/deployment-cli/action@ea9e740
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWAIT_SECONDS: 0
        with:
          cluster: prod-fss
          team: tbd
          resources: deploy/speil-prod.yaml,deploy/redis.yaml
          rawresources: deploy/alerts-prod.yaml
