name: prs

on: [pull_request]

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - name: Installer deps
        uses: ./.github/actions/setup-npm-deps
        with:
          NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: cp envs/.env.dev .env.production
      - run: pnpm run lint
      - run: pnpm run test
      - run: pnpm run tsc
      - run: pnpm run build
