.EnigBolk {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.EnigBolk .ListeItem {
    flex: 1;
    display: flex;
    align-items: center;
}

.EnigBolk > *:not(:first-child) {
    margin-left: 2rem;
}

.EnigBolk .ListeItem p svg {
    vertical-align: middle;
}

.EnigBolk .EnigBoks .EnigBoks__input {
    min-width: 32rem;
}
