.ListeItemBolk {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.ListeItemBolk .ListeItem {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 0.85rem;
    max-width: 18rem;
    min-width: 18rem;
}

.ListeItemBolk > *:not(:first-child) {
    margin-left: 2rem;
}

.ListeItemBolk .ListeItem p svg {
    vertical-align: middle;
}

.ListeItemBolk .Uenigboks .Uenigboks__input {
    flex: 1;
}
