.Inntekt {
    box-sizing: border-box;
    margin-bottom: 24px;
}

.Inntekt.editing {
    background-color: var(--speil-background-secondary);
    border-left: 4px solid var(--navds-color-action-default);
    padding: 0.5rem 1rem;
}

.Inntekt.deaktivert {
    background-color: var(--nav-ghost-deaktivert-bakgrunn);
    border: 1px solid var(--nav-ghost-deaktivert-border);
    padding: 30px;
    margin: 0 -31px;
    position: relative;
}

.Header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    width: 100%;
}
.Header > div > * {
    margin-right: 0.5rem;
}

.Header.editing {
    justify-content: space-between;
}

.Deaktivertpille {
    position: absolute;
    top: -14px;
    left: 15px;
    background-color: var(--nav-ghost-deaktivert-pille-bakgrunn);
    border: 1px solid var(--nav-ghost-deaktivert-pille-border);
    padding: 5px 10px;
    border-radius: 4px;
}

.InntektContainer {
    margin-bottom: 1.5rem;
}
