.Inntekt {
    --border-size: 3px;
    --horizontal-padding: 12px;
    --vertical-padding: 8px;
    --width: 504px;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 24px;
    width: var(--width);
    padding-top: 2.25rem;
}

.Inntekt.editing {
    background-color: #e6f0ff;
    border-left: var(--border-size) solid var(--navds-semantic-color-interaction-primary);
    padding: calc(var(--vertical-padding) * 5) var(--horizontal-padding) 24px;
    width: 531px;
    margin: calc(var(--vertical-padding) / 2 * -1) calc(var(--horizontal-padding) * -1) 0
        calc((var(--horizontal-padding) + var(--border-size)) * -1);
}

.Inntekt.deaktivert {
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 48px;
}

.Inntekt.deaktivert:before {
    --margin: -32px;
    content: '';
    position: absolute;
    background-color: var(--nav-ghost-deaktivert-bakgrunn);
    border: 1px solid var(--nav-ghost-deaktivert-border);
    top: var(--margin);
    right: var(--margin);
    bottom: var(--margin);
    left: var(--margin);
    z-index: -1;
}

.Inntekt.deaktivert:after {
    --margin: -32px;
    content: 'Brukes ikke i beregningen';
    position: absolute;
    background-color: var(--nav-ghost-deaktivert-pille-bakgrunn);
    border: 1px solid var(--nav-ghost-deaktivert-pille-border);
    padding: 5px 10px;
    border-radius: 4px;
    top: var(--margin);
    transform: translateY(-50%);
}

.Header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    width: 100%;
}

.Header.editing {
    justify-content: space-between;
}

.ArbeidsgiverHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.Arbeidsgivernavn {
    display: flex;
    white-space: nowrap;
    max-width: 300px;
    font-size: 18px;
    font-weight: 600;
}

.Organisasjonsnummer {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
