.Grid,
.BeregnetGrid {
    display: grid;
    grid-template-columns: 228px 130px;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.25rem;
}
.BeregnetGrid {
    grid-template-columns: 228px 130px 50px;
}

.Grid > p:nth-child(2n) {
    white-space: nowrap;
    text-align: right;
}

.BeregnetGrid > p:nth-child(2),
.BeregnetGrid > p:nth-child(5) {
    text-align: right;
}

.BeregnetGrid > :nth-child(3n) {
    white-space: nowrap;
    margin-top: var(--a-spacing-1);
}

.Title {
    font-size: 14px;
    color: var(--a-text-subtle);
}

.Divider {
    border: none;
    border-bottom: 1px solid #b7b1a9;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 12px 0 12px 0;
}

.InfoIcon {
    height: 24px;
    margin-left: 0.5rem;
}

.Kildeikon {
    margin-left: 0.5rem;
}

.ArbeidsforholdInfoText {
    display: flex;
    margin-top: 32px;
    font-size: 14px;
    line-height: 20px;
    gap: 1rem;
}

.SisteTolvMndInntekt {
    margin-top: 1.5rem;
}
