.Oppsummeringsboks {
  width: max-content;
  padding: 2.5rem;

  .typo-undertittel {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }

  hr {
    border: none;
    border-top: 1px solid #b7b1a9;
    margin-top: 1.5rem;
  }
}